[2019-05-10 23:47] kannappanr commented on #760
@dwhitlow Thanks for filing this issue. We will take a look at it.

[2019-05-10 23:55] kannappanr commented on #759
We spoke about this internally, we can also extend this to use one credential to create presigned urls for other users also, then this API becomes too long. Instead of that, you can have a function that does this for you

[code]

It can be called like this

[code]

[2019-05-11 00:12] JonasT commented on #759
@kannappanr are you saying `then this API becomes too long` is more important than fixing the fact you're requiring me (and everyone else in this situation to instantiate `Minio()` when I definitely don't want to connect via that host for safety reasons??

I'm all for clean API design, but if your minimalism puts me at risk for an external route for traffic I definitely don't want there then IMHO

[2019-05-11 00:25] JonasT commented on #759
(and if this wasn't obvious I'm fine with using the code sample above for my own project. I just think this is a significant shortcoming that should also fixed *for everybody else*, and they shouldn't need to google dig up this ticket then figure out they need to call some function in a more unusual way and they had better get it right or it would route outside of their internal data center networ

[2019-05-11 00:29] harshavardhana commented on #759
@JonasT @kannappanr already showed how to do it, this is not standard behavior for our SDK and we don't want to have non-standard APIs just to satisfy this requirement.

What is posted by @kannappanr already works in the situation what you want. We will not be implementing an additional API here.

[2019-05-11 00:43] kannappanr commented on #759
@JonasT We can always add a check in the function that will require all the values to be passed.

I don't see any difference between what I have and what you had suggested earlier ```Add an url_hostname, url_port and url_region parameter to presigned_get_object(). ```

[2019-05-11 00:45] JonasT commented on #759
@kannappanr the huge difference is that someone already said it could connect outside, and that means you are essentially making me call a function that is *designed* to call outside in some cases *which I will never want to*.

This is not a big problem if I get it right, but 1. will everyone get it right, and why would you want them to risk not getting it right just to save two very easy to under

[2019-05-11 00:54] JonasT commented on #759
Sorry, maybe I didn't fully understand your suggestion. If your suggestion is to change `presigned_get_object()` to always require all parameters, document that it never connects outside and make sure that it never does, then that does indeed sound like an improvement. However, it's still not obvious instantiating `Minio()` itself won't establish a connection, so while this would certainly make th

[2019-05-11 01:05] harshavardhana commented on #759
We do welcome these suggestions @JonasT but it is overkill for us to mention these things, it is obvious that constructor won't make network requests - mentioning this simply makes it's verbose without adding new value.  This is how AWS SDKs are designed and we do follow the best practices here as rest of them.i

So AFAICS there is no action from us here, it is working as expected and there are wr

[2019-05-11 01:13] JonasT commented on #759
Is just mentioning that really already too much? And why is it obvious it doesn't connect? It certainly wasn't to me. To someone deeply familiar with S3 maybe, but why is that your only target audience especially if this is fixable with a sentence in the docs?

The bigger problem however is with `presigned_get_object()` which not only not obviously doesn't connect, but apparently does actually con

[2019-05-12 00:41] kannappanr commented on #759
@JonasT  Will modify `presigned_get_object` documentation appropriately to make it clear. Closing this issue now. Please feel free to reach out to us if you have further questions.

[2019-05-12 00:41] #759 closed

[2019-05-13 21:09] kannappanr commented on #705
Closing this issue now. Have marked this issue for future. Will re-open this issue when we get time to do this.

[2019-05-13 21:09] #705 closed

[2019-05-16 13:03] #760 closed

[2019-05-22 14:27] harshavardhana opened #762 "Implement select_object_content API"
Based on the implementation in Go - implement python SDK API

https://docs.min.io/docs/golang-client-api-reference#SelectObjectContent

[2019-05-26 16:04] zukka77 opened #764 "minio.error.SignatureDoesNotMatch non ascii metadata"
Whenever i try to put an object with non ascii metadata value I get minio.error.SignatureDoesNotMatch

[code]
This works:
[code]
This doesn't:
[code]

[2019-05-27 02:49] kannappanr commented on #764
@zukka77 Thanks for reporting this issue. Will take a look.

[2019-05-30 20:31] optimuspaul opened #765 "set_bucket_notification InvalidArgument has no information about what is invalid"
the example set_bucket_notification doesn't work. I was trying to setup a bucket notification and get a `minio.error.InvalidArgument`, I tired the example and got the same error. There is no way to see what the issue is and you would think the example in the docs would work.

[2019-05-30 20:38] #765 closed

[2019-05-30 22:56] vadmeste commented on #764
@zukka77 in the following documentation, https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-metadata, it says that
 `Each key-value pair must conform to US-ASCII when you are using REST`

`é` is not accepted as a header value even in the HTTP spec.

The maximum we can do here is to return an error with a self explanatory error

[2019-06-04 06:17] abandiya opened #766 "ConnectionReset error in fget_object"
Whenever there is at least one connection in pool manager and I call fget_object, it fails with below exception:

[code]

If I clear out the pool and call fget_object then it works.

[code]

[2019-06-04 14:10] kannappanr commented on #766
@abandiya Can you please provide more information or a sample code to reproduce the issue.

I tried
[code]
and was unable to reproduce the issue

Also what version of `minio-py` re you using?

[2019-06-04 14:32] vadmeste commented on #766
Not able to reproduce the issue too, @abandiya, what's your minio-py version ?

Also, as @kannappanr suggested, it would be great if you could provide a complete sample code which reproduces this

[2019-06-06 06:46] abandiya commented on #766
My code is pretty much the same as yours.
I am using 4.0.17 version of minio-py.
I am running RELEASE.2019-05-23T00-29-34Z of minio in docker.
Could this be a Minio server issue?

[2019-06-06 10:56] vadmeste commented on #766
@abandiya is this error consistent in your case ?

Do you see any logs in Minio server side ? (`docker logs your_minio_container_name`)

[2019-06-07 05:02] tjd2002 opened #768 "Conda packaging"
Please make minio-py available for installation with [conda](https://docs.conda.io/en/latest/).

Apart from being an easy way to install minio-py for use by developers, it enables software that depends on minio-py to be made available using conda (see, e.g. https://github.com/datajoint/datajoint-python/issues/293 )

Packaging could either be done by:
1) Building the package during CI, then hosting

[2019-06-07 05:16] kannappanr commented on #768
@tjd2002 Will take a look and get back to you.

[2019-06-07 05:45] tjd2002 commented on #768
OK, I have just proposed a new feedstock on conda-forge. If you want to go that route I can add you as the maintainer.

(Note it is acceptable for folks outside the project to maintain packages on conda-forge; but obviously you all should be the maintainers there if you want to be!)

[2019-06-07 05:46] tjd2002 commented on #768
Relevant conda-forge docs: https://conda-forge.org/docs/maintainer/adding_pkgs.html

[2019-06-07 22:44] tjd2002 commented on #768
OK, minio 4.0.17 is now available on conda-forge! (Feedstock repo here: https://github.com/conda-forge/minio-feedstock)

[code]

If one or more of the minio devs wants to take over as a maintainer of the conda-forge minio package, that would be awesome; just issue a PR against [the recipe](https://github.com/conda-forge/minio-feedstock/blob/master/recipe/meta.yaml) adding your GitHub username to t

[2019-06-07 22:47] harshavardhana commented on #768
@tjd2002 this is acceptable to us

[2019-06-07 22:53] tjd2002 commented on #768
OK! If you change your mind, or if any other minio user wants to help out just hop over to the feedstock.

[2019-06-07 22:53] #768 closed

[2019-06-08 15:33] kannappanr commented on #764
ping @vadmeste We can add something like
[code]

[2019-06-11 20:28] andrewtmendoza opened #771 "Re-using client object for multi-threading leads to corrupt data"
Hello,

I have a singleton class to re-use a Minio client object:

![image](https://user-images.githubusercontent.com/4677802/59302282-77fb4280-8c48-11e9-8545-3f40150321de.png)

However, I've noticed some cases where the contents of multiple files are mixed together:
![image](https://user-images.githubusercontent.com/4677802/59302337-9bbe8880-8c48-11e9-9dcb-95cd0a799d2f.png)
In the image above, th

[2019-06-11 21:05] kannappanr commented on #771
@andrewtmendoza Thanks for filing this issue. We will take a look and get back to you.

[2019-06-12 18:35] #764 closed

[2019-06-18 18:32] ebozduman commented on #771
@andrewtmendoza,
Could you give us more details on how to reproduce the issue, like full script, the scenario, your setup, and/or any other related info to reproduce the problem in house?

By the way, you know your singleton class, `MinioClient`, instance creation in `get_instance(cls)` method is not thread safe.

[2019-06-19 08:51] andrewtmendoza commented on #771
@ebozduman, we tried removing the singleton and creating a new client in each thread, but we got the same error.

After further investigation, we've found that Minio is not the cause of this error. We were trying to use multithreading with a tarfile, which turns out to be a known bug: https://bugs.python.org/issue23649

[2019-06-19 08:51] #771 closed

[2019-06-19 16:34] ebozduman commented on #771
@andrewtmendoza ,
Thank you...

[2019-06-23 03:34] ralston3 commented on #730
Just an FYI, **+1**'ing this as the docs don't explicitly state "make your own `http_client` or use our default client". Could be something [as simple as an asterisk on this page](https://docs.min.io/docs/python-client-api-reference.html) (for the Python examples)

[2019-06-26 05:34] andrewtmendoza opened #773 "presigned_put_object injects headers into object"
The `presigned_put_object` method generates a URL like so:
![image](https://user-images.githubusercontent.com/4677802/60153131-36b27900-9798-11e9-9742-685099b6c977.png)

And I am able to successfully upload a file via a PUT request:
![image](https://user-images.githubusercontent.com/4677802/60153196-68c3db00-9798-11e9-86dc-1bc7f04e1e65.png)

However, when I try to download the file (via the Minio

[2019-06-26 06:05] andrewtmendoza commented on #773
Actually, I think I just figured it out! Instead of submitting a PUT request with **form-data**, it should be **binary**:

![image](https://user-images.githubusercontent.com/4677802/60154921-aaa35000-979d-11e9-8886-be85bf8407f9.png)

[2019-06-26 06:05] #773 closed

[2019-07-03 23:05] JeetThakare opened #775 "sorting order of the objects returned by list_objects"
What is the default sorting order of the object generator returned by `list_objects`?

[2019-07-03 23:17] kannappanr commented on #775
Amazon S3 lists objects in UTF-8 character encoding in lexicographical order.

PTAL https://docs.aws.amazon.com/AmazonS3/latest/API/v2-RESTBucketGET.html

MinIO does the same. Please reach out to us at https://slack.min.io for such questions.

[2019-07-03 23:17] #775 closed

[2019-07-12 08:15] eorsavik opened #776 "Minio generated 'access_key' and 'secret_key' are user login dependent."
Minio generated 'access_key' and 'secret_key' are user login dependent. When we start the Minio server using different user login, it generate different 'access_key' and 'secret_key'. is it expected behavior ?

In a solution how we can ensure Minio server always generate same 'access key' and 'secret key' although any user can start the server ?

Thanks

[2019-07-12 08:20] nitisht commented on #776
you can set the environment variables `MINIO_ACCESS_KEY` and `MINIO_SECRET_KEY`

[2019-07-12 09:35] eorsavik commented on #776
That's mean we need to parse the 'access_key' and 'secret_key' from the output log that Minio server generate and set the environment variable accordingly.
Is there any better way ?

If we run the Minio server as a Linux service (using systemd), is setting environment variable the only option  ?

Thank you...

[2019-07-12 09:38] nitisht commented on #776
You can set the credentials using environment variables @eorsavik . MinIO will honour the values set in these variables. Ref https://github.com/minio/minio-service/tree/master/linux-systemd#create-default-configuration

[2019-07-12 09:48] kannappanr commented on #776
@eorsavik MinIO generates access and secret key only in the case of `standalone fs mode`. In all the other scenarios it is advisable to set the environment variable. Values set in Environment variable will override the ones generated by MinIO. So, in your case if you set the environment variables, they will take precedence.

[2019-07-12 11:58] eorsavik commented on #776
Let me try. Will update accordingly.
Thank you so much...

[2019-07-14 09:32] kannappanr commented on #776
ping @eorsavik. Were you able to try it out?

[2019-07-16 11:29] eorsavik commented on #776
Sorry for the late reply.
Yes, it works fine. Thank you all for your support.

When Minio is run from 'systemctl', where does it generate log ?
Can we configure the location of Minio log file ?

Thank you so much ....

[2019-07-17 00:47] kannappanr commented on #776
You should use `journalctl` to view the logs. Closing this as answered. Please feel free to reach out to us if you have further questions

[2019-07-17 00:47] #776 closed

[2019-07-17 12:31] viewpointsa opened #778 "Access Denied with custom policy"
Like in documentation :
[code]

then

`mc admin policy add myminio getonly getonly.json`

Add new user

`mc admin user add myminio newuser newuser123 getonly`

Add new configuration

`mc config host add myminio-newuser http://localhost:9000 newuser newuser123 --api s3v4`

And test it:
`mc cat myminio-newuser/my-bucketname/my-objectname`
Note: cp do not work

Now try with python code:
[code]
Output

[2019-07-17 13:03] vadmeste commented on #778
@viewpointsa 'irstea', shouldn't it be 'my-bucketname' instead ? or vice versa ?

[2019-07-17 13:05] viewpointsa commented on #778
sorry I'm have not hide every bucketname

[2019-07-17 13:08] vadmeste commented on #778
Sure, what you did seems to be correct, going to test this locally, can you tell us what are the versions of your Minio server and mc and minio-py ?

[2019-07-18 06:50] viewpointsa commented on #778
Ok, I find the solution I must specify a region, in Minio constructor

[code]

[2019-07-18 06:50] #778 closed

[2019-07-19 12:25] InfiniteLife opened #779 "Connection isn't established"
I'm running following code:

[code]
And it works fine on Windows.
But when I am trying to run this code on Ubuntu 18.04, it freezes for forever trying to check the bucket existence:
`minioClient.bucket_exists(AnnoBucket)`

When I interrupt process, here is the output message:
[code]

[2019-07-19 13:00] nitisht commented on #779
do you have https enabled on the server side @InfiniteLife

[2019-07-19 18:34] kannappanr commented on #779
@InfiniteLife Please try this code to connect to Play server and you can find that the code returns right away.

[code]

[2019-07-20 07:19] InfiniteLife commented on #779
@kannappanr @nitisht yes it works, but for some reason not from the server where is located minio storage. Our admins said that tcp-connect with minio server was established, but replay packet from minio during tls-handshake wasn't received(blocked somewhere). So they had to redirect traffic from minio server through another point and now it works

[2019-07-20 10:53] kannappanr commented on #779
@InfiniteLife Closing this issue based on your comment. Please feel free to reach out to us if you have further questions.

[2019-07-20 10:53] #779 closed

[2019-07-24 02:27] xdreamman opened #780 "python client.stat_object raise 'NoSuchKey: message: The specified key does not exist.'"
when I use python: minio 4.0.0 stat_object
bucket_name : image
object_name : human/import/boteye_select_vertical/20190418/20190418220/5120_01201_1555642445656%2B5120_01201_1555642446657/2019071602_1555642442789_74_1555642442740.jpg

%2B  == '+'

## Current Behavior
raise:
NoSuchKey: message: The specified key does not exist.

## Steps to Reproduce (for bugs)

1. object_name include '+'
2. use stat

[2019-07-24 03:32] nitisht commented on #780
Thanks for reporting @xdreamman we'll take a look

[2019-08-03 00:26] Shappenny opened #781 "Setting region='us-east-1' breaks `get_object` when the URL is not `localhost`"
### Summary
I believe I found a bug while writing unit tests for a custom Python library that uses the minio-py SDK to talk to a MinIO server. Setting `region='us-east-1'` in the Minio constructor generates a `TypeError` in the urllib3 method `urlopen` call made by the minio-py API's `_url_open` method when the host name is not on the same host (e.g. `localhost`). The exact error message is provid

[2019-08-03 07:41] kannappanr commented on #781
@Shappenny I tried
``
from minio import Minio
from minio.error import ResponseError

client = Minio('play.min.io',
               access_key='Q3AM3UQ867SPQQA43P2F',
               secret_key='zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG',
               region='us-east-1')

try:
    data = client.get_object('test', 'issue')
    with open('/tmp/issue', 'wb') as file_data:
        for d in data.stream(3

[2019-08-05 09:07] Praveenrajmani commented on #780
@xdreamman looks like the object key `human/import/boteye_select_vertical/20190418/20190418220/5120_01201_1555642445656%2B5120_01201_1555642446657/2019071602_1555642442789_74_1555642442740.jpg` is already encoded. You should not encode/decode the encoded key and then pass it to stat_object?

[2019-08-05 13:55] xdreamman commented on #780
@Praveenrajmani
ok，I will try this tomorrow.

[2019-08-05 17:04] #762 closed

[2019-08-07 01:50] kannappanr commented on #781
@Shappenny Can you please paste a sample code to reproduce if what I have works for you?

[2019-08-08 17:29] kannappanr commented on #781
@Shappenny Closing this issue. Please feel free to re-open the issue when you have more information.

[2019-08-08 17:29] #781 closed

[2019-08-12 05:19] #718 closed

[2019-08-14 22:17] scott-maddox opened #786 "`sign_v4` should always add `X-Amz-Content-Sha256` header"
Currently, `sign_v4` sets the `X-Amz-Content-Sha256` header to 'UNSIGNED-PAYLOAD' when the request is going over HTTPS. However, as can be seen by running `mc --debug`, this header should always be set to the actual digest. I have not tested if the minio server enforces this requirement for all endpoints, but it does appear to enforce it for the admin endpoints (or at least for `minio/admin/v1/add

[2019-08-14 22:18] harshavardhana commented on #786
This behavior is same as AWS S3 SDKs and their recommendation.. TLS traffic automatically protects content so there is no need to add additional checksums.

[2019-08-14 22:19] harshavardhana commented on #786
Also this library shouldn't be used for admin APIs its meant for S3 APIs only.

[2019-08-15 00:53] kannappanr commented on #786
@scott-maddox closing this issue based on the above comments. Please feel free to reach out to us if you have further questions.

[2019-08-15 00:53] #786 closed

[2019-08-15 15:27] scott-maddox commented on #786
Then perhaps there should be an issue on the minio server to not require `X-Amz-Content-Sha256` on the `admin` interface? I'm unclear on which repo that would be, though.

As a side note, is there a reason admin API wrappers are only available in Go? It would be nice to have them in python.

[2019-08-15 16:10] harshavardhana commented on #786
Admin interface is not S3 API @scott-maddox so doesn't have the same requirements, it can be additionally relaxed as well to have similar requirements.

The reason is we expect users to use `mc` CLI directly. It is meant for admins not for regular users using an S3 API.

[2019-08-16 21:33] Shappenny opened #787 "Broken URL link in minio/error.py"
# Problem
The link to AWS' S3 errors (http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.htmlRESTErrorResponses) is broken on [line 266 of minio/error.py](https://github.com/minio/minio-py/blob/master/minio/error.py#L266).

# Solution
It is simply missing a '#', i.e. it should be https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html#RESTErrorResponses.

[2019-08-16 22:40] harshavardhana commented on #787
Please send a fix @Shappenny happy to accept a PR

[2019-08-19 23:47] deekoder commented on #787
@Shappenny would you be able to send us a PR?

[2019-08-20 02:19] Praveenrajmani commented on #780
@xdreamman The key in the presigned URL is already signed. Stat will not recognise this. You should use the actual key names in Stat.

[2019-08-21 16:25] deekoder commented on #780
@xdreamman  let us know if your issue is not resolved. I will close this out. Feel free to reactivate if you want to discuss further.

[2019-08-21 16:25] #780 closed

[2019-08-22 05:57] brisoe opened #788 "list_buckets() and list_objects() returning empty list/empty generator on Huawei-Openstack in OpenTelecomCloud"
Dear all,

when using list_buckets() or list_objects() on an account/bucket in OpenTelecomCloud, the result is an empty list, allthough there are buckets/objects in that account.
Using the minio-client (on Windows or Linux), returns the correct results.
See below code for accessing the account:

[code]

Error-Message:

Thanks in advance and Best Regards
Sören

[2019-08-22 06:02] harshavardhana commented on #788
I don't think we expect minio-py to work properly unless they are S3 compatible - is OpenTelecomCloud S3 compatible ?

[2019-08-22 07:34] brisoe commented on #788
Hey,
according to OpenTelecomCloud documentation it is compatible to most features (including list_buckets() and list_objects()):

[Compatibility of OBS REST APIs](https://docs.otc.t-systems.com/en-us/api_obs/obs/en-us_topic_0031666094.html)

Best Regards

[2019-08-22 10:02] harshavardhana commented on #788
Would it be possible to add `trace_on()` to your requests?  we can see what is being returned by the server? @brisoe

[2019-08-22 13:24] brisoe commented on #788
Below the result for `s3_client.trace_on(sys.stdout)`:

I hope that helps.

Best Regards
Sören

[2019-08-26 05:29] kannappanr commented on #788
@brisoe Can you try
[code]

Also, can you paste the debug output when you use `mc`

It should be something like this

`mc ls alias --debug`

[2019-08-26 06:19] brisoe commented on #788
**@kannappanr:**
When configuring the client without region, as you suggested, the error is still the same as quoted above. I can paste the http-trace and error-message if wanted.

Below the `mc` Log-Output for listing the buckets in that account:

Best Regards

[2019-08-26 06:25] harshavardhana commented on #788
This is mostly due to incompatibility in the implementation. Since minio-py works fine with S3 - this has to be manually debugged.

[2019-08-27 12:23] petersedivec opened #789 "Multipart uploads fails on fips enabled RHEL because md5 hash not supported"
We are trying to use the python put_object.  It's failing on anything larger than 5MB because we are required by RHEL STIG to have fips enabled.  md5 is not fips compliant and so it's disabled in the openssl package.  It appears md5 hash is being used to validate the multipart upload was successful and not for encryption, but this seems to be one of the biggest complaints in the community that md5

[2019-08-28 02:42] petersedivec commented on #789
Yep, that makes sense. Is that a feature minio will consider or do you
recommend we fork and work the sha256 for our own use case. At the moment
it is not a pressing issue for us. We may need it in October but wanted to
put it on the radar and get feedback from community.

On Tue, Aug 27, 2019, 5:25 PM Harshavardhana <notifications@github.com>
wrote:

[2019-08-29 04:46] Nithish-Raja opened #791 "unable to access minio using python client"
Minio is running inside a docker container.
Here's the docker command i use to start the container
``` sudo docker run -d --rm --name minio -p 9000:9000 -e MINIO_ACCESS_KEY=admin -e MINIO_SECRET_KEY=adminsecret minio/minio server /data```

Able to access minio through myb browser but python code fails

The python code used to work 2 weeks ago, but it stopped working now

Here is my python code,
[c

[2019-08-29 06:21] brisoe commented on #788
**@kannappanr:**
Thanks for your efforts. I found out, it has nothing to do with the region set or not set.

I did some debugging the last days and the `response.data` returned by the get-request of `urlopen()` contains the corect information. The bytestring-xml with the buckets.
The problem occurs somewhere when parsing the xml and retrieving the bucket information, most likely because a differen

[2019-08-29 06:31] harshavardhana commented on #788
@brisoe we can't support custom XML namespaces, this restriction exists to avoid incompatiblities in future and make sure that we are always strictly S3 compatible.

Can you verify why the namespace was changed ?

[2019-08-29 07:24] Nithish-Raja commented on #791
I inspected the docker bridge and found that i was sending my request to the wrong gateway. Once i fixed it, the problem was resolved.

[2019-08-29 07:24] #791 closed

[2019-09-04 11:23] ckl0804 opened #794 "how to Extending the time delta settings in expires"
python code :
from future.backports.datetime import timedelta
        page_url = minioClient.presigned_get_object(bucket_name=bucket_name,object_name='0722.jpg',expires=timedelta(days=10))

the expires=timedelta Defaults to 7days. But now I need keep URL 30days, How todo?
if I set days=30,that Procedural error reporting，
erro info:
minio.error.InvalidArgumentError: InvalidArgumentError: message: E

[2019-09-04 13:07] vadmeste commented on #794
@ckl0804 according to the S3 specification, the maximum allowed expiry duration is 7 days, you cannot pass 30 days in this case.

[2019-09-04 14:25] kannappanr commented on #794
@ckl0804 Closing this issue as answered Please feel free to reach out to us at https://slack.min.io for further such questions.

[2019-09-04 14:25] #794 closed

[2019-09-10 22:35] petersedivec opened #795 "minio.error.SignatureDoesNotMatch:"
## Expected Behavior
Expect the put_object method in minio/api.py to successfully load files into minio.

## Current Behavior
We are running a script that iterates through every file (subfolders included) and pushes all of those files up to a minio bucket with the api.  We are using SSE with an SSE master key, not vault.  We have a total of 4 buckets and hence plan to run the script 4 times from e

[2019-09-10 23:37] harshavardhana commented on #795
Does your object name have any special characters in it ?

[2019-09-11 13:06] petersedivec commented on #795
We do have files with special chars in it, but it looks like it failed on potentially files with white space in their names, not sure if those are considered special characters.  filenames like "Bio M Fiori.doc".  Given that we managed to upload 67GB of data i'm a little surprised if this was the first special char name we found

[2019-09-11 18:12] kannappanr commented on #795
@petersedivec I tried to upload a file with spaces in it and it seemed to go through just fine. I tried it against `play` and another distributed setup

[code]

So, I don't think it is related to that. Do you have a sample code and can you also let us know the version of `minio-py` you are using?

[2019-09-12 04:30] petersedivec commented on #795
We are doing some more investigation and have updated our script to catch
the specific SignatureDoesNotMatch error as well as any other errors Minio
might throw.  We have also tested with files with spaces and special
characters and not been able to reproduce the error.  Our updated script
completed running against one of our 4 buckets, one that previously failed
and it successfully loaded all of

[2019-09-15 14:18] petersedivec commented on #795
yep, thanks for sharing, i see that.  we'll follow this thread and
hopefully retest this week.  Seems like this issue might be closed in next
day or two.

On Thu, Sep 12, 2019 at 10:34 AM kannappanr <notifications@github.com>
wrote:

[2019-09-16 21:00] nkhandker opened #800 "compose_object"
compose object functionality in the python SDK so that streamed, chunks of data can be composed together to create a single file in s3

[2019-09-17 13:31] vadmeste commented on #800
@nkhandker are you asking to add a new API in minio-py to create an object from a stream data source ?

[2019-09-17 20:30] #795 closed

[2019-09-17 23:49] kannappanr commented on #724
Should be fixed by #798. Closing this as fixed. please let us know if you are seeing this issue still.

[2019-09-17 23:49] #724 closed

[2019-09-18 00:58] nkhandker commented on #800
No no, rather just any implementation of the "compose_object" function like
in go. I got tunnel vision when I was writing that feature request

On Tue, Sep 17, 2019, 8:31 AM Anis Elleuch <notifications@github.com> wrote:

[2019-09-18 01:48] kannappanr commented on #800
@nkhandker So, basically you want to be able to create an object using data from multiple objects using server side copy. We do not have cycles to implement this feature right now.

[2019-09-19 19:26] kannappanr commented on #800
@nkhandker Closing this issue now. Will re-open this issue when we have cycles to work on this.

[2019-09-19 19:26] #800 closed

[2019-09-26 08:34] harpener opened #801 "AttributeError when raising InvalidXMLError"
Hi guys,

we are getting an `AttributeError` exception saying that `error` object has no attribute `message` [here](https://github.com/minio/minio-py/blob/master/minio/parsers.py#L108)

I think that no exception defined in `_ETREE_EXCEPTIONS` [here](https://github.com/minio/minio-py/blob/master/minio/parsers.py#L48) has such an attribute.

The only exception is the same list definition [here](http

[2019-09-26 16:13] vadmeste commented on #801
Hey @harpener,

What Python version are you using ?

The following code works fine under Python 2.7 and 3.7.

[code]

[2019-09-26 16:18] harpener commented on #801
@vadmeste Sorry, I forgot to mention this. I'm using 3.7.3 on production and 3.7.4 locally. Both behave the same and produce an error for your example. 🤔

[2019-09-26 16:28] harpener commented on #801
@vadmeste Furthermore, it is CPython implementation, if it makes any difference. I found some mentions about this attribute being deprecated and removed for a very long time actually: https://www.python.org/dev/peps/pep-0352/#retracted-ideas 🤔

[2019-09-26 17:04] vadmeste commented on #801
@harpener I managed to reproduce the issue using python-minimal.

It seems it is safer to use the string representation instead, would you mind sending a PR @harpener ?

[2019-09-29 04:45] gwind opened #804 "`SignatureDoesNotMatch` when domain has capital letter"
If ENDPOINT domain has capital letter, e.g.

`s3.TJiYzctZTc.example.com`

Call `presigned_get_object` could get url success, but when access this url would be failed with:

[code]

[2019-09-29 15:06] kannappanr commented on #804
@gwind Thanks for reporting this issue. Will take a look and get back to you.

[2019-09-30 22:34] kannappanr commented on #804
@gwind I have tested this with and without presigned URL and against both MinIO and AWS S3 and unable to reproduce the issue. The only way I could repro this issue was to change the URL in any way, meaning, if I have `Play.min.io` and generate a URL and then change the case in the URL, then it fails. That is expected, other than that we do not see any issues.

[2019-10-01 07:29] gwind commented on #804
Thanks for your testing, may be some snippets would be help.

create a client:

[code]

call `presigned_get_object` :

[code]

The domain similar to `s3.abcd.TJiYzctZTc.testing.example.com`

[2019-10-01 16:54] #801 closed

[2019-10-01 17:19] kannappanr commented on #804
Here is the code I used,

[code]
That generated a pre-signed url and I tried the following curl command and it worked for me.

[code]

[2019-10-02 02:02] gwind commented on #804
It's strange, thanks again. I'll close this issues if has not found a reproduction method. Maybe this discussion would help someone who has same issues with me.

[2019-10-02 02:02] #804 closed

[2019-10-12 10:02] urandu opened #806 "Bug in example code sample"
I am not sure if it is by design, but I strongly feel that the example code given for uploading a file in the README is misguiding https://github.com/minio/minio-py#file-uploaderpy . This is because, according to this snippet, the file shall be uploaded only if the bucket does not exist, otherwise, if it exists, the code in the else block will never be executed.
[code]

I can take this up and make

[2019-10-12 17:53] #806 closed

[2019-10-14 17:55] bbkgh opened #808 "Minio signature mismatch over cloudflare"
I am using cloudflare free CDN over a self hosted minio  server but cloudflare changes some headers and for that sign_v4 of request headers doesn't match with server expected value. How can i solve this problem in python client? Is there anyway to disable signature?
Thanks.

[2019-10-14 17:57] harshavardhana commented on #808
@bbkgh minio-py is meant to be used with AWS S3 and S3 compatible services such as MinIO - we do not support cloudflare and have no intention of doing it.

This is out of scope of this project.

[2019-10-14 18:11] #808 closed

[2019-10-20 10:06] phchoi opened #809 "minio.error.SignatureDoesNotMatch: SignatureDoesNotMatch: message: The request signature we calculated does not match the signature you provided. when upload to ceph radosgw"
Not sure if the issue I faced is the same as this https://github.com/minio/minio-py/issues/724 , it throws the exception when a file larger than 5MB is being uploaded to ceph radosgw by using minio python API but not via mc client

Environment:
- python 2.7.5,
- minio python library version 4.0.17
- minio client: minio version RELEASE.2019-10-09T22-54-57Z

I followed the same troubleshoot methods

[2019-10-21 09:48] kannappanr commented on #809
Please use version 5.0.1 and let us know if you still see this issue. Closing this issue  as fixed

[2019-10-21 09:48] #809 closed

[2019-10-21 10:17] phchoi opened #810 "minio.error.SignatureDoesNotMatch: SignatureDoesNotMatch: message: The request signature we calculated does not match the signature you provided. when upload to ceph radosgw"
Not sure if the issue I faced is the same as this #724 , it throws the exception when a file larger than 5MB is being uploaded to ceph radosgw by using minio python API but not via mc client

Environment:

python 2.7.5,
minio python library version 5.0.1
minio client: minio version RELEASE.2019-10-09T22-54-57Z
I followed the same troubleshoot methods mentioned in #724 (comment) and had the log att

[2019-10-21 11:43] abandiya commented on #766
Sorry for late reply, Closing this as it is not reproducible in a different environment

[2019-10-21 11:43] #766 closed

[2019-10-21 19:28] kannappanr commented on #810
@phchoi thanks for testing with `5.0.1`. We will take a look.

[2019-10-22 02:46] phchoi commented on #810
Thanks for the quick turnaround, @kannappanr

[2019-10-22 08:29] aliir74 commented on #810
I also have this problem with uploading large file into ceph

[2019-10-22 08:43] vadmeste commented on #810
Yes, we have a PR which fixes the issue under the review

[2019-10-22 08:44] phchoi commented on #810
Thanks @vadmeste  !

[2019-10-24 14:48] gk-patel opened #813 "Getting multiple PreSigned Request (i.e. in Bluk) with a single Query."
**Is your feature request related to a problem? Please describe.**
As far as I know, it is only possible to get a single presigned download URL. I have a frontend, where user is shown a table with 500 to 1000 lines, and each row has a download button, corresponding to a file in Minio. I am using the Python Client, and I have to generate a presigned-download link for each file in a for-loop. It wou

[2019-10-24 16:23] harshavardhana commented on #813
Just do list_objects and call presigne_get for each output in the iterator.

[2019-10-24 16:26] kannappanr commented on #813
@gk-patel SDK will not call minio to generate presigned url, if you set the bucket region. In that case, I do not expect the calls to take a long time and you can simply do what is mentioned in the above comment

[2019-10-24 16:29] harshavardhana commented on #813
Also without even the region get bucket location is constant and fetched only once per bucket so optimizing this part is also frviolous and not needed.

[2019-10-24 22:52] kannappanr commented on #813
closing this issue. Please feel free to reach out to us at https://slack.min.io for further questions

[2019-10-24 22:52] #813 closed

[2019-10-25 06:57] kannappanr commented on #813
@gk-patel We do not hit the server at all if we know the region of the bucket. Even if you do not set the region of the bucket, it is queried only once. So, network delay does not come into the picture here. So, even if you have `1000` objects it will not take extra time.

[2019-10-27 03:36] #810 closed

[2019-10-28 14:53] aliir74 commented on #810
Thanks for fast fix :)
How can I use this fix with `pip install minio`?

[2019-10-28 16:44] febg opened #814 "Use Credentials (similar to minio-go) to enable AWS IAM"
At [codecov.io](https://www.codecov.io) we use minio-py for our on-prem enterprise solution. Our customers have expressed the need of being able to authenticate to AWS using IAM in order to make key rotation much more efficient.

I noticed that there was some kind of effort to add this functionality to the minio-py repository about two years ago.

See issue [#502](https://github.com/minio/minio-py

[2019-10-28 16:55] harshavardhana commented on #814
Thanks @febg we will get back on this soon

[2019-10-28 19:33] febg commented on #814
Should we even need a signer type attribute for the Value class in the python version? I was thinking on removing signer type from there.

[2019-10-28 19:45] harshavardhana commented on #814
We don't that's what I meant by v4 onlu

[2019-10-28 20:35] febg commented on #814
Sounds good, I removed signer_type and pushed changes to branch 👍

[2019-10-28 20:54] harshavardhana commented on #814
Can you create a PR @febg that would be easy to give feedback.

[2019-10-29 02:39] febg commented on #814
@harshavardhana done PR [#817](https://github.com/minio/minio-py/pull/817)

[2019-11-07 01:06] jinshengli opened #820 "Whether breakpoint continuation is supported"
I have some doubts. When I look at the JDK of python. There is Auto upload using multiple parts
once my file is > 5Mib.  But After the process of uploading a large file is interrupted, can I find the part that has already been uploaded? If so, how can I find it and how to resume it.

Python JDK There doesn't seem to be much description of this.  Can you guy give me a hint, Thank you so much.

[2019-11-14 12:49] huornlmj opened #822 "blacklist: Using xml.etree.cElementTree.fromstring to parse untrusted XML data"
Bandit 1.6.2 reports multiple uses of the blacklisted use of `xml.etree.cElementTree.fromstring`, advising to replace it with its defusedxml equivalent function or make sure `defusedxml.defuse_stdlib()` is called.

Is this seen as a FP or valid concern?

[2019-11-15 13:51] vadmeste commented on #822
It seems even the standard xml documentation says it has some vulnerabilities and encourage using defused xml https://docs.python.org/2/library/xml.html#xml-vulnerabilities

Even if this is a client and not a server, it looks like it is better to secure it. I guess if http is used, some data can be injected that can affect the normal behavior of minio-py.

[2019-11-15 15:54] vadmeste commented on #822
@huornlmj

I don't think bandit is correct by saying importing xml.etree.ElementTree is discouraged.

If I understood well, fusedxml only rewrites some functions that have vulnerabilities. Other functions such as xml.etree.ElementTree.Element() are still needed for code to work.

Any insights about this ? shall we alert bandit developers ?

[2019-11-18 18:18] danilobellini opened #823 "Allow using Google Cloud Storage"
When using with `mc`, I can list/copy the contents from Google Cloud Storage.

However, using this Python client instead (Python 3.7.4, minio 5.0.5), I get an empty list when calling `client.list_buckets()`, and `client.list_objects("bucket-name-here")` returns a generator. When I try to get the first element from that generator, it raises this:

[code]

[2019-11-18 18:54] harshavardhana commented on #823
minio-py is meant for AWS S3 and MinIO not Google Cloud Storage. You should use GCS python SDK for this.

[2019-11-18 18:54] #823 closed

[2019-11-18 19:09] danilobellini commented on #823
Minio Client works with Google Cloud Storage using the S3 API: https://docs.min.io/docs/minio-client-quickstart-guide

Google Cloud Storage documentation says it should be compatible with tools that works with S3: https://cloud.google.com/storage/docs/interoperability

That said, if minio-py is really meant for S3, then it should work with GCS (using S3v4) like Minio Client, doesn't it? What makes

[2019-11-18 19:15] harshavardhana commented on #823
mc works is a coincidence, minio-py works with S3 and MinIO that is sufficient for minio-py and its scope as an SDK @danilobellini

[2019-11-20 14:13] amedveshchek opened #824 "fget_object() creates temporary file in `append` mode"
Hi.

1. Method `fget_object()` creates temporary file in append (`ab`) mode with stable name.
That means, if you've received an error (e.g. `InvalidSizeError`) and decided to retry, the new object will be appended to previously invalid object. As a result -- invalid object with no error.
2. I propose to overwrite previously created file.

Of course there are alternatives: for example to create rea

[2019-11-22 07:43] harshavardhana commented on #824
Good idea, feel free to send a PR.

[2019-11-27 08:45] cosmosgenius opened #826 "Support for Amazon S3 Transfer Acceleration?"
Minio-go already has support for it. Is there any plan to incorporate the same in python binding?

[2019-11-27 08:49] harshavardhana commented on #826
Definitely we can add, feel free to send a PR @cosmosgenius

[2019-11-27 12:38] cosmosgenius commented on #826
Hey i have opened a PR(#827) with a rough implementation. Let me know

[2019-11-30 04:16] yashas123 opened #828 "stat_object access denied"
When I try to use 'folder_1/001.jpg' for object name, stat_object gives this traceback.
When the image actually does exist in folder_1 when I check in minio file browser and is perfectly accessible when I share it . Please help.

[code]

[2019-11-30 04:46] yashas123 commented on #828
Ok, since I had migrated image from a different server using rsync, I had to change ownership, now i'm getting the error as:
Traceback (most recent call last):
  File "store.py", line 29, in <module>
    'folder_1/001.jpg',
  File "C:\ProgramData\Anaconda3\lib\site-packages\minio\api.py", line 978, in stat_object
    object_name=object_name, headers=headers)
  File "C:\ProgramData\Anaconda3\lib\si

[2019-11-30 08:52] yashas123 commented on #828
I have checked almost all features, only stat_object is not working.

[2019-12-02 09:35] #820 closed

[2019-12-07 23:17] ruiztulio opened #829 "Python admin api"
Hi, is it possible to access the admin api via the python package? I don't find it in the documetation neither the code (probbably not looking in the right place).

I'm trying to write an app that uses minio. The users, groups and policies will be managed from there. I know I can do it using minio client, but it'd be nice to handle everything from the api itself

If there is no way to do it from t

[2019-12-07 23:21] harshavardhana commented on #829
It is not possible yet, we may do it in the future but not for now.

[2019-12-07 23:26] ruiztulio commented on #829
@harshavardhana thanks for the answer...is it documented somewhere?  I wouldn't mind to implement it by myself

[2019-12-07 23:38] harshavardhana commented on #829
https://github.com/minio/minio/tree/master/pkg/madmin @ruiztulio

[2019-12-07 23:46] ruiztulio commented on #829
@harshavardhana Thanks! I'll close this then

[2019-12-07 23:46] #829 closed

[2019-12-11 16:18] larandvit opened #830 "How not to apply a quote charcter setting in CSVInput"
Hello,

1. I'm trying not to apply a quote character in CSVInput but it seems doesn't work. How tell CSVInput that I don't want to apply any quote character? I tried to use None and empty string (''). What value should be for QuoteEscapeCharacter setting in that case?
[code]

2. What characters are acceptable as quote ones? I tried \t, single quote ('), and r character and received the error messa

[2019-12-15 10:09] Leletir opened #831 "Support STS Client Grants authentication flow"
Hello,

Minio Go client sdk supports sts authentication flow and using jwt/session tokens for authentication, amd I was wondering if the support on the Python SDK is planned ?

Thank you.

[2019-12-15 17:09] kannappanr commented on #831
@Leletir We do not have anything planned for `minio-py` as of now. Will have to do this feature request in the future, when we have cycles to get to this. Closing this issue as of now

[2019-12-15 17:09] #831 closed

[2019-12-16 16:22] vadmeste commented on #830
Those seem like issues in minio-py, I was able to reproduce them

[2019-12-16 17:00] larandvit commented on #830
Thank you, @vadmeste, for confirmation.
Do you have any ticket to fix it or the Minio team is planning to do it? What is the protocol in those cases?

[2019-12-20 08:09] AthrunIJ opened #835 "is_valid_endpoint(endpoint)"
Just want to clarify with the function as shown in title.
Python version: 3.7.6
Minio version: 5.0.5

ipaddr = '43.74.4.35:9000', my server ip address

mio = Minio(ipaddr, access_key=id,secret_key=pass,secure=False)
mio.fput_object(bucketname,filename,pathtofile)

returns error InvalidEndpointError:message: Hostname cannot have a scheme.

I did some digging and when send through the is_valid_endpo

[2019-12-20 11:06] vadmeste commented on #835
@AthrunIJ can you do this in your system ?

[code]

[2019-12-21 02:28] AthrunIJ commented on #835
Hi, thanks for your reply. Unfortunately, I am on a long holiday until the new year from my company. But I will try your suggestion once I am back to work.

[2019-12-23 07:28] toabi commented on #835
In our staging environment I suddenly saw the same issue. We are running something in a docker-compose environment so the hostname given to the function should be `media:9000`.

[code]

Does that mean the parsing of the python library changed?

On the failing system the current python release would be `Python 3.7.6 (default, Dec 20 2019, 22:50:33)
`

On the still running staging server it's `Pytho

[2019-12-23 07:40] AthrunIJ commented on #835
Hi, yes. This issue also happened when I updated python to v3.7.6 while it seems to be working fine with v3.7.5.
Thabk you for your confirmation.

[2019-12-23 07:43] toabi commented on #835
I dug a bit more and it's actually in the [changelog for python 3.7.6](https://docs.python.org/3.7/whatsnew/changelog.html#id3) => https://bugs.python.org/issue27657

[2019-12-23 08:32] AthrunIJ commented on #835
O, interesting. Probably will need to code a work around for my system for now.

[2019-12-23 10:34] vadmeste commented on #835
If I understood well this issue https://bugs.python.org/issue27657, the faulty code was reverted, so it looks like this will be fixed when 3.7.7 will be released and we won't do anything in our side.

[2019-12-23 10:41] AthrunIJ commented on #835
OK, thank you for your time.

[2019-12-23 10:56] vadmeste commented on #835
I also found this in url parse python documentation:

[code]

@toabi can you do this?

[code]
?

[2019-12-23 13:49] anehx commented on #835
@vadmeste

`urlsplit('//media:90')` works fine as expected, however the `_ALLOWED_HOSTNAME_REGEX` fails with that configuration...

[2019-12-23 14:28] wtayyeb commented on #835
I have read https://bugs.python.org/issue27657 and don't think they will revert it. because it was wrong all the time. the spec ( mentioned in python issue ) tell that // is a part of netloc and if it isnt exist the : is for scheme!
one proof for this is following example:
open your browser console and run `new URL('example.com:443')`  in it. you will see that `example.com:` will goes to protocol

[2019-12-23 14:32] wtayyeb commented on #835
it seems in short time we must stick to python 3.7.5 until this resolved in minio-py itself. no way to pass through the `is_valid_endpoint`

[2019-12-23 14:56] xed commented on #737
I have the same error on python 3.8.1, downgrade to python 3.8.0 to fix this issue.

[2019-12-23 15:21] vadmeste commented on #835
yes, you are right. With this "revert" https://github.com/python/cpython/commit/82b5f6b16e051f8a2ac6e87ba86b082fa1c4a77f, it looks like 'path:80' returns scheme = 'path'.

This seems a high priority issue for minio-py now

[2019-12-23 15:49] vadmeste commented on #737
This seems duplicated to this https://github.com/minio/minio-py/issues/835

[2019-12-23 16:47] vadmeste commented on #737
@xed  I think #835 is the correct issue to follow, not this one

[2019-12-24 13:39] vadmeste commented on #830
Taking this to fix

[2019-12-24 17:52] #835 closed

[2019-12-30 19:54] kevinappy opened #837 "Minio endpoint check is failing on Python 3.7.6"
It seems that `urllib.parse.urlsplit` was changed in the Python 3.7.6 and this breaks the behavior of the latest release versions of Minio.

[code]

The behavior before 3.7.6 was that `localhost:9000` was a valid endpoint.

[2019-12-30 19:59] harshavardhana commented on #837
Fixed in #836

[2019-12-30 19:59] #837 closed

[2019-12-30 20:02] harshavardhana commented on #837
and released 5.0.6

[2020-01-03 21:52] glenndekhayser opened #838 "Create option for ignoring S3 naming rules"
Minio supports exposing existing datasets on NAS (for the NAS gateway function).  The data that's already there, especially if it was created in a Windows environment, but certainly possible in a Linux environment, likely isn't going to conform to S3 standards- meaning it will likely have capital letters, or symbols that don't adhere to the standard.

It would be MOST useful if there was a "relaxe

[2020-01-03 23:12] harshavardhana commented on #838
minio-py should do two types of validation

- existing buckets should not perform strict bucket name validation
- make_bucket should disallow creating non-compliant bucket names

This should be done across all our SDKs - minio-go/mc already support this behavior.

[2020-01-03 23:12] glenndekhayser commented on #838
Thanks, I wasn’t sure if this was by design or not.

[2020-01-04 18:46] yashas123 opened #839 "InvalidXMLError"
I keep getting error after uploading a file onto minio server:
[code]

BTW, in case you want to ask why im using get_partial_object, i'm using it as a replacement of stat_object and calling with 0 bytes as parameter, since https://github.com/minio/minio-py/issues/828 is not yet solved

[2020-01-05 07:55] kannappanr commented on #828
@yashas123 It has to be some sort of permission for the user running minio. This has got nothing to do with minio-py

Here is a sample

[code]
This works against `play`

[2020-01-05 08:08] harshavardhana commented on #828
Please share the code @yashas123

[2020-01-05 10:10] yashas123 commented on #828
@harshavardhana I'm using it with django as storage class:
[code]

[2020-01-06 16:52] yashas123 commented on #839
Sorry about that, this looks like an error that occurs when cloudflare is used.

[2020-01-06 16:52] #839 closed

[2020-01-13 16:41] ansuabraham opened #841 "minio get_object failing with <class 'TypeError'>"
minioClient.get_object('local-media', 'zip_configuration_files/challenge_zip/'+artifact_name) fails with this exception:

<class 'TypeError'>
pop() takes 2 positional arguments but 3 were given

Libraries being used are: (These are installed via pip ni
django==1.11.23
django-allauth==0.40.0
django-filter==2.1.0
django-import-export==0.5.1
djangorestframework==3.9.3
djangorestframework-expiring-aut

[2020-01-13 21:45] kannappanr commented on #841
@ansuabraham Please try after you have removed the extra comma, closing this issue as answered. Please feel free to reach out to us at https://slack.min.io if you have further questions

[2020-01-13 21:45] #841 closed

[2020-01-14 15:04] ansuabraham commented on #841
Hi @harshavardhana and @kannappanr,

The extra comma is not the issue. Removing it makes no difference. I get the same "pop() takes 2 positional arguments but 3 were given" error.

I had to change secure to **True** to make this work. Any idea if something related to SSL changed recently to cause **secure=False** stop working?

[2020-01-14 16:56] mykola-mokhnach opened #842 "What is the proper way to cancel a running file upload?"
Hello,

in our client code we'd like to cancel the file upload to minio storage after it has already been started. My question is whether there is any appropriate method to do that, since the current implementation only exposes the `put_object` method, which incapsulates `_stream_put_object`?

Also, there is no callback/pipe object available, which could be used to interrupt the running upload pro

[2020-01-15 09:38] mykola-mokhnach commented on #842
We've managed to do solve the issue using a not very nicely looking workaround, but whatever. Pasting here the code for people who'd like to solve the same problem:

[code]

[2020-01-15 23:33] kannappanr commented on #842
@mykola-mokhnach Thanks for getting a workaround. Currently we do not have a way to cancel the operation in minio-py. Please feel free to reach out to us at https://slack.min.io for further such questions.

[2020-01-15 23:33] #842 closed

[2020-01-16 12:37] mykola-mokhnach opened #843 "[Feature request] More explicit memory management for object uploads"
Currently the `put_object` method might be quite memory demanding in some situations and this is not very obvious. For example the minimal part size is 5 MiB and the `_do_stream_upload` method uses the private pool to perform partial uploads with private hardcoded max workers value of 3 (the `_PARALLEL_UPLOADERS` constant). This means that a single object upload process would take minimum 15 MiB o

[2020-01-17 05:30] harshavardhana commented on #843
if this is what you want perhaps boto3 is the best choice, we will definitely profile and see if we can reuse the buffers here but we are not certainly not going down the road of providing an HTTP API layer by exposing all the gritty details of S3 API.  That is not the intention of this library.

[2020-01-17 06:30] mykola-mokhnach commented on #843
I did not say this is required. Just a bit more control on what is going on, so users don't unexpectedly face memory issues while uploading objects. For example an ability to change the size of the uploads pool would be nice.

[2020-01-17 16:04] ddevault opened #844 "put_object should support file-like objects with an undefined length"
I've structured my code to produce a file-like object which dynamically generates its contents as its being read. I would like to avoid generating the object upfront to measure its length, because it could be rather large and I don't have anywhere to put it. I don't want to generate it twice, measuring and discarding the first time, then uploading it the second time, because it could change during

[2020-01-17 17:41] harshavardhana commented on #844
AWS S3 doesn't support objects with undefined content-length so we don't support either.

Once AWS S3 supports it we can support too. Closing this issue.

[2020-01-17 17:41] #844 closed

[2020-01-17 18:20] ddevault commented on #844
minio is broadly opposed to implementing features which S3 does not have?

[2020-01-17 18:26] harshavardhana commented on #844
Yes @ddevault there is no good reason to deviate, unless there is a stronger commercial requirement.

[2020-01-17 18:42] ddevault commented on #844
That's pretty disappointing. I wouldn't even know where to start with petitioning AWS to add this, I'm not an AWS customer.

[2020-01-23 00:22] #814 closed

[2020-01-23 01:34] #838 closed

[2020-01-24 21:08] ktarplee opened #846 "Python 3.8 syntax error"
I get the following error (with python 3.8)
SyntaxWarning: "is" with a literal. Did you mean "=="?

helper.py:119

if k is 'authorization':

This should use == instead of "is".

[2020-01-27 06:30] #846 closed

[2020-01-27 23:06] jbmcfarlin31 opened #848 "minio.error.InvalidXMLError while performing fput_object"
I am using the Minio SDK for Python. I am performing the method `fput_object` and I keep running into the error:
`InvalidXMLError: message: "Error" XML is not parsable. Message: mismatched tag: line 6, column 2`.

The following code is being used:
[code]
The line it errors on is: `result = minioClient.fput_object(...)`

The `content_file` is the file path to the file I want to upload to my bucket.

[2020-01-27 23:30] kannappanr commented on #848
@jbmcfarlin31 Can you please try the same against play?

[2020-01-27 23:50] jbmcfarlin31 commented on #848
@kannappanr forgive me, but what is play?

[2020-01-28 01:16] kannappanr commented on #848
@jbmcfarlin31 It is Minio's demo S3 server, you can use `https://play.min.io` for url and `Q3AM3UQ867SPQQA43P2F` for access key and `zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG` for secret key.

[2020-01-28 17:28] jbmcfarlin31 commented on #848
@kannappanr Looks like this was an issue with my ingress rule. My Minio instance was deployed as a container inside a kubernetes cluster. The ingress controller was throttling the request size, so by setting the `client_max_body_size` on my ingress rule it worked.

For those who don't know kubernetes, you would set that via an annotation field on the ingress rule like so:
[code]

I am testing some

[2020-01-28 17:29] harshavardhana commented on #848
Your nginx ingress should have the following settings https://docs.minio.io/docs/setup-nginx-proxy-with-minio.html

[2020-01-29 13:36] kannappanr commented on #848
@jbmcfarlin31 Glad, you found the problem. Closing this as resolved. Please feel free to reach out to us if you still see the issue.

[2020-01-29 13:36] #848 closed

[2020-02-02 15:47] harshavardhana opened #850 "Add SDK APIs to support AWS S3 default bucket encryption"
For more information on the feature see https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-encryption.html

To support this we need to add SDK APIs for,
- [PutBucketEncryption](https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketEncryption.html)
- [GetBucketEncryption](https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketEncryption.html)
- [DeleteBucketEncryption](https://docs

[2020-02-02 15:51] harshavardhana commented on #843
We would like to avoid making our SDKs cockpit-style configurations,  it uses sane values for all these to cater for a variety of use cases - if it's really such a big deal just fork the project and use it in your project with relevant changes.

Even better provide a proposal PR, we won't have cycles to work on these features due to other priorities for the near future.

[2020-02-02 15:51] #843 closed

[2020-02-02 15:52] harshavardhana commented on #826
Fixed by https://github.com/minio/minio-py/pull/827

[2020-02-02 15:52] #826 closed

[2020-02-04 00:25] kannappanr commented on #828
@yashas123 Can you please run `mc admin trace -v -a ` against your minio server and try this command again and return us the output. Also, if you are seeing any logs on the console, can you paste them also ?

Also, instead of `rsync`, if you add an object using say `minio-py`, are you seeing this issue?

[2020-02-04 05:17] yashas123 commented on #828
@kannappanr I used rsync for only restoring some of the images from a different server, I have been still using minio and have been adding new images, and all of the newly added images are uploaded using minio-py sdk, and yet its the same.

And about admin trace, this is what I get:
`mc: <ERROR> Cannot listen to http trace. Server expects client requests with 'admin' API version 'v2', found 'v1',

[2020-02-04 08:28] harshavardhana commented on #828
As the message suggests you must upgrade the client `mc` @yashas123

[2020-02-04 14:51] pozsa opened #851 "TypeError in copy_object()"
The following code results in TypeError within copy_object().
Am I doing something wrong or this is a bug?

[code]

[code]

[2020-02-04 15:30] pozsa commented on #851
I've figured it out. One of the elements in my metadata dict is a `datetime.date`.
Had to convert it to string before passing it to copy_object().

added code:
[code]

And then passing metadata to metadata in copy_object().

[2020-02-04 15:30] #851 closed

[2020-02-09 12:18] tirkarthi opened #852 "Deprecation warning due to invalid escape sequences in Python 3.8"
Deprecation warnings are raised due to invalid escape sequences in Python 3.8 . Below is a log of the warnings raised during compiling all the python files. Using raw strings or escaping them will fix this issue.

[code]

[2020-02-09 13:13] harshavardhana commented on #852
Thanks for the work @tirkarthi - feel free to send a PR

[2020-02-09 18:36] tirkarthi commented on #852
Sure, created #853

[2020-02-10 06:00] #852 closed

[2020-02-12 13:23] jahodfra opened #854 "fget_object has race"
When the `fget_object` is called twice it tries to download object into the same file and fails on the second call of the `os.rename`.

Expected behavior - the temporary filename shouldn't have etag in the name and instead it should use `uuid.uuid4()`.

[2020-02-12 14:15] harshavardhana commented on #854
feel free to send a PR @jahodfra

[2020-02-12 14:15] harshavardhana commented on #854
NOTE the same name is used to resume the operation @jahodfra using UUID is not an option.

[2020-02-12 15:02] jahodfra commented on #854
I don't see how to solve it except using something like https://github.com/WoLpH/portalocker/tree/develop/portalocker

[2020-02-28 21:42] febg opened #857 "AWS IAM Credential using subscripts on not subscriptable objects"
When trying to use the IamEc2MetaData provider like this:
[code]
I got the following error:
[code]

After doing some digging on why my credentials were not working I found the root cause:

IamEc2MetaData provider is trying to access http response data and status using subscripts throwing the following error:
[code]

[2020-03-03 15:07] spinelsun opened #859 "download folder"
add the ability to download a folder and all of its content recursively from a specified bucket.

example of the API call may be get_object('my_buckt', myFolder/*) or get_object('my_buckt', myFolder/**)
where one * means to get the first level of files under the folder and double * means o get all objects recursively.

Same thing for fget_object function

[2020-03-03 15:08] spinelsun opened #860 "find object"
implement the minio  terminal client (mc) find function in the python api

[2020-03-03 15:36] harshavardhana commented on #860
minio-py is a higher level API but it doesn't implement application level code, you need to write this yourself.

[2020-03-03 15:36] #860 closed

[2020-03-03 15:38] harshavardhana commented on #859
Application level code cannot exist in our SDKs, our SDKs implement basic higher level primitives.

You need to write this in your application.

[2020-03-03 15:38] #859 closed

[2020-03-06 16:34] jahodfra commented on #854
I'm using https://pypi.org/project/filelock/ in the calling code to avoid that. I'm not sure if it makes sense to do it in the client, because filelock needs extra empty file for the lock.

[2020-03-09 08:35] pransen opened #861 "Unable to create bucket using python SDK with HTTPS enabled"
1. HTTPS is enabled for MinIO following the instructions in the docs.
2. I am able to open the MinIO browser and create a bucket.
3. However, using python SDK, MinIO bucket creation fails with the following error with 'secure' set to False in client created using minio.Minio()
InvalidXMLError: message: "Error" XML is not parsable. Message: syntax error: line 1, column 0

## Expected Behavior
Bucke

[2020-03-09 08:39] nitisht commented on #861
@pransen can you paste sample code to help us reproduce the error, also can you paste the exact error you see in case of https enabled in py client

[2020-03-09 09:01] pransen commented on #861
Sample code:
client = Minio(minio_host + ":" + minio_port, minio_user, minio_pw, secure=False)
    try:
        client.make_bucket("test-bucket")
    except Exception as err:
        print(err)

Error:
InvalidXMLError: message: "Error" XML is not parsable. Message: syntax error: line 1, column 0

[2020-03-09 09:03] nitisht commented on #861
Why would you enable https on the server and then set secure=False in client?

[2020-03-09 12:35] pransen commented on #861
I tried that initially setting secure=True. That still gave the ssl error.

[2020-03-09 16:41] kannappanr commented on #861
@pransen That means it is either not https enabled or you are not hitting the correct IP address.

[code]

[2020-03-11 18:34] kannappanr commented on #861
@pransen Closing this issue as answered. Please feel free to get back to us and we can take a look.

[2020-03-11 18:34] #861 closed

[2020-03-24 05:00] ebozduman commented on #850
PR #855 is merged.

[2020-03-24 05:00] #850 closed

[2020-03-27 19:54] KentBrockman commented on #844
@harshavardhana I believe @ddevault  is providing a good reason to deviate - making `length` optional means not having to precompute a large object, just to calculate its length, to provide as an argument to `put_object`.

Precomputing the entire object can be expensive or undoable. Making it optional avoids all of these costs and compromises to make a more efficient, faster and elegant API. Put a

[2020-03-29 14:32] tirkarthi opened #863 "xml.etree.cElementTree was removed in Python 3.9"
There are instances in the code base where cElementTree is used. This was deprecated and removed in Python 3.9.

Ref : https://github.com/python/cpython/pull/19108
Slightly related : https://github.com/minio/minio-py/issues/822

[2020-03-29 19:25] kannappanr commented on #863
@tirkarthi Thanks for reporting the issue. We will take a look at it.

[2020-03-29 19:39] harshavardhana commented on #863
We don't get support python 3.9 so we should be mindful of that.

[2020-03-29 19:46] guesswh0 opened #864 "Create a new directory including its missing parents"
I want to achieve this:
`mc mb minio/bucket1/bucket2/`
But i cannot perform this action with minio-py due to `is_valid_bucket_name` helper function restrictions of `bucket_name` argument.
`>>> client.make_bucket('bucket1/bucket2/')`
`minio.error.InvalidBucketError: InvalidBucketError: message: Bucket name contains invalid characters (strictly enforced).`

[2020-03-29 19:53] harshavardhana commented on #864
minio-py is not meant for these higher level functionality, you need to do this on your own in your application.

minio-py exposes primitives to implement this functionality yourself.

[2020-03-29 19:53] #864 closed

[2020-03-30 19:07] vadmeste commented on #830
Could we close this ? This is already fixed in server's side.

[2020-03-30 22:44] larandvit commented on #830
Hi @vadmeste
Do you want this issue to be tested on our side? If so, we need to wait until a new version has been rolled out in my company.

[2020-03-31 09:02] vadmeste commented on #830
@larandvit the feature is already released in server's side. This issue actually belongs to minio/minio and not minio/minio-py.

[2020-03-31 12:39] larandvit commented on #830
Hi @vadmeste
As per our discussion, closing this issue.
Thank you, Anis.

[2020-03-31 12:39] #830 closed

[2020-04-01 08:37] pgajdos opened #865 "minio/credentials/*.sample is missing from pypi tarball"
Would be possible to add them?

[2020-04-04 03:43] kannappanr commented on #828
@yashas123 Closing this issue as stale. Will re-open the issue once we have the info requested to look at.

[2020-04-04 03:43] #828 closed

[2020-04-06 19:54] solarist commented on #730
Is there any update to this? I am getting the same error with minio-py 5.0.8, Python 3.8.2, MinIO 2020-03-25T07:03:04Z on Ubuntu 18.04.3. I am setting the `http_client` with ca_cert pointing to the correct certificate.
(Is this actually related to the fact that recent versions of Python implement their own openssl?)

[2020-04-06 21:56] #863 closed

[2020-04-07 00:06] #865 closed

[2020-04-07 00:33] hardbyte opened #871 "Support for Assume Role"
This is a feature request for the Python API to support [Assume Role](https://github.com/minio/minio/blob/master/docs/sts/assume-role.md).

[2020-04-07 00:35] harshavardhana commented on #871
Feel free to send a PR @hardbyte

[2020-04-07 08:43] hardbyte commented on #871
Thanks @harshavardhana I had a brief look at this and I think it would involve modifying the `sign_v4` API in `signer.py` as the request has to be signed for the service `sts` instead of `s3` in `generate_signing_key()`. If you're happy to have `service="s3"` as an optional parameter I could probably put together a PR.

[2020-04-07 11:45] hardbyte commented on #871
How about something like this? https://gist.github.com/hardbyte/8d6261154b5c840a0f29e6d34cb181c9

Before making a PR I'm not sure if `assume_role()` should hang off the `Minio` object, or perhaps as a standalone function?

[2020-04-07 16:41] harshavardhana commented on #871
It should be credentials object similar in style to other implementations

[2020-04-07 21:37] hardbyte commented on #871
Sure that is why I'm proposing returning a `Credentials` instance (see [here](https://gist.github.com/hardbyte/8d6261154b5c840a0f29e6d34cb181c9#file-miniopatch-py-L252))

Are you happy for `assume_role` to be a method of `Minio`, or should it be a top level function?

Or do you mean there should be a new class e.g. `AssumeRoleCredentials` as the main interface? I suspect that wouldn't be that clea

[2020-04-07 21:38] harshavardhana commented on #871
it shouldn't be a method of Minio constructor it should be just a credentials mechanism @hardbyte

[2020-04-07 22:57] hardbyte commented on #871
Sweet that is not a big change from my gist prototype - I'll make a new `AssumeRoleCredentials` class - again I'll note that it will require an existing minio client as a constructor argument.

One other observation is that a primary reason for using `AssumeRole` is to then serialize the credentials to share with a user (e.g. for uploading to the object store).

[2020-04-08 08:18] solarist commented on #730
So I managed to get rid of the error. In case of self signed certs, the ca_cert in http_client (or SSL_CERT_FILE) should point the the full chain of certificates (including root and all intermediate ones) . The error from urllib ain't actually very helpful here...

[2020-04-08 08:47] hodossy opened #873 "IamEc2MetaData slows down get operations with anonymus access"
## Problem description

When trying to access a bucket anonymusy, the `IamEc2MetaData` class slows down the process if the target **hard coded** endpoint is not reachable or returns some error. That adds about 4.5 min overhead to a single request in my case.

## Steps to reproduce

1. Start the minio server docker:
[code]
2. Start a client docker container to create a bucket with a file and set it

[2020-04-09 16:40] RazerM opened #879 "Add method to clear connection pool"
The client uses a connection pool internally, but does not provide `Minio.close` or something to explicitly clear it. The constructor lets me pass `http_client`, but then I have to repeat the defaults that Minio uses. I could access `Minio._http`, but that is not part of the public API.

[2020-04-09 17:24] vadmeste commented on #879
Could you elaborate on that please ?

[2020-04-09 17:25] harshavardhana commented on #879
You shouldn't be doing that @RazerM what is the reasoning to clear connection pool?

[2020-04-09 17:29] RazerM commented on #879
Minio uses good defaults for the `PoolManager`, which I'd have to duplicate in my code if I want to own it myself. I don't really want to own it, I just need to be able to access `.clear()`.

https://github.com/minio/minio-py/blob/aa0a0791fbf3339c435292ca412a8c1feb6efc7e/minio/api.py#L220-L230

[2020-04-09 17:45] harshavardhana commented on #879
Since you want to own the PoolManager by trying to clear() it, you should own it.

[2020-04-09 17:57] RazerM commented on #879
If I use a requests [`Session`](https://2.python-requests.org/en/master/api/#request-sessions) for making HTTP requests, it provides a [`close()`](https://2.python-requests.org/en/master/api/#requests.Session.close) method that clears its connection pool (which is also a urllib3 `PoolManager`).

Why should the Minio client be different?

---

Well, I don't want to clear it in the sense that I don'

[2020-04-09 18:16] harshavardhana commented on #879
That is not the usage of minio-py SDK @RazerM I don't see you provided a good reason for this public API - what we already have is a way to provide custom PoolManager, where you can close, clear whatever you wish by keeping this pool in your application space.

Pease conclusively provide evidence on why you need this, what issue you are trying to tackle?. We don't want to add unexpected APIs which

[2020-04-09 20:47] yashas123 commented on #828
@kannappanr Sorry about that, I thought about testing it out but since the server was already on production use I thought i'll do it later and forgot about it. BTW here `website` is **also** the bucket name
[code]

[2020-04-09 20:49] yashas123 commented on #828
Thought it shows SignatureDoesNotMatch in there, in my cmd as usual I got a `minio.error.AccessDenied: AccessDenied: message: Access Denied`

[2020-04-15 18:58] Praveenrajmani commented on #873
@hodossy I cannot understand the point here

Are you saying adding `IamEc2MetaData` in the provider chain slows down the request?

[2020-04-15 23:52] #871 closed

[2020-04-16 07:56] Praveenrajmani commented on #873
@hodossy This test here does not make sense. You should provide necessary keys while initiating the client

[code]

By default credentials is configured to be

[code]

Here, if you dont provide necessary credentials or access/secret pairs. minio-py will sequentially check the provider list in the chain and fails finally if it did not find any creds set.

It will finally ping the hardcoded url for

[2020-04-16 08:11] harshavardhana commented on #873
Based on this closing the issue.

[2020-04-16 08:11] #873 closed

[2020-04-17 06:42] hodossy commented on #873
Hello,

Could you please elaborate on what credentails shall I supply when accessing a bucket **anonymously**? Empy string? Is it documented somewhere?

And my problem is not that the `IamEc2MetaData` provider fails, but that failure takes 2 minutes. And there is no way to tweak that, since that provider uses its on `PoolManager`.

[2020-04-17 07:50] Praveenrajmani commented on #873
@hodossy Anonymous buckets can be accessed directly through the URL. For eg, `https://play.mini.io/bucketname/objectname`

You dont need client SDKs for this simple curl.. clients will always sign the requests with credentials which is not needed here.

And the slowness is because of the metadata server. The client here does nothing special.

[2020-04-17 15:46] zhangtai commented on #730
@solarist Can you please elaborate? I have similar issue, can access form web and mc client no issue, but can't connect via Python SDK. Thanks!

[code]

[2020-04-20 06:28] solarist commented on #730
@zhangtai try something like this, maybe it helps.
[code]
The file that `ca_certs` points to should have the full chain of certificates. Just as a general way to produce one see [here](https://medium.com/@superseb/get-your-certificate-chain-right-4b117a9c0fce) or any other tutorial on how to get the certificate chain right. Other option beside setting `ca_cert` in your `http_client` is to set the

[2020-04-23 16:47] RazerM opened #899 "Exceptions are not pickleable"
I noticed this using minio in a celery task. See http://docs.celeryproject.org/en/latest/userguide/tasks.html#creating-pickleable-exceptions.

To reproduce, try and pickle an exception:
[code]

Output:
[code]

[2020-04-24 09:57] michaelmolino commented on #839
@yashas123 were you able to solve this? I've tried stripping all the custom cloudflare errors in my nginx conf but it's still giving me errors.

[2020-04-24 15:54] michaelmolino commented on #839
I think I have it working through nginx with the following in my location block.  (in nginx, to delete a header you set it to an empty string)

  proxy_set_header cdn-loop "";
  proxy_set_header cf-connecting-ip "";
  proxy_set_header cf-ipcountry "";
  proxy_set_header cf-ray "";
  proxy_set_header cf-request-id "";
  proxy_set_header cf-visitor "";
  proxy_set_header upgrade-insecure-requests ""

[2020-04-25 06:38] yashas123 commented on #839
That pretty much removes data cloudflare/client needs.

[2020-04-29 09:42] vadmeste opened #902 "Breaking changes to 6.0.0"
This is a list of breaking changes that we want to do before releasing 6.0.0

- [ ] The modtime type of list_objects v1 & v2 is different to stat_object
- [ ] Change JsonOutput to JSONOutput
- [ ] Making sure that SQL API differentiate between sending an empty option and not sending the parameter at all for JSON/CSV input/output options
- [ ] Credentials refactoring
- [ ] Assume role design fix
-

[2020-04-29 09:44] Praveenrajmani commented on #902
We can also add the credentials refactoring and assume role design fix in the version bump @vadmeste

[2020-04-29 11:02] balamurugana commented on #902
* Fix all `pylint` error `C0103 invalid-name`

[2020-05-13 23:14] ysimonson commented on #788
It looks like the python client library looks for a root element called [`ListBucketsResult`](https://github.com/minio/minio-py/blob/941c517716a1a21d0ff11c68b5dfbc790c059613/minio/parsers.py#L192)

Where does the element name come from?

* According to the current S3 docs, the root element should be [`ListBucketsOutput`](https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListBuckets.html)
* Accor

[2020-05-13 23:18] harshavardhana commented on #788
That looks like a bug @ysimonson NOTE: we cannot add still custom namespaces.

[2020-05-13 23:25] ysimonson commented on #788
I'm kind of confused because it looks like the tests actually check for [`ListAllMyBucketsResult`](https://github.com/minio/minio-py/blob/3a8336ba797b25f5a9c58dfc45579a66e2c28062/tests/unit/list_buckets_test.py#L33) -- maybe that test isn't run though?

[2020-05-14 18:57] ysimonson commented on #788
Alright, I tested this out and it looks like the `ListBucketsResult` bit is irrelevant, it's ignoring the root tag name. Changing the namespace to aws' addresses the issue, on my implementation at least.

[2020-05-15 18:04] #899 closed

[2020-05-18 23:54] blmayer commented on #795
I think this hasn't been fixed, I just ran into the same issue. I'm using version 5.0.10.

[2020-05-19 05:33] balamurugana commented on #795
@blmayer can you enable `minio_client.trace_on(sys.stdout)` and share the output?

[2020-05-19 20:45] michaelschmit commented on #788
Tangent to this question, should this python client be able to connect to a minio instance running as an azure gateway?  I seem to be running into a similar issue where bucket_exists calls return false even though the bucket exists and make_bucket calls return bucket doesn't exist exceptions.  I believe this is the result of downstream 404 status codes being returned.

[2020-05-20 03:12] michaelschmit commented on #788
I tested connecting with the python client locally with a minio azure gateway instance and it works.  The issue I am running into is access it through a reverse proxy.  Rather than pollute this issue I will create a separate one.

[2020-05-20 03:25] michaelschmit opened #924 "Accessing Minio Azure Gateway through Apache Reverse Proxy"
I have a minio azure gateway running on kubernetes.  I access the instance through an apache reverse proxy.  It is secured via self generated certificates.  I am able to access the minio instance via the web and do not receive a warning after importing the root cert.  I am able to login, create, and delete buckets, and the changes persist between tear downs of the kubernetes instances.

The issue

[2020-05-20 03:31] michaelschmit commented on #924
I should also note, that I have spun up a local docker instance of minio going against the same azure instance and was able to connect via the python client using the same credentials, just a different endpoint.

[2020-05-20 04:43] balamurugana commented on #924
@michaelschmit could you enable debugging by `minio_client.trace_on(sys.stdout)` and share the output here. This will help to understand what's going on at HTTP level.

[2020-05-20 14:49] blmayer commented on #795
Sure!

The command:

[code]

I only hid the the bucket name and the path after pasting.

[2020-05-20 15:14] balamurugana commented on #795
@blmayer I see `PUT /<mybucketname>/some~name.txt HTTP/1.1` might cause a problem. I will try to reproduce and will get back to you.

[2020-05-20 16:24] blmayer commented on #795
Thanks!

[2020-05-20 17:43] balamurugana commented on #795
@blmayer I tried below python code works fine with `s3.amazonaws.com` and `play.minio.io:9000`
[code]

It looks like some other issue you got like your proxy with wrong configuration or server issue.

[2020-05-20 18:45] blmayer commented on #795
Interesting. I think it can be server side, but I also tried using the `boto3` library, and it worked. Here's the code:

[code]

I have a hunch that it may be related to the http client used under the hood, but no clue on how to test it.

[2020-05-20 19:58] balamurugana commented on #795
My guess is that the server is expecting signature v2 whereas `minio-py` supports signature v4. Could you check on that?

[2020-05-20 20:55] blmayer commented on #795
I'll try that and come back to you.

[2020-05-20 20:58] michaelschmit commented on #924
@balamurugana sorry for not getting back to you today.  I noticed that I had istio in the mix as well.  I am going to remove that from the equation for now and see where I stand before debugging further.  I will report back as soon as I have the results.

[2020-05-21 05:24] balamurugana commented on #795
@blmayer Could you enable debugging in `boto3` something like `boto3.set_stream_logger(name='botocore')` and share the output?

[2020-05-21 16:52] michaelschmit commented on #924
Previously, I had istio setup to perform TLS termination at the gateway.  I instead setup minio to do tls and setup the gateway to perform passthrough.  This allowed the python client to connect and not return the 404 not founds I was running into previously.  I also had to set `ProxyPreserveHost On` on the apache reverse proxy for the client to connect as well.

I'm not sure why the web UI works

[2020-05-21 16:52] #924 closed

[2020-05-21 16:53] harshavardhana commented on #924
It does not @michaelschmit UI uses a different protocol that is not relying on S3 semantics.

[2020-05-22 17:08] srinivaskotamraju opened #925 "async get_object throwing issue"
I would like to use async await calls and trigger multiple get_object calls and improve the throughput of my code (accessing objects in the minio store hoisted on azure).

Below is the sample code. However i am receiving the below error. Not sure if my approach is correct

TypeError: object HTTPResponse can't be used in 'await' expression

I would like to attempt similar to what this URL suggests:

[2020-05-23 06:00] balamurugana commented on #925
`minioClient.get_object()` is not await-able.  Below is the working code.

[code]

[2020-05-23 08:00] balamurugana commented on #879
@RazerM As you mentioned `Minio` constructor provides an option for customized HTTP client, this option needs to be used for any such requirements.

[2020-05-23 08:00] #879 closed

[2020-05-23 08:03] balamurugana commented on #857
Fixed by https://github.com/minio/minio-py/pull/858

[2020-05-23 08:03] #857 closed

[2020-05-23 13:06] balamurugana commented on #854
@jahodfra I see no problem if multiple `fget_object()` is called to download an object sequentially.

It is user responsibility If same object (or different object) is downloaded in parallel for same file name. You could use different file name of such requests and pick the latest one (or at your choice) for actual file.

[2020-05-23 13:06] #854 closed

[2020-05-23 13:09] balamurugana commented on #824
fixed by https://github.com/minio/minio-py/pull/825

[2020-05-23 13:09] #824 closed

[2020-05-23 15:47] kannappanr commented on #925
@srinivaskotamraju Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io fir further questions

[2020-05-23 15:47] #925 closed

[2020-05-23 16:41] srinivaskotamraju commented on #925
Hi balamurugana, thanks for replying. The above code however results in sequential download, i would like to increase the through put by using the multiple requests getting fired for the download. It is ok if get_object cannot be awaited. however what are the standard ways of doing this parallel get_object (through asyncio or anything package), can you please share the approach.

If i have do this

[2020-05-23 18:55] blmayer commented on #795
Thanks for the suggestion, here it goes:

[code]

[2020-05-24 05:17] balamurugana commented on #925
@srinivaskotamraju As `minio-py` is thread-safe. you could use `threading` module to get multiple objects in parallel.

[2020-05-24 10:01] balamurugana commented on #795
Thanks for the info. It seems I need to get an account in scaleway to debug the issue.
Could you please check whether you are able to create same file in `play.min.io`? I just want to make sure that you don't have any setup issue.

[code]

[2020-05-24 13:23] srinivaskotamraju commented on #925
Sure, thanks we would think approach. We are using uvicorn and fastapi as our REST infrastructure (with asyncio). Introducing threading module into this infrastructure, we are have to carefully plan and implement, so that we don't end up into messy threading issues. Thanks once again for a quick response

[2020-05-24 13:41] blmayer commented on #795
It worked.

[code]

[2020-05-24 13:49] blmayer commented on #795
This is their documentation: [link](https://www.scaleway.com/en/docs/object-storage-feature/).

It is said they only support AWS signature v4. I hope it may be helpful.

[2020-05-24 20:32] jahodfra commented on #854
@balamurugana It's probably fine to leave it. I'm not sure if it makes sense to document it.
What bit surprised me is that the continuation on already partial file is not working as well. The file is open with "wb". #824. Therefore it is not even necessary for name of temporary file to be stable.

[2020-05-25 05:25] balamurugana commented on #854
@jahodfra `fget_object()` should work to resume partial download like other minio SDKs. Not working is an issue and will be fixed soon.

The idea of using `<FILENAME>.<ETAG>.part.minio` is like a web browser download/resume functionality i.e. the browser deals with fixed name `<FILENAME>.part`.

[2020-05-26 06:01] balamurugana commented on #795
@blmayer I see it is working.
[code]

I think there is some other problem at your side.

[2020-06-13 23:19] siteshi commented on #791
I am having the same problem, could you please post your solution in detail?

[2020-06-15 18:37] mykola-mokhnach opened #929 "Serious memory leak on multipart file upload"
Hello,

it looks like there is a series memory leak while uploading multipart files to s3 using this client. We use version 5.0.10 of it and were observing constant pod crashes due to OutOfMemory exceptions while uploading bigger files to S3. This is particularly visible if the allocated amount of pod memory resources is low. After some investigation we've figured out the root cause of the issue m

[2020-06-15 18:40] harshavardhana commented on #929
what is the actual memory limit on the pods ? @mykola-mokhnach can you share the application code here?

[2020-06-15 18:44] mykola-mokhnach commented on #929
The application code is super straightforward. This method is uploading files:

[code]

The memory limit on the pod is 512M, The size of the file is 500M

[2020-06-15 19:03] harshavardhana commented on #929
At max it should use 75*(num_workers) @mykola-mokhnach do you see beyond this?

[2020-06-15 19:09] mykola-mokhnach commented on #929
This is what I would expect as well. I see the default workers count is 3. But you see the actual allocation value in the log - it's much bigger than that

[2020-06-15 19:11] harshavardhana commented on #929
That I think looks like because the buffer is not re-used - although it is still using 225MiB per 3 workers.

[2020-06-15 19:28] mykola-mokhnach commented on #929
75*3=225 would be fine, but it shows 423 :(

[2020-06-16 05:17] Nithish-Raja commented on #791
Initially i assumed that the minio server was running on `0.0.0.0:9000` and i tried to access it there. However, upon inspecting the network bridge, it wasn't running on `0.0.0.0`. Making that change in my client code enabled the connection to be successful. Run ```sudo docker network inspect bridge``` to check the network.

[2020-06-16 10:18] mykola-mokhnach commented on #929
I looks like the issue also exists for single-part uploads. In https://github.com/minio/minio-py/blob/c8aaeba8f25579aa9bc161ddede9691017c1c42b/minio/api.py#L941 the lib also loads the content of the file fully into RAM. I have no idea why it is done this way, since urllib3 can perfectly deal with file handles passed as `body` argument.

For now I've rewritten the implementation like that in my cli

[2020-06-18 15:24] Mragesh commented on #735
For future readers, I built a python wrapper around the minio-client, there were some quirks I had to get around, hope this helps:
[code]

[2020-06-18 21:03] vadmeste commented on #929
@mykola-mokhnach this is not a memory leak. The maximum allocated memory would be 6 x part_size, but I also sent a PR which reduces the memory usage.

[2020-06-18 21:07] mykola-mokhnach commented on #929
Thanks for your response @vadmeste

Could you please answer some more questions if you have time?

- Was this a deliberate decision to load parts fully into the memory?
- The maximum size of single part could be up to 5 GB - would this be a safe solution? Is `6 x part_size` rule documented anywhere?

[2020-06-18 21:11] vadmeste commented on #929
The data source is a stream, and the S3 spec requires that we know that size of the data before uploading it.. so we don't have a choice here.

Not safe, but the default part size is 5 Mb anyway, we can't do much AFAIK

[2020-06-18 21:29] mykola-mokhnach commented on #929
I probably don't know much about the original background there. These are just some ideas on how I would optimize the stuff:
- the fput_object primitive accepts file paths, which means it is possible to create [multiple](https://stackoverflow.com/questions/56233177/how-to-maintain-multiple-stream-positions-in-a-python-stream) streams from it and calculate hashes without loading the stuff fully int

[2020-06-19 04:39] #929 closed

[2020-06-21 08:47] Alamin02 commented on #524
This will be a very nice to have feature for client sdk.

[2020-06-21 16:34] harshavardhana commented on #524
This is an application logic, not meant for client SDKs

[2020-06-22 17:43] trenta3 opened #931 "Implement Lifecycle Management API Calls"
Hi! I noticed that the lifecycle management API are missing in the python client docs and in the code, but are implemented in the Go and the Java clients (search for SetBucketLifecycle, GetBucketLifecycle, DeleteBucketLifecycle in https://docs.minio.io/docs/golang-client-api-reference.html ).
Would it be possible to add their implementation here too?

Thanks for the great work!

[2020-06-23 16:58] srivignessh opened #932 "fget_object is inconsistent with key error in kubeflow pipeline deployment."
I get this key error during the kubeflow pipeline deployment frequently (3 / 10).

Traceback (most recent call last):
  File "run.py", line 74, in <module>
    minio_client.fget_object(raw_data_path, constants.RAW_DATA_PATH)
  File "/app/shared/minio_client.py", line 33, in fget_object
    minioClient.fget_object(bucket_name, object_name, file_path)
  File "/usr/local/lib/python3.6/dist-packages/m

[2020-06-23 22:14] ssaranathan opened #933 "urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='***', port=443): Max retries exceeded with url: /local-static?location= (Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:833)'),))"
Hi,
I get this error when the Django container comes up:

I am using minio:RELEASE.2019-10-02T21-19-38Z

Any idea what could be wrong ?

Traceback (most recent call last):
  File "manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python3.6/site-packages/django/core/management/__init__.py", line 364, in execute_from_command_line
    utility.execute()

[2020-06-23 22:17] harshavardhana commented on #933
@ssaranathan looks like some installation screw up on your end. your installation of urllib3 conflicts

[2020-06-24 01:48] ssaranathan commented on #933
Hi,
These are the modules that I have.  Any idea which one could be conflicting with the urllib3?
asgi-redis==1.4.3
boto3==1.9.88
botocore==1.12.88
commonmark==0.5.4
django==1.11.23
django-allauth==0.40.0
django-filter==2.1.0
django-import-export==0.5.1
djangorestframework==3.9.3
djangorestframework-expiring-authtoken==0.1.4
django-cors-headers==1.3.1
django-rest-auth[with_social]==0.9.2
django-se

[2020-06-24 02:24] harshavardhana commented on #933
most probably this @ssaranathan

[2020-06-24 02:40] ssaranathan commented on #933
Hi @harshavardhana ,
I removed botocore.. still having the same issue.

Thanks for your help,

[2020-06-24 03:17] harshavardhana commented on #933
you need to remove urllib3 @ssaranathan and re-install minio-py

[2020-06-24 12:14] ssaranathan commented on #933
Hi @harshavardhana , thanks for your tips.  I have not explicitly installed urllib3 ( I don't see it in my list of modules).  I am using only django-minio-storage==0.3.7.  Any ideas ?

This is my list of updated modules:
asgi-redis==1.4.3
boto3==1.9.88
commonmark==0.5.4
django==1.11.23
django-allauth==0.40.0
django-filter==2.1.0
django-import-export==0.5.1
djangorestframework==3.9.3
djangorestfram

[2020-06-24 12:36] ssaranathan commented on #933
When I tried to uninstall urllib3, this is what I got:
Step 8/11 : RUN pip uninstall -y urllib3

 ---> Running in 169a9f96bd65

WARNING: Skipping urllib3 as it is not installed.

[2020-06-24 16:42] ssaranathan commented on #933
Hi @harshavardhana , any clues ?  I am stuck with this issue in our production build.. Thanks for your help.

[2020-06-24 20:16] ssaranathan commented on #933
Hi @harshavardhana , I made some more updates to the code.  Instead of reading the minio secret and key from the config map in the container, I hard coded them in the python code.  I also have a valid Digicert  signed certificate and I have that in the deployment yaml file of both Django and Minio ( I have both the Root and CA certs) and still getting the following error.

Try running with a highe

[2020-06-25 21:59] ssaranathan commented on #933
The K8S pod was looking at the wrong SSL certificates.  This can be closed now.  Thanks.

[2020-06-25 21:59] #933 closed

[2020-06-28 19:45] srivignessh commented on #932
Simple retry on gets didn't solve the issue but the following helped.

http_client retry object reset every time after the key error.

minioClient._http.connection_pool_kw['retries'] = urllib3.Retry(total=5, backoff_factor=0.2, status_forcelist=[500, 502, 503, 504])

Is there a clean way to do this?

[2020-06-29 17:07] febg opened #934 "AWS IAM provider fails to renew token upon expiration"
The AWS IAM provider adds a 5 minute time delta to the actual expiration time of the token provided by AWS.

https://github.com/minio/minio-py/blob/99dd78b3a44a9ad2c5fb636b2c0de18ef7b3a82a/minio/credentials/providers.py#L236

This causes a 5 minute period of time in which the SDK is operating with expired credentials before asking for a new token.

[2020-06-29 17:17] harshavardhana commented on #934
The best way is to have something like a delta which negates not adds - look at the API here

https://pkg.go.dev/github.com/minio/minio-go/v6@v6.0.57/pkg/credentials?tab=doc#Expiry.SetExpiration

[code]

https://github.com/minio/minio-go/blob/51222d26253e90224f8b4f8ba9be9b7982e3ce53/pkg/credentials/iam_aws.go#L40

https://github.com/minio/minio-go/blob/51222d26253e90224f8b4f8ba9be9b7982e3ce53/pkg/

[2020-06-29 17:49] febg commented on #934
@harshavardhana I changed the time delta addition to a subtraction in PR #935.

[2020-06-29 19:46] srivignessh commented on #932
Creating a Minio client with http_client field set works. The default None does create the http_client properly but doesn't work properly after key error.

import urllib3

_http = urllib3.PoolManager(
                        timeout=urllib3.Timeout.DEFAULT_TIMEOUT,
                        retries=urllib3.Retry(
                            total=5,
                            backoff_factor=0.2,

[2020-06-29 19:47] #932 closed

[2020-07-15 11:03] jhadjar commented on #829
Hey, @ruiztulio... Did you end up implementing this? We implemented something in that sense here https://big-mama-tech.gitlab.io/bmc/. Would this API suit you? No external libraries, provided you have the `mc` and `minio` command line tools on your machine.

It's still a prototype for our work for https://iko.ai and does not yet completely match `mc` and `minio` CLIs but we'll probably beef it up

[2020-07-15 15:36] harshavardhana commented on #829
This is correct usage.

No @jhadjar

[2020-07-16 04:30] #934 closed

[2020-07-17 18:58] michael-burt opened #939 "InvalidAccessKeyId Error when using S3 Gateway mode with IAM Role Auth"
I am unable to access my Minio buckets using the Python client.

Client Version: `5.0.10`
Minio Version: `RELEASE.2020-07-14T19-14-30Z`

The full stack trace when I try `list_objects()`:

[code]

I can log into the Minio UI using the same key/secret and I am able to navigate to my bucket and view contents.

Am I misconfiguring my client somehow?

[2020-07-17 18:59] harshavardhana commented on #939
You are trying to talk to S3 - isn't that you want to talk to MinIO?

[2020-07-17 19:04] michael-burt commented on #939
Yes, I want to talk to Minio! I misunderstood what I should be doing there. Thanks for the quick reponse!

[2020-07-17 19:04] #939 closed

[2020-07-22 16:37] gitpushdashf opened #940 "Offline presigned URL generation"
Is there a way to generated presigned URLs offline in Minio?

[2020-07-22 17:00] harshavardhana commented on #940
@gitpushdashf set the right region then we won't perform get_bucket_location

[2020-07-22 17:00] #940 closed

[2020-07-22 17:22] gitpushdashf commented on #940
Ah, thank you!

[code]

Gives me: `http://localhost:9000/bucket/object?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minioadmin%2F20200722%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200722T171834Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=1d87b29675a889cee377d7f7fb1065baa2b45efa9899fab939eab0caebdec767`

(Note that Minio is not running here, credentials are bogus, etc.)

[2020-07-22 17:31] harshavardhana commented on #940
Don't access internal methods

^^ correct approach @gitpushdashf

[2020-07-22 17:39] gitpushdashf commented on #940
Oops, that makes a lot more sense!

[2020-07-25 08:08] tirkarthi opened #942 "nose is unmaintained and will stop working under future versions of Python"
Nose has been unmaintained and will stop working in version like Python 3.10 due to ABC import from collections. Ref : https://github.com/nose-devs/nose/issues/1099

[2020-07-25 16:10] harshavardhana commented on #942
Good idea feel free to send PR @tirkarthi

[2020-07-28 19:08] nununoisy opened #1192 "No way to update metadata in copyObject"
Hello,

I am trying to use `copyObject` to copy a file over itself while updating `lastModified` on it. However, this fails with this error:
[code]
I've noticed that some of the other client libraries do include metadata fields in their `copyObject` - however I can also see how adding a parameter would introduce a potentially breaking change.

I can work with either of these two solutions:
- Updat

[2020-07-30 05:44] pavo-tusker opened #943 "When the "PutBucketVersioning" API will be enabled ?"
Hi,

Right now we are working on Minio Bucket versioning. In Server, the Bucket version is there.  But we didn't find API for enabling bucket versioning. When the API to enable bucket versioning will available in Minio Python?

[2020-07-30 06:11] harshavardhana commented on #943
Soon it's merged in master #923 - we are finishing up the docs in #941

[2020-07-30 06:35] kannappanr commented on #943
closing this issue as answered. We hope to make a release soon once the documentation and examples are updated

[2020-07-30 06:35] #943 closed

[2020-07-30 17:14] 2020testuser opened #944 "set_bucket_notification() in Python Minio SDK"
This is related to the issue - Set notification namespace for NotificationConfiguration minio/minio#6789 . The set_bucket_notification() is not working in Python as expected in s3 (not the sandbox).
 I'm using docker minio client and server. Could anyone let me know whether this function works in Python?

## Expected Behavior
When I use set_bucket_notification() in Minio Python SDK, it should work

[2020-07-30 17:14] #944 closed

[2020-07-30 17:16] 2020testuser opened #945 "Python Minio set_bucket_notification() in Minio S3 Sandbox"
This is related to the issue - Set notification namespace for NotificationConfiguration minio/minio#6789 . The set_bucket_notification() is not working in Python as expected when using minio sandbox (play.minio.io).
 I'm using docker minio client and server. Could anyone let me know whether this function works in Python?

## Expected Behavior
When I use set_bucket_notification() in Minio Python SD

[2020-07-30 17:16] #945 closed

[2020-07-30 18:25] 2020testuser commented on #944
@harshavardhana - Thanks Much! I tried with secure = False and I get the below error. With secure=True, I get a different error. Could you please let me know how to fix the issue? Appreciate your help. Thanks in advance!
========
secure=False set in Minnio() cmd.

`  File "events-notify-s3.py", line 36, in <module>
    minioClient.set_bucket_notification('otdatahub', notification)
  File "/usr/loc

[2020-07-30 18:28] 2020testuser commented on #945
@harshavardhana - Thanks!

[2020-07-30 18:39] 2020testuser opened #946 "CloudFunctionNotification"
Hi,
I want to invoke (trigger) a Knative serverless function (using the function url) when I put a file in s3 bucket.
Could anyone please let me know whether CloudFunction Notification is available in Java Minio or Go Minio ? (as it is unsupported in Python Minio).

If QueueConfigurationNotification can be used, do I need to any queue component like RabbitMQ ?
If not, could you let me know how I c

[2020-07-30 18:50] lmcdasm opened #947 "Receiving Bad Request when calling MINIO Server from minio/api.py ("
Hello.

I am working with @vsoch  on an SREGISTRY integration that uses MINIO for the storage backend with HTTPS/SSL enabled.

The environment (for testing/development) is a couple containers on a single host and looks like this:

Where the GREEN Container is our running instance of MINIO and the Two containers in purple are our MINIO clients that implement / instantiate two instances of MinioClie

[2020-07-30 19:08] vsoch commented on #947
This is beautifully documented @lmcdasm ! And we can also provide detail that without ssl (just http), it works without a hitch. And @lmcdasm can you please comment if you tried keeping the internal client to just use http (and if it worked?)

[2020-07-30 19:52] lmcdasm commented on #947
Hello

@vsoch  - will try to address your points as well and illustrate.

To continue with the Thread of the current "makeBucket call that throws a bad request" and since i can create a bucket in the MINIO BACKEND, i decided to comment out that call and test it.  in this way, we can see that the components start up (since there is no "usage") of the call to the MINIO endpoint of yet.. For clarity

[2020-07-30 20:14] vsoch commented on #947
@lmcdasm the call that is failing is not an interaction between the external client and server (although your push originally triggers it) but rather it is the internal client requesting to generate a signed url (to return to the external client). This call fails, which is why you don't see any traffic at port 9000.

[2020-07-30 20:19] lmcdasm commented on #947
excellent - that could the thread to pull on here.. as i said, in some Minio documentation that there is a part to set an unsigned call  - however when i do the mc add part and provide the key (myminio) i thought this would do it..

[2020-07-30 20:29] vsoch commented on #947
@lmcdasm the url is generated [here](https://github.com/singularityhub/sregistry/blob/89caaf05f91f63fa34e3f461eb469603d9f7ddcc/shub/apps/library/views/minio.py#L94) and note that there is an argument for any extra headers that are needed. I think a solid way to start debugging would be to generate this URL for a working call (with http) and then one with https (not working).

 - [the multipart upl

[2020-07-30 20:35] vsoch commented on #947
And keep trying @lmcdasm - you're doing great, detailed work, and figuring this out is going to be hugely useful for the community! Don't worry if it takes some time, it took me ~1.5 months to get the original implementation working.

[2020-07-30 21:32] lmcdasm commented on #947
Thanks.. the one thing in the end is the docker vs. the long term K8s deployment play.. in our world, we have ingress controllers (that will take the place of nginx) and we will use a service mesh in k8s for certificate management..  in that sense, we wouldnt have a "internal and external client" - there would be "one call" to any publish endpoint (since they are all backed by a HTTPS ingress cont

[2020-07-30 21:35] vsoch commented on #947
I didn't stop / exit from the server in case it didn't work because it would be shown in the logs and subsequent failure, and also it would make it harder to debug if I exit immediately. But I definitely agree maybe there could be some way to better show that.

[2020-07-30 21:39] lmcdasm commented on #947
One thing i did notice as well (from the external client side, i think we are getting as far as URL generation, since i see that the scs-library (Singuliary) apiGet - they are getting the hash that you generate and attempting to make the post to that URL

**postFileV2 below**

DEBUG   [U=0,P=60094]      apiGet()                      apiGet calling v1/entities/daniel.smith
DEBUG   [U=0,P=60094]

[2020-07-30 21:44] vsoch commented on #947
I don't see the PUT request there - I see a request that goes to the legacy uploader, which isn't multipart (and is not Minio).

[2020-07-30 22:00] lmcdasm commented on #947
hmm. im not sure i understand.. this is singularity in DEBUG calling.> So its configured to use SREGISTRY as the remote.

We can see in the UWSGI logs the following
SINGULARITY CALLS:
DEBUG [U=0,P=60094] apiGet() apiGet calling v1/entities/daniel.smith

This INVOKES iN REGISTRY the following method
GET NamedEntityView
which replies back with /v1/entities/daniel.smith

then we see that SINGULARITY

[2020-07-30 22:06] vsoch commented on #947
You can take a look at the Singularity source code to see the circumstances for doing the post to `legacyPostFileV2()`: https://github.com/sylabs/scs-library-client/blob/a1fe9f14d4aaebeed059e7b5a5cbd9a88e3fdb3d/client/push.go#L266 I'll also put the code here - the endpoint is not called unless there the container is larger than the minimum chunk size:
[code]
Are you testing with a small container?

[2020-07-30 22:09] lmcdasm commented on #947
Indeed, the container is small right now, i can push to a bigger one to be more consistent, in the end i wonder though if this is "really it" since either multipart or legacy (in real terms) should work regardless.. thanks for clarifying.

[2020-07-30 23:27] lmcdasm commented on #947
Hey there.

so i did a bit more debugging and above you mentioned you are getting the "url" fromsregistry_presign_v4 call.. however when i trace to the invoking object, i see its a call to presigned_put_object ( put some try/excepts to play around with my stub)

Code calls:

        print("DASM - storage: " + storage)
        try:
            print("DASM DEBUG - trying to get url from presigned_pu

[2020-07-30 23:35] lmcdasm commented on #947
And finally, when i hardcoded the creds into the MiniCall, it "worked"

DEBUG   [U=0,P=102647]     apiGet()                      apiGet calling v1/containers/daniel.smith/dasm-test/something
DEBUG   [U=0,P=102647]     apiGet()                      apiGet calling v1/images/daniel.smith/dasm-test/something:sha256.b226c379e19853f16f1dc76b13b70deaf822afd6078c5bc3cd9b921d32cf7101?arch=amd64
DEBUG   [U=

[2020-07-30 23:47] vsoch commented on #947
Yes it does that first to generate the start of the URL, and then customizes it (take a look at minio.py I linked previously)

Great! if you found a solution please open a PR to the repository, and I can test for the http client.

[2020-07-30 23:52] lmcdasm commented on #947
Hey there.

I think we should do the following:

a) we can close this ticket in the minio project, since it doesnt "seem" to be an issue there
b) im in the process of figuring out where in the different between the sourching of .minio-env (which has the right creds) and the instantion they are getting lost/not read - or something is going on and if i find the issue there, then will PR on sregistry

[2020-07-30 23:52] #947 closed

[2020-07-30 23:52] vsoch commented on #947
But that's still not the multipart... but maybe it's one bug fixed :)
[code]

[2020-07-30 23:52] lmcdasm commented on #947
hehe.. one sec, ill do a big image and try

[2020-07-30 23:52] vsoch commented on #947
No worries @lmcdasm ! Let's pick up in sregistry. Thanks for listening to our back and forth minio maintainers! Nothing to see here... lol

[2020-08-11 15:04] 2020testuser commented on #946
Based on the testings that I performed, identified that CloudFunction Notification is not supported in non-aws s3.

[2020-08-11 15:04] #946 closed

[2020-08-12 07:27] Shashikant255 commented on #765
@optimuspaul I am getting same issue. How you have solved this?

[2020-08-12 07:36] Shashikant255 opened #955 "minio set_bucket_notification gives error "InvalidArgument: message""
I am trying to set_bucket_notification in minio. I am using below code to do so.
[code]
This gives below error:-

Can anyone help me to set_bucket_notification?
@harshavardhana @kannappanr

[2020-08-12 10:24] Shashikant255 commented on #955
This error is solved by setting MINIO_NOTIFY_WEBHOOK_ENABLE, MINIO_NOTIFY_WEBHOOK_ENDPOINT and MINIO_NOTIFY_WEBHOOK_QUEUE_LIMIT variable.
`docker run -e MINIO_ACCESS_KEY=minio -e MINIO_SECRET_KEY=minio -e MINIO_NOTIFY_WEBHOOK_ENABLE=on -e MINIO_NOTIFY_WEBHOOK_ENDPOINT=http://<ip>/backend/v1/storage/events -e MINIO_NOTIFY_WEBHOOK_QUEUE_LIMIT=1000 -it  -v data:/data -p 9000:9000 minio/minio server /

[2020-08-12 10:24] #955 closed

[2020-08-13 01:23] NickLavrov opened #956 "Unable to use AWS ECS task role credentials"
IAM provider source code: https://github.com/minio/minio-py/blob/1ee647eaf9507e04b21404a251bc6953b9861c13/minio/credentials/providers.py#L187

The issue is that `creds_path = "/latest/meta-data/iam/security-credentials"` is hardcoded.

On an EC2 instance, you can run `curl http://169.254.169.2data/iam/security-credentials` to get the iam role, then `curl http://169.254.169.2data/iam/security-crede

[2020-08-13 08:18] wilko77 opened #957 "Mix of timezone-aware and naive datetime objects with AssumeRoleProvider"
I was trying to update our code base to use minio 6.0.0 and ran into the following problem:

[code]

I could track it down to the following code:
[code]

The problem seems to be that `get_assume_role_creds` calls `parse_assume_role` which returns the expiry as a timezone-aware datetime object https://github.com/minio/minio-py/blob/e1d58b2599fed979fa8459cd6a22f1699dd919a6/minio/parsers.py#L531
Howe

[2020-08-13 12:39] balamurugana commented on #956
@NickLavrov

Is the value ``/v2/credentials/54da6c7a-84ff-41dc-a160-21b8a8bc7fb0` fixed for any EC2 instance? If not, we can take `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI` path as optional argument.

It looks like ECS role is different than IAM. In that case, we may need to have different provider like IAM provider.

[2020-08-13 15:18] NickLavrov commented on #956
@balamurugana I was just giving an example value for `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI`.

I searched this org, and this is already implemented in golang: https://github.com/minio/minio-go/blob/f0e2f3ae36786e5e69f34fdaff106223ddba6082/pkg/credentials/iam_aws.go#L113

Also ECS task role is treated the same as IAM instance roles. Pretty much every single AWS SDK will automatically use it as a d

[2020-08-13 17:05] NickLavrov commented on #956
The more I look at it, the more this seems like it can become a breaking change if I try to keep with the same `IAMProvider`. Even though most aws sdks would treat looking up credentials the same, since `IAMProvider` takes the `endpoint` argument as just the base url, and not the full path to the credentials, there will be an issue unless I add another argument to this provider:

Right now, the co

[2020-08-19 05:23] s-t-e-v-e-n-k opened #961 "Minio 6.0 no longer includes config*sample"
Since the configuration sample files were moved from the credentials directory to test/unit, MANIFEST.in was not updated to include them in the sdist.

[2020-08-19 05:42] harshavardhana commented on #961
There are no configuration files for minio-py and never has been not sure what are you talking about here ?

[2020-08-19 06:17] s-t-e-v-e-n-k commented on #961
Sorry, I should have been more clear -- By configuration samples I mean ``config.json.sample`` and ``credentials.sample``. They are not shipped in the sdist on pypi, and therefore tests fail.

[2020-08-20 15:29] #961 closed

[2020-08-20 16:47] 2020testuser opened #964 "Function Notification"
Hi,
Currently, set_bucket_notification() doesn't support Function notification.

Could you please let me know whether this feature is in the minio python roadmap and if so, when (month/year) this feature would be available for use by minio customers?

Also, if this is not in the roadmap, could you please include it?

Thanks in advance!

[2020-08-20 23:46] adaptivecorporation opened #965 "Put Object Limit / Write Limits"
Is anyone aware of any limitations that the minio client would have using `fput_object` if used in a multithread process? My service uses multithreading to download multiple images from s3 and in the function it is supposed to upload it to our local minio server.

I get a lot of success confirmations in the console, but when I go to check if the file exists, it does not. I suspect that the minio s

[2020-08-21 03:18] harshavardhana commented on #965
There are no such limits, all limits are your OS limits of course there is no free lunch and you will hit a wall at some point network or disk.

Looks like the client code is buggy incorrectly implemented perhaps is ignore exceptions in a multi threaded environment.

Please share the entire code here as a reproducer for us to see how it is written.

[2020-09-01 18:23] #956 closed

[2020-09-02 06:05] balamurugana commented on #957
Fixed by https://github.com/minio/minio-py/pull/963

[2020-09-02 06:05] #957 closed

[2020-09-07 08:54] kannappanr opened #974 "Implement GetBucketVersioning API"
We need to implement GetBucketVersioning API in minio-py like it is done in https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/model/BucketVersioningConfiguration.html

[2020-09-25 06:23] #974 closed

[2020-09-28 11:55] nileshbhadana opened #978 "Access S3 without Access Key and Secret"
I am trying to access my s3 bucket using minio, but I want to use role instead of AccessKeyId and Secret.
Can any one help?
Thanks in Advance

[2020-09-28 14:25] balamurugana commented on #978
You could use credential providers for that. Please refer `minio_with_*_provider.py` in [examples](https://github.com/minio/minio-py/tree/master/examples) For more detail, refer [providers.py](https://github.com/minio/minio-py/blob/master/minio/credentials/providers.py)

[2020-09-28 14:25] #978 closed

[2020-09-29 04:20] danilopeixoto opened #980 "Unable to create buckets"
Hi,

I can't create buckets using the Python SDK.

Versions:
- Python 3.7.0
- MinIO SDK 6.0.0

Source code:

[code]

Traceback:

[code]

Thanks.

[2020-09-29 04:48] kannappanr commented on #980
@danilopeixoto I tried `minio-py` `6.0.0` and `python` version `3.6.8` and unable to see the issue

[2020-09-29 05:40] balamurugana commented on #980
@danilopeixoto As the error occured at urllib3, please upgrade it and try again.

[2020-09-30 03:41] kannappanr commented on #980
@danilopeixoto closing this as answered. Please let us know if it still happens

[2020-09-30 03:41] #980 closed

[2020-09-30 19:28] spackard opened #983 "configparser is part of the interpreter in Python 3"
This project specifies that configparser is required in setup.py: https://github.com/minio/minio-py/blob/0ca673bd886e7f63bdddff814b1aacb1d16a2adc/setup.py#L45

According to the Python 3 documentation (https://docs.python.org/3/library/configparser.html) and the configparser documentation (https://github.com/jaraco/configparser/blob/master/README.rst), configparser is part of the interpreter in Pyt

[2020-10-19 11:08] armsby opened #1005 "python listen_bucket_notification errors"
im trying to read everts using python but I keep getting an error from the minio sdk

## Expected Behavior
list events for the selected bucket

## Current Behavior
Traceback (most recent call last):
  File "eventlisten.py", line 26, in <module>
    for events in iter:
  File "/usr/local/lib/python3.5/dist-packages/minio/api.py", line 667, in listen_bucket_notification
    query=query, preload_cont

[2020-10-19 11:43] vadmeste commented on #1005
@armsby Thanks for reporting this. I will check.

[2020-10-19 15:25] vadmeste commented on #1005
@armsby not able to reproduce in python 2 or 3. You are probably using an old version of minio-py. Could you upgrade to the latest and try again ?

[2020-10-19 15:49] armsby commented on #1005
I have just verified with pip3
Requirement already satisfied: minio in /usr/local/lib/python3.5/dist-packages (6.0.0)

but I must have done something wrong then

[2020-10-19 15:52] armsby commented on #1005
I just made a new installation on a new server

pip3 install minio
Collecting minio
  Downloading https://files.pythonhosted.org/packages/36/fb/5f8f2768ae1a39e434abc570eac2f950770d64d6d714c914775b729fa507/minio-6.0.0-py2.py3-none-any.whl (72kB)
    100% |████████████████████████████████| 81kB 3.1MB/s
Collecting urllib3 (from minio)
  Downloading https://files.pythonhosted.org/packages/56/aa/4ef5aa

[2020-10-19 16:03] vadmeste commented on #1005
@armsby could you paste eventlisten.py ?

[2020-10-19 16:22] armsby commented on #1005
from minio import Minio
from minio.error import ResponseError
import pprint

minio = Minio('mys3.local',
              access_key='key',
              secret_key='access',
              secure=True)

bucket_list = minio.list_buckets()
for bucket in bucket_list:
    print(bucket.name, bucket.creation_date)

config = minio.get_bucket_notification("mytest")
print(config)

iter = minio.listen_bucket_n

[2020-10-19 16:49] vadmeste commented on #1005
It looks like 's3:ReducedRedundancyLostObject' is not recognized

[2020-10-19 16:50] harshavardhana commented on #1005
We don't have such notification in MinIO

[2020-10-19 16:58] armsby commented on #1005
I found the issue the documentation say events=('s3:ObjectCreated:*', 's3:ObjectAccessed:*') it works with events=['s3:ObjectCreated:*', 's3:ObjectAccessed:*']

I should have seen that, but I followed the documentation

[2020-10-19 17:04] harshavardhana commented on #1005
Thanks

[2020-10-19 17:04] #1005 closed

[2020-10-19 21:48] NickLavrov opened #1006 "Cross Account AWS S3 Access Denied"
I have an IAM user in Account A and a bucket in Account B. I put a bucket policy on Account B that allows the user `s3:*` actions on the bucket. The policy on the IAM user allows all s3 actions as well. If I run this from the AWS cli, it works:

[code]

However, this minio python code gives an error:

[code]

The error:

[code]

I see it fails the HEAD request, but I can run the command through th

[2020-10-19 21:48] harshavardhana commented on #1006
Not sure why is this considered `minio-py` problem?

[2020-10-19 21:49] harshavardhana commented on #1006
Provide `trace_on` ?

[2020-10-19 22:04] NickLavrov commented on #1006
@harshavardhana I think it's a minio-py problem because I do not get AccessDenied when I use the AWS CLI to do the same exact API calls. Therefore, I suspect minio-py is at fault, but there could be other issues!

How do you enabled `trace_on`?

[2020-10-19 22:05] harshavardhana commented on #1006
[code]

[2020-10-19 22:10] NickLavrov commented on #1006
Trace output:

[code]

NOTE: I made a bucket in account b in us-east-1, and it DOES work. So, why does it not work for buckets in us-west-2?

`client.bucket_exists("account-b-bucket-us-east-1") >> True`

[2020-10-19 22:12] NickLavrov commented on #1006
If I init the minio client with `region="us-west-2"`, then it can find the bucket, and

`client.bucket_exists("account-b-bucket-us-east-1")` gives `minio.error.PermanentRedirect: PermanentRedirect: message: The bucket you are attempting to access must be addressed using the specified endpoint. Send all future requests to this endpoint.`

Do I need to init a minio client for each AWS region if I pl

[2020-10-19 22:15] harshavardhana commented on #1006
@NickLavrov of course that is what you do with `aws` CLI as well specify the right region URL or configure the region in `/.aws/config`

You haven't enabled GetBucketLocation API which is the reason our calls fail. I don't think this is a minio-py issue.

[2020-10-19 22:20] NickLavrov commented on #1006
The IAM user has this permission:

[code]

And the bucket in account B has this policy:

[code]

So it does have `s3: GetBucketLocation` permissions. I didn't realize that this would be limited by region. On my AWS Cli, I do not have to change the region when I make a call to a bucket in another region.

[code]

In this regard, is the minio-py client different?

[2020-10-19 22:22] harshavardhana commented on #1006
You should provide `--debug` output which can provide information about which region your AWS CLI is using.

[2020-10-19 22:24] NickLavrov commented on #1006
I can see now I was changing the region in my AWS CLI calls (my default region was reset). Indeed this is not a minio-py issue. Thank you for your help.

[2020-10-19 22:24] #1006 closed

[2020-10-29 12:49] PGijsbers opened #1013 "Bucket Policy Documentation Outdated?"
The [documentation](https://docs.minio.io/docs/python-client-api-reference#get_bucket_policy) reads:
![image](https://user-images.githubusercontent.com/15890747/97575583-3b6ee900-19ed-11eb-9958-e4bf58c54aba.png)

However the `minio` module does not have a `policy` submodule/attribute:

[code]

Tested with `minio=='6.0.0'`.

[2020-11-04 05:43] balamurugana commented on #1013
@PGijsbers The problem with `docs.minio.io` had been fixed few days ago. Please refresh your browser to reload the page.

[2020-11-04 05:43] #1013 closed

[2020-11-04 06:13] balamurugana commented on #1013
Fixed by https://github.com/minio/minio-py/pull/968

[2020-11-04 09:52] PGijsbers commented on #1013
I'm sorry, could you send me a direct link to the correct communication? The original link (https://docs.minio.io/docs/python-client-api-reference#get_bucket_policy) still has outdated information for me (tried private browsing, new browser).

[2020-11-04 10:05] balamurugana commented on #1013
@PGijsbers  Please refer https://github.com/minio/minio-py/blob/release/docs/API.md and `release` for correct sources  I see you are referring doclink of `get_bucket_policy()` for `set_bucket_policy()`. BTW `{set,get,delete}_bucket_policy()` methods are refactored for correctness in the `master` and will be available in the next major release.

[2020-11-05 10:44] ravisarath opened #1014 "minio endpoint with <domain>/url"
hi I am using a docker app with a single domain . i configured in nginx to redirect to minio while calling <domain>/url..
Now my issue is while connecting minio through my code getting an error
`Invalid minio endpoint`

is there any way to solve my probelm

[2020-11-05 13:48] balamurugana commented on #1014
Please refer [examples](https://github.com/minio/minio-py/tree/release/examples) and [documentation](https://github.com/minio/minio-py/blob/release/docs/API.md)

[2020-11-05 13:48] #1014 closed

[2020-11-11 21:18] SoerenBusse commented on #719
We're quiet iritated about this statement (although it's two years old). I completely agree that S3 is an atomic api, but what's about the network latency. When you're in Europe and try to get an object from a minio instance running in australia you're having a RTT of about 300ms. When running the S3 requests sync you will block your whole application for 300ms, which isn't tolerable.

Is there a

[2020-11-19 18:58] gerritsangel commented on #650
Hello,

I was wondering on how to upload a stream of unknown size  with the Minio Python SDK.

The Java SDK supports uploading of unknown size streams, so I'm a bit surprised that the Python SDK doesn't seem to support it.

(See https://minio-java.min.io/io/minio/MinioClient.html#putObject-io.minio.PutObjectArgs-):

[code]

Here, the file part size must be manually specified, but the stream length

[2020-11-19 19:10] balamurugana commented on #650
@gerritsangel The support is added in the master https://github.com/minio/minio-py/blob/master/minio/api.py#L1252

We will make new release soon.

[2020-11-20 17:52] benbro opened #1026 "InvalidSizeError when downloading an object with content-encoding:gzip using fget_object"
fget_object fail to download an object with content-encoding:gzip.
Version 6.0.0

Create tar.gz file:
[code]

[code]

[2020-11-20 18:38] harshavardhana commented on #1026
This issue is because urllib3 is auto ungzipping the content due to content-encoding

[2020-11-23 13:07] balamurugana commented on #1026
@benbro Please use `get_object()` instead of `fget_object()` for your use case.

[2020-11-23 13:07] #1026 closed

[2020-11-23 13:52] benbro commented on #1026
This is still a bug.

[2020-11-23 14:51] balamurugana commented on #1026
@benbro Feel free to send a fix.

[2020-11-23 15:07] benbro commented on #1026
Whether I'll send a fix or not is not relevant. This is a bug and the issue shouldn't be closed.

[2020-11-23 15:39] ddevault commented on #844
Sorry to bump an old issue. Is this not feasible with [multipart uploads](https://aws.amazon.com/blogs/aws/amazon-s3-multipart-upload/)? The multipart S3 API on AWS does not appear to require you to specify the content length in advance.

[2020-11-23 16:02] balamurugana commented on #844
@ddevault  The feature is added in the PR https://github.com/minio/minio-py/pull/968

[2020-11-23 16:03] ddevault commented on #844
Thanks!

[2020-11-23 16:05] ddevault commented on #844
@balamurugana what am I supposed to use for the length field in this case?

[2020-11-23 16:20] balamurugana commented on #844
Just pass length=-1 and part_size=valid-size.

[2020-11-23 16:43] ddevault commented on #844
Thanks. Would be good to document that.

[2020-11-25 10:48] michalb-dsg opened #1029 "stat_object() raises an error"
Hi!
I want to check whether a specific object in the bucket is a directory or not. I want to use `stat_object()` for this, but it raises `NoSuchKey` error when I pass a directory name (with or without slash).
I see it returns `Object`, which contains `is_dir` attribute. When using `list_objects_v2()`, I get an iterator of `Object`s, and I can see the folder as an object there.
Even when using the

[2020-11-25 11:03] balamurugana commented on #1029
@michalb-dsg

1. A zero sized object ending with `/` can be usually treated as directory for human understanding. It is up to the user whether he is looking such objects as directory or not.
2. You could use `stat_object()` to get such object's information like any other regular objects.
3. You could also use `list_objects()` get objects list where `common prefixes` are considered as directories.

[2020-11-25 11:03] #1029 closed

[2020-11-25 11:22] michalb-dsg commented on #1029
Thank you for your quick answer @balamurugana,
if I understand 2 correctly, I should be able to use `stat_object()` when I'm passing "folder name + /", but it raises `NoSuchKey` error instead.
I tried passing the folder name with and without slash and both options didn't work.

[2020-11-25 11:25] balamurugana commented on #1029
Point 4 is the answer i.e. you haven't created _directory_ object.

[2020-11-25 15:54] rsommerard opened #1030 "Add required policies in documentation"
I want to use the `presigned_get_object` method but I cannot see which permissions in my policy my user should have to be able to use this method.

If I try to call the `presigned_get_object` method with the policy bellow, minio returns me an `AccessDenied: AccessDenied: message: Access Denied`.

Policies that don't work:

[code]

I cannot find anywhere which policies should be used to be able to

[2020-11-25 16:40] balamurugana commented on #1030
@rsommerard For pre-signed operations, it is not required to set, bucket policies to be set. Just use it like
[code]

If you have bucket policy set to denote read-only objects, just construct url like `https://play.minio.io/my-bucketname/my-objectname` and use it directly.

[2020-11-25 16:40] #1030 closed

[2020-11-25 16:55] rsommerard commented on #1030
In my case, I need to add this specific policy `s3:GetBucketLocation`.

[2020-11-25 17:07] balamurugana commented on #1030
For pre-signed/anonymous access URL, the location query does not require. What problems are you facing in using such URLs?

[2020-11-25 19:27] rsommerard commented on #1030
If I call the `presigned_get_object` I have an `AccessDenied` error.

[2020-11-26 06:51] balamurugana commented on #1030
Two options you have,

1. Set read access to GetBucketLocation S3 API for the access key (user id) using bucket policy.
2. Passing region to `Minio` constructor would not call `GetBucketLocation` API.

[2020-11-26 17:39] kkraju555 opened #1031 "fput_object always throws error 'minio.error.InvalidArgumentError: InvalidArgumentError: message: Part size * max_parts(10000) is lesser than input length'"
Installed Python module Minio to connect S3 Compatible local storage in office premises using python pip command

Running Python code on AIX box
Python 3.7.6
AIX 7

I  was able to transfer files of smaller size ( less than MB) . For file which is 63 GB backup file , Got the below error

Traceback (most recent call last):
  File "test.py", line 18, in <module>
    minioClient.fput_object('backupon2

[2020-11-26 18:07] balamurugana commented on #1031
Fixed by https://github.com/minio/minio-py/pull/968

[2020-11-26 18:07] #1031 closed

[2020-11-30 11:45] u2ros opened #1035 "No support for port parameter in Minio constructor"
The Minio constructor has no support for custom port parameter as for example javascript client.

https://github.com/minio/minio-py/blob/be40f7e07e3760f8fff58055994a30339bc8abdb/minio/api.py#L117

This causes issue for example if one uses default minio docker image to create a local object storage as it listens on port 9000

[2020-11-30 11:52] u2ros commented on #1035
I was able to circumvent this by making the port part of endpoint like to:

`client = Minio('{}:{}'.format(endpoint, port),...)`

Fix should be easy, I'll make a PR

[2020-11-30 11:54] balamurugana commented on #1035
@u2ros Just use endpoint like `SERVER:PORT` i.e.
[code]

[2020-11-30 11:54] #1035 closed

[2020-12-05 00:30] kannappanr commented on #931
The PRs for Lifecycle management APIs has been merged, so closing this PR

[2020-12-05 00:30] #931 closed

[2020-12-05 13:05] ShinoNuma opened #1040 "An HTTP Client raised and unhandled exception: Failed to parse: http://localhost:9000"
Hi,
For some reasons I get the error "An HTTP Client raised and unhandled exception: Failed to parse: http://localhost:9000" when I try to use the library boto3 and the library minio. I carefully follow the tutorial on the official website but it's not working at all...

Here is the script I'm trying to use:

[code]

And here is the error message:

[code]

I don't know if it's related or not but I

[2020-12-05 13:12] balamurugana commented on #1040
@ShinoNuma The endpoint argument should be `SERVER:PORT` not with a URL path like `localhost:9000/minio`.  `master` branch is fixed to validate this properly. We are planning to make a release soon.

[2020-12-05 13:12] #1040 closed

[2020-12-05 13:15] ShinoNuma commented on #1040
The result is the same even I'm respecting the endpoint argument.

[2020-12-05 13:20] ShinoNuma commented on #1040
Ok I found my problem!
If this can help:

pip3 install --upgrade urllib3
or
pip install --upgrade urllib3

[2020-12-07 01:29] prabhuSub opened #1042 "Unable to delete Folders/Files using remove_object"
Hi All,
I am trying to list out all my objects and I could find some just files inside a folder. To delete one of those files within the folder in S3 I use the below line. The line returns nothing(no error)
`client.remove_object('my-bucketname', obj.object_name)`
Once executed, I list the Folders and Files again on `recursive=True`
But, still able to see the folder and files under lister there. I

[2020-12-07 01:34] prabhuSub commented on #1042
Referred the example - https://github.com/minio/minio-py/blob/master/examples/remove_object.py

[2020-12-07 02:03] harshavardhana commented on #1042
@prabhuSub please provide an entire example of the code you wrote.

[2020-12-07 02:47] balamurugana commented on #1042
@prabhuSub Below example should work
[code]

If you still see the behaviour, reopen this issue with HTTP traces and server-side logs.

[2020-12-07 02:47] #1042 closed

[2020-12-07 05:41] prabhuSub commented on #1042
below is a similar script I used. doesn't help. Rather gives me the error mentioned below.
The installed version of minio (6.0.2)

[code]
[code]

[2020-12-07 14:43] balamurugana commented on #1042
@prabhuSub Actually you would need to take the logic, not the code as is. Refer https://github.com/minio/minio-py/blob/release/examples/remove_objects.py

[2020-12-08 04:20] prabhuSub commented on #1042
Agreed! Am working on it. Thank you for the references.

[2020-12-09 11:31] plankthom commented on #902
got confused by this issue description: 6.0.0 is already released. I assume this is about changes in 7.0.0 ?

[2020-12-09 11:48] vadmeste commented on #902
yes, the issue was created before the release of minio-py 6.0. Some of the items are already done.

@Praveenrajmani @balamurugana could you confirm items in the above list that are done ?

[2020-12-09 12:06] balamurugana commented on #902
The issue is invalid for the latest release. v7.0.0 comes with many refactors. Please refer release notes https://github.com/minio/minio-py/releases/tag/7.0.0

[2020-12-09 12:06] #902 closed

[2020-12-09 12:37] balamurugana commented on #964
Fixed by https://github.com/minio/minio-py/pull/990. Please refer https://github.com/minio/minio-py/blob/7.0.0/minio/notificationconfig.py

[2020-12-09 12:37] #964 closed

[2020-12-09 12:52] balamurugana commented on #822
Moved to `xml.etree.ElementTree`. If this is still valid concern, please reopen with possible options. Appreciated if reopened with fix in a PR

[2020-12-09 12:52] #822 closed

[2020-12-09 13:01] balamurugana commented on #942
`minio-py` works fine with `nose v1.3.7` in python 3.9.0. We will move away from `nose` if it breaks in future.

[2020-12-09 13:01] #942 closed

[2020-12-09 13:06] balamurugana commented on #789
`MD5` is a requirement for various S3 APIs as per AWS S3 specification. As the spec is slowly moving away from `MD5` and we are also adapting the changes. However we cannot break the compatibility.

[2020-12-09 13:06] #789 closed

[2020-12-09 13:11] balamurugana commented on #788
Please try with new release v7.0.0 and reopen with appropriate HTTP traces using `trace_on()` if problem still persist.

[2020-12-09 13:11] #788 closed

[2020-12-09 13:25] balamurugana commented on #730
Please try latest release v7.0.0 and refer https://github.com/minio/minio-py/blob/7.0.0/docs/API.md. Please reopen if you still have the problem.

[2020-12-09 13:25] #730 closed

[2020-12-10 14:05] #983 closed

[2020-12-12 10:00] zz40404991 opened #1047 "presigned_post_policy Access Denied. (Invalid according to Policy: Policy Condition failed)"
use examples/presigned_post_policy.py and myProj return the message:
<Error><Code>AccessDenied</Code><Message>Access Denied. (Invalid according to Policy: Policy Condition failed)</Message><BucketName>my-bucket</BucketName><Resource>/my-bucket</Resource><RequestId>164FEF9EB956B7A3</RequestId><HostId>129c19c9-4cf6-44ff-9f2d-4cb7611be894</HostId></Error>

[2020-12-12 14:17] balamurugana commented on #1047
Please share your code along with HTTP traces if available.

[2020-12-15 08:28] zz40404991 commented on #1047
@balamurugana  I can get return form_data = client.presigned_post_policy(policy), error to:
 curl -X POST https:xxx.xxx.com:31077-F x-amz-algorithm=AWS4-HMAC-SHA256 -F x-amz-credential=AKIAIOSFODNN7EXAMPLE/20201215/us-east-1/s3/aws4_request -F x-amz-date=20201215T081331Z -F policy=b'eyJleHBpcmF0aW9uIjogIjIwMjAtMTItMjVUMDg6MTM6MzEuMzg1WiIsICJjb25kaXRpb25zIjogW1siZXEiLCAiJGJ1Y2tldCIsICJteS1idWNrZXRu

[2020-12-15 15:08] balamurugana commented on #1047
@zz40404991 It is hard to understand from presigned URL. Can you provide your python code?

[2020-12-16 08:34] ivsanro1 commented on #841
I solved this by modifying the file of urllib3 (near the line 400) of `site-packages\urllib3\poolmanager.py`:
[code]

Change it to:

[code]

[2020-12-21 22:30] sanvir10 opened #1048 "Error to run examples with pip=7.0.0"
I have python 3.6.9 on ubuntu 18.04 LTS, i created the example but when i try to execute it, i get this error:

[code]

[2020-12-21 22:52] harshavardhana commented on #1048
Looks like you didn't upgrade your installation properly, do `pip uninstall minio` and `pip install minio==7.0.0`

[2020-12-21 22:52] #1048 closed

[2020-12-22 13:23] balamurugana opened #1049 "Send X-Amz-Server-Side-Encryption-Context header for all object read request for SSE-KMS if available"
Currently it is not sent.

[2020-12-23 16:42] balamurugana commented on #1049
Not a bug.

[2020-12-23 16:42] #1049 closed

[2020-12-30 13:11] yutianlong opened #1050 "can not properly resolved Error EnttiyTooLarge"
when  I set  more  than Maximum part size   the SDK will throw urllib3 exception and retry.  it should throw S3 error without retry

1. set max part 128M in MinIO server
2. send put_object request with Parameters : part_size 200M ,file_size 190M
3. waiting requests

Actual results：
the response  return error：max retries exceeded with url: /bucketname/objectname

Expected Results：
return  EnttiyToo

[2020-12-30 13:24] yutianlong commented on #1050
it will be ok in go sdk

[2020-12-30 16:09] balamurugana commented on #1050
Please share the sample code and HTTP traces by `trace_on()`

[2020-12-30 16:11] balamurugana commented on #1047
Please reopen with appropriate information.

[2020-12-30 16:11] #1047 closed

[2020-12-31 02:57] yutianlong commented on #1050
sorry  I am only a tester  cannot provide more info。this is return error: urllib3.exceptions.MaxRetryError: HTTPConnectionPool(host='127.0.0.1', port=9000): Max retries exceeded with url: /siyutest121423233312323/5e07ae12-57ea-400a-9?partNumber=1&uploadId=6f91ed6e-710e-4c07-9149-0954f43a4466 (Caused by ProtocolError('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 1005

[2020-12-31 04:10] balamurugana commented on #1050
@yutianlong As per the error, the server is not responding and the connection was aborted. Please check your server and network connectivity.

Reopen the issue with required information.

[2020-12-31 04:10] #1050 closed

[2021-01-02 12:54] ell1e opened #1051 "Question: what is the migration path for BucketAlreadyOwnedByYou and BucketAlreadyExists errors?"
What is the migration path for BucketAlreadyOwnedByYou and BucketAlreadyExists errors? These imports just seem to be gone and I can't find a single relevant result on Google on what happened with them. Maybe it would be useful to add a note to `minio/error.py` at the top in the form of a code comment that gives some info on where they went, for people like me opening up the file and trying to figu

[2021-01-02 13:30] balamurugana commented on #1051
Both `BucketAlreadyOwnedByYou`/`BucketAlreadyExists` errors are valid as per S3 specification. We should check for both error to find whether the bucket already exists.

`minio/error.py` does not handle anything specific to these errors. Please reopen the issue by provide what exactly you are expecting and what is missing now.

[2021-01-02 13:30] #1051 closed

[2021-01-02 13:35] ell1e commented on #1051
@balamurugana `minio/error.py` used to define these names, now it doesn't. I get an `ImportError` when running my code and I'm not sure what I need to use now to handle those errors. Sorry for not being clear.

[2021-01-02 13:43] balamurugana commented on #1051
@ell1e The latest release v7 is a breaking release. Please refer [examples](https://github.com/minio/minio-py/tree/master/examples) and [API guide](https://github.com/minio/minio-py/blob/master/docs/API.md)

[2021-01-02 13:46] ell1e commented on #1051
I did, but this is **really tedious** to go through to find the new variant of what I am using if I don't know what name I am looking for. This is why a migration note would be great, instead of just dropping the new API with no info about how it relates to the old one. Is there one?

[2021-01-02 13:50] ell1e commented on #1051
One example: this uses make_bucket as I do: https://github.com/minio/minio-py/blob/master/examples/make_bucket.py

... but it doesn't handle any errors, while my code does. But what does that mean? Am I not supposed to handle BucketAlreadyOwnedByYou  for `make_bucket` anymore, or just differently? Or does the new `make_bucket` not throw any errors at all anymore? If there was some summary about th

[2021-01-02 14:32] balamurugana commented on #1051
How about below code?
[code]
To specific to make bucket, it is usually done only one in life time.  When error is concerned with APIs, there is nothing specific unless user wants to deal with S3 API.

minio-py v7 comes with lot of additions, improvements and correctness + detailed API guide and examples. Majority of older APIs do not break because of new additional parameters. However error handli

[2021-01-02 14:36] ell1e commented on #1051
That code looks like a race condition waiting to happen, and therefore useless in production code. You really shouldn't suggest that to anyone, IMHO.

The only sane way is obviously to check S3Error, but only for the specific known error condition that it already exists. That was easily possible with `BucketAlreadyExists`, but now there's just opaque S3Error with no example code anywhere of how to

[2021-01-04 16:27] Ajnbro opened #1052 "Issue setting bucket (and potentially object) tags"
I am using minio-py 7.0.0 and receive a MalformedXML S3Error any time I try to set the tags of my bucket. This issue probably occurs with object tags as well, but I have not tested that yet.

The simplified code below follows your API example code but seems to fail. `bucket_name` and `s3Client` client are defined elsewhere in my code and everything is properly imported within my code.

[code]

Her

[2021-01-04 16:47] balamurugana commented on #1052
@Ajnbro Can you provide HTTP traces by enabling `client.trace_on(sys.stdout)`?

[2021-01-04 18:27] Ajnbro commented on #1052
@balamurugana
[code]

[2021-01-05 07:18] #1052 closed

[2021-01-07 15:21] mykola-mokhnach opened #1055 "Streamed object put is broken"
The documentation at https://docs.min.io/docs/python-client-api-reference.html states, that it is possible to upload a streaming object using the following approach:

[code]

Although I get the following exception if `length` is set to `-1`:

[code]

[2021-01-07 15:23] mykola-mokhnach commented on #1055
the client code for my case looks like

[code]

[2021-01-07 15:59] balamurugana commented on #1055
@mykola-mokhnach You are using older version. Please use latest release v7.0.1

[2021-01-07 15:59] #1055 closed

[2021-01-07 16:52] mykola-mokhnach commented on #1055
Thanks for the quick response. Upgrade helped

[2021-01-11 16:13] Udayaprasad opened #1057 "Unable to perform the direct video streaming using get_presigned_url() when the object placed inside the folder"
We are unable to stream the video object which is stored inside the folder, but I am able to download the video object and play it from my local computer.
[code]

if the object_name is just video1.mp4 then I am able to play the video url from the following link otherwise, if we place the object like ('videos/video1.mp4'), then it is not playing

`https://cuttopoint.com/player.html`

[2021-01-11 16:46] balamurugana commented on #1057
What error are you getting?

Please reopen the issue by sharing code how you generated presigned url.

[2021-01-11 16:46] #1057 closed

[2021-01-11 16:58] Udayaprasad commented on #1057
I have shared the code in my first message. Here the problem is presigned URL generated by get_presigned_url() is not able to stream the video file if we stored it in a folder (object_name = "videos/video1.mp4"). I used to test/play the video URL using the following link.

`https://cuttopoint.com/player.html`

[code]

Note:- Presigned URL generated by get_presigned_url() is working if I store the

[2021-01-11 17:05] balamurugana commented on #1057
If I understand correctly, you are able to download the object using presigned url, but it is not playable as a stream.  Please share what error you are getting

[2021-01-11 20:33] harshavardhana commented on #1057
When you are uploading the object set proper content-type such that browser can auto-stream it @Udayaprasad or make sure to add `response-content-type` header in presigned URL to add relevant content-type in the presigned response.

[2021-01-12 04:42] Udayaprasad commented on #1057
@balamurugana  I have updated my previous question. No error is displaying while we trying to play the video in the UI. It just not happening.
We have observed this behavior only when we store the video within some folder inside the bucket, but when we store it directly (without storing it inside a folder), then the video is playing properly in the UI.

[2021-01-12 06:31] balamurugana commented on #1057
@Udayaprasad There is no such issue I am facing. Please try below presigned url https://play.min.io/issue-1057/myvideos/2020.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=Q3AM3UQ867SPQQA43P2F%2F20210112%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210112T062815Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=99bfdd6afe43ba3f98436459006ff547ae83f864ec71cb72065d059355bcfac1

[2021-01-12 13:35] Udayaprasad commented on #1057
@balamurugana  your video will stream, because you had put within the bucket (without storing inside bucket/folder/2020.mp4).

In you case the bucket name is "myvideos" and object name is 2020.mp4.
Try storing the video using below configuration.
[code]
Then get the presigned_url from minIO and play it in below URL. It will **not play.**

`https://cuttopoint.com/player.html`

[2021-01-12 13:46] balamurugana commented on #1057
@Udayaprasad You are completely wrong. In the URL
[code]

[2021-01-12 15:31] Udayaprasad commented on #1057
@balamurugana Got it. I am wrong here. Below is my complete code. Can you suggest how to generate the presigned_url properly so that it will be playable from the UI?

[code]

Note:- I am using docker MinIO setup.
Version: `image: minio/minio:RELEASE.2020-12-23T02-24-12Z`

[2021-01-12 15:42] balamurugana commented on #1057
@Udayaprasad there is nothing special code to generate presigned url. The way you use to generate presigned url is correct. Just use `play.min.io` and validate everything.

[2021-01-12 16:10] Udayaprasad commented on #1057
@balamurugana  Yes, it is working in `play.min.io`. Do you know any reason why it is not working in custom MinIO setup?

https://play.min.io/issue-1057/videos/Countdown1.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=Q3AM3UQ867SPQQA43P2F%2F20210112%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210112T160806Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=08bc487a70b0b51767d7db

[2021-01-12 16:32] balamurugana commented on #1057
@Udayaprasad Open an issue in `minio/minio` with all details

[2021-01-12 16:56] Udayaprasad commented on #1057
@balamurugana  Yes raised  https://github.com/minio/minio/issues/11263

[2021-01-13 09:33] BB-9E opened #1058 "about fput_object"
about the fput_object  function :  If the content_type is not set, will it affect the upload speed? I want to upload a large number of mp4 files

[2021-01-13 09:47] balamurugana commented on #1058
No. Upload speed is related to your client/server network and value in `num_parallel_uploads` with memory.

[2021-01-13 09:47] #1058 closed

[2021-01-13 09:55] BB-9E commented on #1058
Thank you, I have a large number of files of about 400M, and it will take about three minutes to upload one. How to set part_size and num_parallel_uploads better, is the bigger the better?

[2021-01-13 10:23] balamurugana commented on #1058
It purely depends on your network bandwith/speed and your client memory. You would need to try with different higher values of those parameters.

[2021-01-13 10:28] BB-9E commented on #1058
OK, thank you~

[2021-01-13 14:06] yensa opened #1059 "AuthorizationHeaderMalformed when using bucket_exists"
I am currently working on a project which needs to access an S3 bucket, we are trying to update the minio version to the most recent one (7.0.1) from version 4.0.5. But we are facing an exception when using the `bucket_exists` function

[code]

Our bucket is located in `eu-west-1.compute.internal` and I can see that the error relates to the fact that minio queries Amazon using the `us-east-1` regi

[2021-01-13 15:34] balamurugana commented on #1059
@yensa `GetBucketLocation` S3 API is called if there is no region passed via constructor. The usage is something similar of
[code]

If you still have the problem, please reopen the issue with your code and http traces using `Minio.trace_on(sys.stdout)`

[2021-01-13 15:34] #1059 closed

[2021-01-14 22:25] Ajnbro opened #1060 "Issue getting bucket (and potentially) object tags"
I am using minio-py 7.0.1 and receive the following error when I try to get the tags of my bucket. This issue probably occurs with object tags as well, but I have not tested that yet.

[code]

The simplified code below follows your API example code but seems to fail. `bucket_name` and `s3Client` are defined elsewhere in my code and everything is properly imported within my code.

[code]

Here is t

[2021-01-15 00:53] balamurugana commented on #1060
@Ajnbro I sent the fix https://github.com/minio/minio-py/pull/1061. Please check whether it is working for you.

[2021-01-15 15:25] mykola-mokhnach opened #1062 "The file upload algorithm may create a memory leak"
1. Get a large 4GB file
2. Try to upload it using this lib not using the multipart upload (e.g. as single data chunk):

[code]

3. Check the memory usage on the destination machine

Actual result:
The library loads the whole file (all 4 GB) into RAM before uploading it, which causes OOM on machines where the amount of memory is low or if multiple parallel uploads are done.

Expected result:
I don'

[2021-01-15 15:55] harshavardhana commented on #1062
The main reason is we need to either compute sha256 or md5sum

Without that AWS S3 protocol doesn't work.

We know how to write efficiently, we just cannot circumvent the SPEC here.

You are allowed to set meaningful part size to control memory usage for this purpose alone, so set it to something meaningful and appropriate for your environment.

[2021-01-15 15:55] #1062 closed

[2021-01-15 17:48] Ajnbro commented on #1060
@balamurugana Thank you it works!

[2021-01-15 19:27] mykola-mokhnach commented on #1062
Thanks for the swift response @harshavardhana .

We still could compute sha/md5 of a file without loading it fully into the memory: https://stackoverflow.com/questions/1131220/get-md5-hash-of-big-files-in-python

I did several performance tests and it looks like for big files it is faster (sometimes much faster) to upload it as a whole rather than doing it in chunks. Each new chunk upload spends t

[2021-01-15 19:33] harshavardhana commented on #1062
You cannot do that without serializing your uploads @mykola-mokhnach we wish to upload at least 4 parts in parallel. That article is misleading because md5sum should be calculated before the upload can start - its not something we need its something that API needs. So if you want to spend time doing md5sum of 5GiB object before uploading just to save memory is useless.

That is why you have multip

[2021-01-15 19:57] mykola-mokhnach commented on #1062
Sorry, for the distraction. I would like to demonstrate my workaround code, which was used to test the actual upload performance:

[code]

The code uses the older version of minio-py (v. 5). When I upload a 4 GB file using it then no memory is used and the performance is actually only limited by the width of my upload channel, whenever the standard `fput_object` call takes 2-3 times more time with

[2021-01-18 08:53] TheBlusky opened #1064 "Using compose_object with small objects gives a `ValueError`"
According to specification (https://docs.min.io/docs/python-client-api-reference.html#compose_object)

`compose_object` is supposed to `Create an object by combining data from different source objects using server-side copy.`

However, when using it with source with small objects, it gives the following error:

`ValueError: source {bucket}/{path}: size 3 must be greater than 5242880`

This errors

[2021-01-18 09:43] balamurugana commented on #1064
@TheBlusky AWS S3 specification does not support < 5 MiB objects (except last part) in server side copy in multipart upload. For smaller objects, you would need to download/concatenate locally and upload accordingly

[2021-01-18 09:43] #1064 closed

[2021-01-18 11:36] anaik91 opened #1065 "Unable to set Retention on Object while creating an Object"
Unable to set Retention on Object while creating an Object.

Below is the code .

[code]

I am Getting the below error
[code]

[2021-01-18 11:59] balamurugana commented on #1065
Please try the fix https://github.com/minio/minio-py/pull/1066 and let me know whether it is working for you

[2021-01-18 17:02] anaik91 commented on #1065
@balamurugana how can I test this?

[2021-01-18 17:10] balamurugana commented on #1065
@anaik91 Just get the entire PR and use the sources instead of released source. I usually set `PYTHONPATH` to the source.

[2021-01-22 10:48] adr-arroyo opened #1068 "Test Connection to MINIO server at init"
**Is your feature request related to a problem? Please describe.**
When initializing the MINIO Client (__python__) there is no test of the connection to check if input parameters (i.e.: url, user, password,...) are correct. Moreover, the default `urllib3.PoolManager` object in the MINIO API has a default __timeout__ equal to `urllib3.Timeout.DEFAULT_TIMEOUT`, which, when the input parameters such

[2021-01-22 12:21] balamurugana commented on #1068
@adr-arroyo

1. I see the default timeout is working for unavailable endpoint. As the default timeout in `urllib3` uses system's socket timeout, your system might have configuration issues which might lead to wait in infinite time.
2. In my system, the timeout is 22s approx. I am going to change this to 5m in a upcoming patch.
3. It is a bad idea to do connection check in the constructor. This def

[2021-01-22 12:21] #1068 closed

[2021-01-22 12:45] adr-arroyo commented on #1068
Hello @balamurugana , thanks for the answer.

Even though I agree that maybe the constructor is not the best place to check anything, I still find it weird that no test at all is done. I, of course, already did it myself in my code but I thought it would better be coded somewhere inside the  library.

As for the `urllib3` object, I just took the same as in the MINIO library, which is:

[code]

How

[2021-01-26 08:42] bmy4415 opened #1070 "Does put_object() accepts both io.RawIOBase and io.BytesIO as type of data argument?"
Hi I'm new to minio python sdk.

I was trying to upload json to S3 using minio. According to [API Reference](https://docs.min.io/docs/python-client-api-reference.html#put_object), `data` argument accepts io.RawIOBase type.

But it seems that `data` accepts `io.BytesIO` too which is not subclass of `io.RawBaseIO`. See this [stackoverflow question](https://stackoverflow.com/questions/55223401/minio-

[2021-01-26 09:26] balamurugana commented on #1070
Actually the documentation has incorrect information. `data` must have callable `read()` and `read()` must return bytes-like object. I will send the fix accordingly.

[2021-01-26 18:50] #1060 closed

[2021-01-27 09:12] #1065 closed

[2021-01-27 14:08] voegtlel opened #1072 "make_bucket raises AttributeError toxml"
Hi there,

[code]
The call to `make_bucket` raises the following exception:
[code]
(Tested with 7.0.1, worked before with 6.0.2)
My guess is that there is actually a structured element missing, because `toxml` is not documented for `Element`.

Thanks!

[2021-01-27 16:31] balamurugana commented on #1072
Please try the PR https://github.com/minio/minio-py/pull/1073 and let me know whether it is working for you.

[2021-01-28 10:07] voegtlel commented on #1072
That was quick :) Yes, the fix works for me, thanks!

[2021-01-29 03:54] #1072 closed

[2021-01-29 06:36] #1070 closed

[2021-01-29 11:31] voegtlel commented on #1072
Sorry to reopen this, but is there any due to expect a release with this fix? I cannot update to 7 until this is in, but the code changes are already in place.

[2021-01-29 11:35] balamurugana commented on #1072
New minor release will be made soon.

[2021-01-30 03:30] gai1995 opened #1074 "Two process try to get_file(the same file 'xx.npy') at the same time will fail!"
A strange thing happens, when I use multiprocessing and call the minio.fget_object for a same file (xx.npy), one success, the other would fail.
More, this would make the .npy file can not be load by numpy(though one process has get the file successfully!), cause an error "ValueError: Cannot load file containing pickled data when allow_pickle=False".
If just single process to get the file ,everythi

[2021-01-30 03:56] balamurugana commented on #1074
@gai1995 Not sure why same file is downloaded using two processes in parallel . If this is your requirement, use `tmp_file_path` argument appropriately.

[code]

[2021-01-30 03:56] #1074 closed

[2021-02-08 14:50] arnists opened #1078 "Missing a "create user""
I expected to find something akin to the command `mc admin user add`. Am I grossly misunderstanding something in the documentation?

[2021-02-08 15:02] balamurugana commented on #1078
Please follow PR https://github.com/minio/minio-py/pull/1076

[2021-02-08 15:02] #1078 closed

[2021-02-09 09:08] hardbyte opened #1079 "AssumeRoleProvider shouldn't require scheme"
Creating a minio client requires the host and port:

[code]

But creating an `AssumeRoleProvider` requires the STS endpoint including scheme e.g.

[code]

This seems to add an unnecessary stumbling block for users.

[2021-02-09 09:38] balamurugana commented on #1079
It is a design choice to make argument simple in `AssumeRoleProvider` and arguments in `Minio` are kept for backward compatibility.

[2021-02-09 09:38] #1079 closed

[2021-02-09 09:40] hardbyte commented on #1079
Ok sure. I've been testing for the last half hour and it seems like perhaps AssumeRoleProvider doesn't work in the latest release (7.0.1)

[2021-02-09 09:49] balamurugana commented on #1079
Please share the error you are getting including HTTP traces using `Minio.trace_on()`. You could also check your AssumeRoleProvider` working by directly calling `AssumeRoleProvider.retrieve()`

[2021-02-09 10:27] hardbyte opened #1080 "Issue using AssumeRoleProvider"
I have a simple test that assume role provider works as I expect. The code is [here](https://github.com/data61/anonlink-entity-service/blob/59ba9d2f921cf15deb70ebfe95d11f1fd40e20f8/backend/entityservice/integrationtests/objectstoretests/test_objectstore.py). The main part of the code is:

[code]

When I run it, a `ValueError` is raised:
[code]

This error message is not very helpful.

Running mini

[2021-02-09 10:34] hardbyte commented on #1080
Ok, think I found it. `body = 'Action=AssumeRole&Version=2011-06-15&DurationSeconds=3600.0`

That extra `.0` is the issue, in `minio/credentials/providers.py` line 42 the total seconds are a float:

[code]

[2021-02-09 10:40] hardbyte commented on #1080
Confirmed a temporary fix is to pass a duration (as an int) longer than the default of 3600. Open tiny PR to coerce to int before str.

[2021-02-12 05:00] #1080 closed

[2021-02-17 14:04] klaucos opened #1082 "Writing empty file to minio fails with ZeroDivisionError: division by zero"
When I try to write empty (sentinel) file to minio with defined part_size minio py raises error:

Error:
[code]

This is caused by assigning part_size = object_size on L131.
And then fails on this line:
https://github.com/minio/minio-py/blob/f4211ef6413d64044a9492645fe4d686bca5d84b/minio/helpers.py#L132

This could be solved by adding additional if statement in _get_part_info.
[code]

I am not 100

[2021-02-18 05:22] #1082 closed

[2021-02-19 09:15] harpener opened #1084 "Severely degraded upload speed since v7"
Hi guys,

with upgrade to version 7, we have seen a major upload slowdown. Files having several GBs took several hours instead of minutes to be uploaded.

We are using Python 3.8, data are uploaded from files stored on local disk, having size up to several GBs, different data in multiple processes, up to 15 processes per server, 48 processes in total.

With Minio library, we use `fput_object` meth

[2021-02-19 10:14] balamurugana commented on #1084
@harpener I am able to reproduce the issue and will send a fix

[2021-02-21 07:40] #1084 closed

[2021-02-24 15:49] antonwnk opened #1086 "credentials param in Minio constructor wrong type"
The Minio class constructor takes a parameter called `credentials`. In the **[docs](https://docs.min.io/docs/python-client-api-reference.html)** this is referred to as being of type `minio.credentials.Credentials`, however, internally, it is expected to be of type `minio.api.StaticProvider`.
## Expected Behavior

Creating a client with `Minio(..., credentials=minio.credentials.Credentials(...))` s

[2021-02-24 16:37] balamurugana commented on #1086
`credentials` argument must be type of `minio.credentials.Provider` type. We will fix the documentation.

[2021-02-24 16:37] #1086 closed

[2021-03-04 03:47] larandvit opened #1091 "CSVInputSerialization class ignores "compression_type" argument"
Hello,

When "select from"  requests are run with `select_object_content` function, `CSVInputSerialization` class ignores `compression_type` argument.

The error message is "minio.error.S3Error: S3 operation failed; code: InvalidTextEncoding, message: UTF-8 encoding is required., resource: ...".

The source file is [simple_csv.csv.gz](https://github.com/minio/minio-py/files/6080735/simple_csv.csv.

[2021-03-04 04:44] balamurugana commented on #1091
@larandvit Try this fix https://github.com/minio/minio-py/pull/1092 and let me know whether it is working for you.

[2021-03-04 13:50] larandvit commented on #1091
Thank you, @balamurugana.
It works now.

[2021-03-05 06:23] nevesenin opened #1093 ""The XML you provided was not well-formed" error when using set_bucket_lifecycle"
Hi!

I tried to do this on play:
[code]
Results in:
[code]
I try to figure out if I did something wrong but I'm stuck. Could you please help?

[2021-03-05 06:44] balamurugana commented on #1093
@nevesenin You must provide Rule filter. Refer PR https://github.com/minio/minio-py/pull/1094

[2021-03-05 08:12] nevesenin commented on #1093
Thanks for the quick reply.

I added a rule. Unfortunately this also does not work:
[code]

[2021-03-05 09:06] vadmeste commented on #1093
@nevesenin we don't support AbortIncompleteMultipartUpload, that's why you have that error message.

MinIO server self cleanups them already each 24 hours

[2021-03-05 09:44] nevesenin commented on #1093
@vadmeste Thanks. Tried a different rule and it worked.

[2021-03-05 09:45] #1093 closed

[2021-03-05 19:29] antonwnk commented on #1086
Shouldn't it say open until that happens?

[2021-03-13 16:14] recklessop opened #1096 "Unable to set bucket Versioning"
I am trying to enable Versioning on a bucket with the python SDK, and I am getting an error.

When i "get" the current versioning status works fine, so I know I'm connected. I have tried the minio python module from pip as well as installing it from github.

Both result in the error below. Any ideas?

Thanks!

Python 3.8.5 (default, Sep  4 2020, 07:30:14)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Typ

[2021-03-13 16:20] balamurugana commented on #1096
import relevant items from `versionconfig`

[2021-03-13 16:20] #1096 closed

[2021-03-13 16:42] recklessop commented on #1096
If there is more to update then documentation needs updated on the minio site.

[2021-03-13 18:00] harshavardhana commented on #1096
Excellent idea feel free to send a fix with the update @recklessop

[2021-03-20 09:43] PeterBeklemishev opened #1097 "Minio.list_objects() include_user_meta flag does nothing"
Because wrong query parameter is used: [`user-metadata` ](https://github.com/minio/minio-py/blob/7.0.2/minio/api.py#L2755), while correct one is `metadata`, for example [here](https://github.com/minio/minio-js/blob/7.0.18/src/main/extensions.js#L136) in JS SDK

[2021-03-20 10:05] #1097 closed

[2021-03-24 14:03] z-jingjie commented on #513
The developer changed "ResponseError" into "InvalidResponseError" and made no changes in the doc.

[2021-03-24 14:14] balamurugana commented on #513
Which doc are you referring to?

[2021-03-25 16:07] #1091 closed

[2021-03-26 21:08] wesleyjellis opened #1102 "make_bucket should use base_url's region as location if configured"
I ran into an issue where if I configure a region when creating a client like so:

[code]

by default

`client.make_bucket('bucket_name')` attempts to create a bucket in `us-east-1`, which fails with a `AuthorizationHeaderMalformed` exception

I would expect that https://github.com/minio/minio-py/blob/ac047e7b11610239077599859535b5dab39a01f5/minio/api.py#L622 should be changed so that it defaults

[2021-03-29 09:17] #1102 closed

[2021-03-29 11:33] abdullaKvk opened #1104 "Not able to update metadata of versioned object"
Is there any option to update the metadata of a versioned object?
It is mentioned to use copy object into self to update the metadata of an object, But this wont work for version object. Copy object always create a new version of object

[2021-03-29 11:40] balamurugana commented on #1104
Use `copy_object()` and remove older version.

[2021-03-29 11:40] #1104 closed

[2021-03-31 08:58] Sug2077 opened #1105 "int 0 in Python is not None"
I found a serious bug while writing scripts use minio-python-sdk 7.0.2

Int 0 in Python is not None, then delete-markers always return False

![image](https://user-images.githubusercontent.com/23712755/113117027-a8a6d480-9240-11eb-910d-5192c73017a6.png)

[2021-03-31 09:20] #1105 closed

[2021-03-31 09:28] Sug2077 commented on #1105
delete-marker's size is 0B
![image](https://user-images.githubusercontent.com/23712755/113122654-6b454580-9246-11eb-8b20-dac402b13af3.png)

[2021-03-31 09:47] balamurugana commented on #1105
@Sug2077 `mc` tool may display for consistency. What are you getting in the XML?

[2021-03-31 10:05] Sug2077 commented on #1105
Pycharm debug mode
![image](https://user-images.githubusercontent.com/23712755/113127716-a5651600-924b-11eb-9ac9-5c3d2b9c3234.png)

[2021-03-31 10:07] Sug2077 commented on #1105
![image](https://user-images.githubusercontent.com/23712755/113127923-e2310d00-924b-11eb-82bc-64b3701a211b.png)

[2021-03-31 10:24] balamurugana commented on #1105
Enable `http` trace by `Minio.trace_on(sys.stdout)` and paste your result.

[2021-03-31 10:30] Sug2077 commented on #1105
---------START-HTTP---------
GET /test2?delimiter=%2F&max-keys=1000&prefix=&versions= HTTP/1.1
Host: 10.2.4.207:9001
User-Agent: MinIO (Windows; AMD64) minio-py/7.0.2
X-Amz-Content-Sha256: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
X-Amz-Date: 20210331T102834Z
Authorization: AWS4-HMAC-SHA256 Credential=*REDACTED*/20210331/us-east-1/s3/aws4_request, SignedHeaders=host;x-amz-co

[2021-03-31 10:58] balamurugana commented on #1105
I see below non-standard values. What is your S3 server? If `minio`, please upgrade the server and try again.

[code]

[2021-04-01 00:49] Sug2077 commented on #1105
mc version and minio version
[code]
minio-python-sdk
[code]
http trace
[code]

[2021-04-01 04:01] balamurugana commented on #1105
Try this PR https://github.com/minio/minio-py/pull/1106

[2021-04-01 04:14] Sug2077 commented on #1105
It works , Thank you !

[2021-04-27 15:19] Athius opened #1108 "DeleteObjet: AttributeError: 'str' object has no attribute 'toxml'"
I try to delete some objects using the remove_objects function.

I create a small class encapsulating minio.Minio.

The following code works (I have the good credentials, and the files created are removed):
[code]

Now, I create a function encapsulating remove_objects function:

[code]

The following code returns *AttributeError: 'str' object has no attribute 'toxml'* when I run it on my unit test

[2021-04-27 16:04] balamurugana commented on #1108
In your `remove_object()`, examine `object_list` arg values and `delete_object_list` values.

[2021-04-27 16:49] Athius commented on #1108
Another problem due to the guy between the keyboard and the chair: the mistake was the version of the code I used (it was installed with a bad version).

[2021-05-24 06:57] AkshayAwate opened #1110 "Freature Request: I dont see progress bar fget_object ?"
when i download some files using minio-py using fget_object(), I cant see the progress and how much time it takes to download a file or files.
it is good for some small file but large file, it is take a long time while downloading around more than 100MB's.
so user's doesn't know it is in progress or not.

so could you add option like progress_use  in python minio client?

thanks in advance.

[2021-05-24 08:09] balamurugana commented on #1110
For custom usage like progress bar etc, please use `get_object()` and handle the returned stream as per your requirement. `get_object()` returns [HTTPResponse](https://urllib3.readthedocs.io/en/latest/reference/urllib3.response.html) and you could have your own way how to show progress bar on every read of the response.

[2021-05-24 08:09] #1110 closed

[2021-05-26 14:59] ThyMakra commented on #829
Hi. @jhadjar that was very helpful though is there anyway to use `bmc` to manipulate `mc admin` to configure the bucket (for example: `bucket quota`)

[2021-05-26 20:09] colorzzr opened #1112 "Refresh Token during the upload"
Hi all!

I integrated MinIO with Keycloak and sdk will use a temporary access token to call the MinIO API. I try to upload a large file(~20GB). But I ran into a situation that if the temporary token expired during uploading, the whole upload process will freeze. Is there any function I can use to refresh/fetch a new token and continue uploading?

Thanks!

[2021-05-27 03:34] balamurugana commented on #1112
You could use one of suitable credential [provider](https://github.com/minio/minio-py/blob/master/minio/credentials/providers.py). If none suits, write your custom provider and use it accordingly.

[2021-05-27 03:34] #1112 closed

[2021-06-07 03:59] lang07123 opened #1113 "breakpoint resume in progress."
the follow code show size abnormal if breakpoint resume .
[https://github.com/minio/minio-py/blob/master/examples/progress.py](https://github.com/minio/minio-py/blob/master/examples/progress.py)

[2021-06-07 04:25] balamurugana commented on #1113
Feel free to send a fix

[2021-06-07 04:25] #1113 closed

[2021-06-07 07:50] lang07123 commented on #1113
how to get breakpoint size ?

`
minio 7.0.3 hint
AttributeError: 'Minio' object has no attribute 'list_incomplete_uploads'
`
sorry for my english .. thanks very much.

[2021-06-07 08:43] balamurugana commented on #1113
1. Could you clarify what you mean by breakpoint size?
2. Use `_list_multipart_uploads()` internal method. Better to inherit `Minio` for your custom requirements.

[2021-06-07 09:57] lang07123 commented on #1113
**Exception occurs when i use `Minio.fput_object`, how to get uploaded size.**

        When i aborting  `Minio.fput_object`, the following code returns the empty list
       `client = Minio("192.168.12.34:9000", access_key="minioadmin", secret_key="minioadmin", secure=False,)`
       `objects = client._list_multipart_uploads("lang", "OM-SrvAdmin-Dell-Web-LX-9.3.0-3465_A00.tar.gz")
        print(o

[2021-06-07 10:12] balamurugana commented on #1113
`fput_object()` and `put_object()` never leave stale/incomplete uploads. Go through [api.py](https://github.com/minio/minio-py/blob/master/minio/api.py) for private methods for your custom needs.

[2021-06-07 10:17] lang07123 commented on #1113
thanks very much. I ' ll study it again。

[2021-06-08 08:04] lang07123 opened #1114 "writeonly policy AccessDenied. what can i do ?"
**server:**
` ./minio --config-dir ./config server ./data`

[code]

**python-sdk**
[code]

**trace to the following:**
[code]

**I returned an error when I tried to insert `s3.GetBucketLocation` into the policy**
[code]

**What can I do to make it work ？thank you very much ..**

[2021-06-09 07:25] lang07123 opened #1115 "Maybe progress update should be put in _put_object after."
Minio.fput_object progress update callback in ` read_part_data(data, part_size, progress=progress,)` after.
When file less than 5M  and put_objcet retrying ,will give the illusion of success. Because retrying is long time, but file progress size already 100%.

sorry for my english.

[code]
This problem is more serious with the custom progress.

[2021-06-09 07:37] balamurugana commented on #1115
Use `put_object()` for more controlled data reads for progress. However `progress.py` in `examples` is a guideline for how a progress bar implementation can be. If you are looking for more controlled progress bar, you would need to have your own progress bar implementation.

[2021-06-09 07:37] #1115 closed

[2021-06-11 05:08] raammishra commented on #1057
@Udayaprasad Any luck playing the video??

[2021-06-19 07:21] ruiztulio commented on #829
@jhadjar Hi, sorry for reaching you so late, but I did not implement it, actually a few months ago revisited the thread and started using bmc, just works great so far! Cheers!

[2021-06-22 12:15] kruserr opened #1116 "put_object hangs on HTTP 413"
## Current Behavior
Given an Nginx proxy used for TLS termination infront of Minio.
Nginx  has a default `client_max_body_size` of 1MB.

Attempting to `put_object`  larger than 1MB returns a HTTP 413 as observed in Nginx logs.
The Python Minio client hangs.

## Expected Behavior
Raise exception to indicate that a HTTP 413 occurred.

[2021-06-22 14:57] harshavardhana commented on #1116
We retry requests there should be no hang, make sure to fix your nginx configuration.

[2021-06-22 15:10] kruserr commented on #1116
There is no problem with the nginx config.
It is just to illustrate the problem.

However it seems to retry forever?

[2021-06-22 15:17] balamurugana commented on #1116
@kruserr Please share the below detail
1. Make sure you are using the latest version of `minio-py v7.0.4`.
2. Enable HTTP tracing using `Minio.trace_on()` and share the output.

[2021-06-22 15:20] kruserr commented on #1116
Why retry on a 413 though, don't we already know that it will not succeed the next time, and loop forever?

[2021-06-22 15:29] balamurugana commented on #1116
The latest `minio-py` does not retry on failures. Please provide necessary information mentioned in https://github.com/minio/minio-py/issues/1116#issuecomment-866075552

[2021-06-22 15:33] kruserr commented on #1116
[code]

[2021-06-22 15:40] balamurugana commented on #1116
@kruserr I don't see response for `PUT` call. Not sure why your server doesn't respond to those calls.

[2021-06-22 15:44] kruserr commented on #1116
Now it seems to crash on dev machine, but after ~3min timeout.
On prod machine, i got no crash.

[code]

[2021-06-22 15:51] balamurugana commented on #1116
@kruserr You are getting `ConnectionResetError: [Errno 104] Connection reset by peer` which means your server is closing connection for `PUT` calls. There is no problem with `minio-py`.

[2021-06-22 15:55] kruserr commented on #1116
@balamurugana Alright, thanks for the insight!

The hang issues seems to be related with `minio-py/7.0.3`.

[2021-06-22 15:55] #1116 closed

[2021-06-24 14:08] neuneck opened #1117 "How to properly timeout a notification listener?"
I need to load an object from MinIO as soon as it is uploaded. For that, I use the MinIO python client's `Minio.listen_bucket_notification()` and listen for the "s3:ObjectCreated:*" event. The client only listens for a single object.

It can happen that the file does not get created in time. So I want to stop listening for this notification after a while. Looking at the implementation (https://git

[2021-06-24 15:15] balamurugana commented on #1117
ATM I couldn't able to find a solution other than writing your own `listen_bucket_notification()` using `Minio._execute()`. A sample code would be something like
[code]

[2021-06-24 15:25] neuneck commented on #1117
I don't think I understand. Would I call this in a loop, practically polling the API for the event to show up?

I don't know MinIO's REST api, to be honest. Is one of the elements here blocking until an event occurs? Or will the default implementation's loop just poll the minio API for events?

[2021-06-24 15:54] balamurugana commented on #1117
When `GET` request is called, MinIO server starts writing event data as JSON in the HTTP response indefinitely i.e. it never closes the connection. In the response, the server may send empty lines to keep the connection alive.

[2021-06-24 20:00] balamurugana commented on #1117
@neuneck You could try this PR https://github.com/minio/minio-py/pull/1118

[2021-06-25 07:47] neuneck commented on #1117
That looks great. Then all I'd have to do is make sure I can cancel the event loop / leave the context after the timeout.

[2021-06-25 13:14] neuneck commented on #1117
Unfortunately, it raises an AttributeError from l. 802.

To reproduce: create a minio server using the example docker deployment (https://docs.min.io/docs/minio-docker-quickstart-guide.html)

Run
[code]

For me this gives
[code]

[2021-06-25 13:51] neuneck commented on #1117
Replacing
[code]
in line 786 with
[code]
fixes this issue.

[2021-06-25 14:28] neuneck commented on #1117
Spent some more time with it and with the fix I proposed in my previous comment, this PR produces the behavior I wanted.

For future reference, in case someone else comes in with the same question: I used the Minio client in combination with the TimeoutIterator from the iterators package (https://github.com/leangaurav/pypi_iterator):

This is the code snipped I used to check it works and cleans up

[2021-06-25 14:34] neuneck commented on #1117
FYI: I also verified that using the `events` object directly, i.e. not as a context manager will leak the connection. Running
[code]
Gives
[code]
Whereas the code above gives
[code]

[2021-06-25 14:35] neuneck commented on #1117
Thank you for the quick action @balamurugana

[2021-06-25 17:31] #1117 closed

[2021-06-30 19:36] juhoautio opened #1119 "AWS credentials provider with role_arn + source_profile"
I tried using Minio for s3 with a credentials file that uses `role_arn` and `source_profile`. Is it true that this is not supported by Minio?

I found a PR comment that mentions this type of conf: https://github.com/minio/minio-py/pull/817#discussion_r358160557. If I'm not mistaken, this was scoped out in that PR.

----

The code that I tried was:

[code]

But it fails with:

Basically my `.aws/cr

[2021-06-30 19:53] balamurugana commented on #1119
`role_arn` and `source_profile` are not supported in `minio-py` yet. Feel free to send a fix.

[2021-07-01 02:43] harshavardhana opened #1120 "Releasing minio-py failed during `make tests`"
[code]

After seeing this and running locally `make tests` I can reproduce the same problem.

[code]

[code]

[2021-07-01 07:22] #1120 closed

[2021-07-06 13:21] stoyanovdanail opened #1123 "AWS s3 list_objects does not work"
I am using version 7.0.4 and list_objects method is not working. The response from s3api is ```b'<CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>eu-central-1</LocationConstraint></CreateBucketConfiguration>'```. There are no objects in the response and there are more than 20 objects in the bucket. I try with prefix, without prefix, with version 1 and

[2021-07-06 13:27] balamurugana commented on #1123
1. Share your code causing the issue.
2. Enable `Minio.trace_on()` and share the output.

[2021-07-06 13:27] #1123 closed

[2021-07-06 13:59] stoyanovdanail commented on #1123
[code]
Log:
[code]

[2021-07-06 14:04] stoyanovdanail opened #1124 "AWS s3 list_objects does not work"
I am using version 7.0.4 and list_objects method is not working. The response from s3api is b'<CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>eu-central-1</LocationConstraint></CreateBucketConfiguration>'. There are no objects in the response and there are more than 20 objects in the bucket. I try with prefix, without prefix, with version 1 and everyt

[2021-07-06 14:23] balamurugana commented on #1123
It works for me
[code]

[code]

Note: I am using `master`, but should work for released version.

[2021-07-06 14:32] #1124 closed

[2021-07-06 15:47] stoyanovdanail commented on #1123
Thank you for your help!

[2021-07-07 10:03] neuneck opened #1125 "Listener crashes after listening for 500 seconds."
Using the listener in its EventIterables form (as it is on master right now), it crashes for me after listening for 490~500 seconds.
I believe the issue is caused by the `EventIterables.__next__()` method being recursing and a possible state where the `EventIterables._stream` object always yields an empty response of some kind. This would not trigger a reactivation of the listener request itself

[2021-07-07 11:30] balamurugana commented on #1125
@neuneck Please try this PR https://github.com/minio/minio-py/pull/1126

[2021-07-07 12:05] neuneck commented on #1125
@balamurugana Tried it, it works well. Thank you for the quick response!

[2021-07-07 15:31] #1125 closed

[2021-07-08 03:40] god-chaos commented on #1108
maybe this is bug. remove_objects method is work in 6.0.2, but it's not work in 7.0.x

[2021-07-08 03:41] god-chaos commented on #1108
maybe this is bug. remove_objects method is work in 6.0.2, but it's not work in 7.0.x

[2021-07-14 12:48] russdan opened #1127 "progress.py abends with ZeroDivisionError: float division by zero"
Hi. I am trying to use the Progress() indicator with a simple

[code]

most of the time I get the following abend :

[code]

From my debug it looks like in `run() `when the task `display_queue .get `returns `Empty` the final `self.print_status()` call with `current_size=0` and `total_length=0` causes the error (as the `total_length=0` causes the divide by zero error).

Fix is to remove the `except

[2021-07-14 14:49] SqrtPapere commented on #730
I currently have latest release of minio (7.1.0) but still facing this issue. I don't relly know much about certificates and proxies but why do I need one? I am just trying to connect to a minio cluster I have on a server in the same VPN. mc works but not the sdk.

I also tried with the code suggested by @solarist but I don't understand if I need to change the proxy address.

Can someone please ex

[2021-07-16 17:21] solarist commented on #730
Without proxy would be something like this:
[code]

[2021-07-20 08:36] denys-zhak opened #1129 "MinIO server liveness check"
Is that possible to add a separate function for that?

Similar to Redis' ping() that would just make a request to /minio/health/live and /minio/health/cluster

[2021-07-20 08:48] balamurugana commented on #1129
You could extend `Minio` and do any custom requirements.

[2021-07-20 08:48] #1129 closed

[2021-07-21 08:37] Sx3 opened #1130 "Running on vmware host directly"
I am trying to install the setup.py on a VMware host
Version: 6.7.0 Update 3 (Build 17499825)
it comes with Python 3.5.9

when I try to install minio-py
[code]

it throws
[code]

Basically, I am trying to upload a file from VMware host datastore to minio self-hosted cloud.
any directions?

[2021-07-21 09:53] balamurugana commented on #1130
@Sx3 You would need to have `setuptools` and respective python packages. My recommendation is to install via `pip` like `pip3 install minio` or download the release from [pypi](https://pypi.org/project/minio/)

[2021-07-21 09:53] #1130 closed

[2021-07-23 00:43] hungnvk54 opened #1131 "Exeption when create bucket with new location"
Hi all,
There is an errors while using the minio python sdk when we create bucket

`
self._client = Minio(
            endpoint=config.endpoint,
            access_key=config.access_key,
            secret_key=config.secret_key,
            secure=config.secure,
            region='ap-southeast-1'
        )

self._client.make_bucket("test-bucket", location='ap-southeast-1')
`

Exeption:
`
 File "/

[2021-07-23 00:57] harshavardhana commented on #1131
Enable `self._client.trace_on(os.Stdout)` and run the code again

[2021-07-23 01:28] hungnvk54 commented on #1131
Here is the log when enable trace_on stdout
HEAD / HTTP/1.1
Host: rk-ekyc-image.s3.ap-southeast-1.amazonaws.com
User-Agent: MinIO (Linux; x86_64) minio-py/7.0.0
X-Amz-Content-Sha256: UNSIGNED-PAYLOAD
X-Amz-Date: 20210723T012401Z
Authorization: AWS4-HMAC-SHA256 Credential=*REDACTED*/20210723/ap-southeast-1/s3/aws4_request, SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=*REDACTED*

HT

[2021-07-23 01:32] hungnvk54 commented on #1131
An other info: When change both the region when create the MinIO Client and make_bucket to `us-east-1` then every thing work fine.

[2021-07-23 01:47] harshavardhana commented on #1131
This bug was fixed in 014651b2

[code]

Available in following releases, please upgrade.

[2021-07-23 01:47] #1131 closed

[2021-07-23 05:25] MatinF opened #1132 "Issue using listen_bucket_notification.py: AttributeError: __enter__"
I'm trying to replicate this example:

https://github.com/minio/minio-py/blob/master/examples/listen_bucket_notification.py

However, when I run the example, I get below error:

[code]
Any ideas?

[2021-07-23 05:47] balamurugana commented on #1132
1. Use the latest version of `minio-py`
2. Share your code having this issue
3. Enable `Minio.trace_on()` and share the output

[2021-07-23 05:47] #1132 closed

[2021-07-23 06:36] MatinF commented on #1132
1. I have now updated to the latest version of `minio-py`
2. I'm trying to run the below code:

[code]

However, when I do I now receive the below error:
[code]

Note that I'm able to verify the connection to the MinIO S3 server by using `found = client.bucket_exists("canlog1")`.

[2021-07-23 06:57] harshavardhana commented on #1132
S3 gateway does not support ListenBucketNotification @MatinF

[2021-07-23 07:24] MatinF commented on #1132
Hi again,

Thanks for clarifying.

I'm running MinIO as an S3 gateway via Docker on Azure. Is there some alternative way then to "listen" to bucket notifications? I'm looking to run a script on an event basis, i.e. every time a new object is uploaded to the S3 bucket.

[2021-07-24 01:43] harshavardhana commented on #1132
@MatinF `minio gateway` does not implement Listen feature other than NAS gateway

[2021-07-26 17:26] neuneck opened #1133 "Client leaking connections in multiple calls"
I have discovered that some calls can leak connections. Notable, the `Minio.get_object()` and the `Minio.list_buckets()` calls reproducibly leak connections for me.

To reproduce first, spin up a local minio:
[code]

Then install `psutil` and `minio` to run the following reproduction script (It's not the most concise, but it's what I used to zero in on the issue) (press any key to stop the printin

[2021-07-26 17:33] balamurugana commented on #1133
@neuneck This is behavior of `urllib3` for connection pooling. Could you disable by passing custom `http_client` and check the behavior?

[2021-07-26 17:42] neuneck commented on #1133
If I pass a `urllib3.PoolManager()`, either version of my script shows one leaked connection. Do you know a setting for http_client that will prevent these leaks?

[2021-07-26 17:56] neuneck commented on #1133
Creating a `urllib3.PoolManager` along with every client, keeping track of it and calling its `clear()` method when closing connections does stop the connection leakage, but is very unintuitive.

[2021-07-27 02:54] balamurugana commented on #1133
Connection pooling is a `urllib3` feature to improve network performance.  Please refer https://urllib3.readthedocs.io/en/latest/advanced-usage.html#customizing-pool-behavior

[2021-07-27 02:54] #1133 closed

[2021-07-27 16:08] milanbalazs opened #1134 "SSL problem during Python client connecting to MinIO in Docker."
I have a complex docker-compose system which contains a `MinIO` service. I am using `HTTPS` protocol and it works as expected on my server but I cannot connect to `MinIO` with `Python` client (`SDK`).  My Python client runs outside of Docker system.

**My MinIO service section in my `docker-compose.yml` file:**

[code]

I have generated the Cers with [CertBot](https://certbot.eff.org/).

**My Pyth

[2021-07-27 16:15] balamurugana commented on #1134
Few options:
1. export `SSL_CERT_FILE` environment variable with appropriate value.
2. pass custom `http_client` disabling TLS check.

[2021-07-27 16:15] #1134 closed

[2021-07-27 16:35] milanbalazs commented on #1134
@balamurugana: Thanks for your answer.

I have made some Googling and I have found out  a working solution. I am sharing my solution, perhaps it can help for others. :)

**Related code part of client:**

[code]

[2021-07-29 09:21] neuneck opened #1135 "How to inform MinIO server that a listener is no longer needed?"
Relates to https://github.com/minio/minio-py/issues/1117

I can now continue the control flow in my Python code and close (interrupt) the listener connection to MinIO from the client side. In our distributed, erasure coding, versioning server deployment, this does not seem to clear up the server side of the listener, though. Over time we accrue a lot of connections between the MinIO instances, a b

[2021-07-29 09:46] balamurugana commented on #1135
`ListenBucketNotification` works like below
MinIO server side:
1. Accepts client request and sends `chunked` value to `Transfer-Encoding` header and starts sending event data
2. If no event data, it sends empty JSON to keep the connection alive
3. If any I/O error on sending data, the connection is dropped at server side.

`minio-py` client side:
1. `Minio.listen_bucket_notification()` returns a i

[2021-07-29 09:46] #1135 closed

[2021-07-29 12:43] baris-karabuga opened #1136 "python client.put_object(bucket, file.filename, content, size)"
Open an interactive python shell in this frame        ​
return ObjectWriteResult
            bucket_name,
            object_name,
            response.getheader("x-amz-version-id"),
            response.getheader("etag").replace('"', ""),
            response.getheaders(),
        )

    def _upload_part(self, bucket_name, object_name, data, headers,
                     upload_id, part_number):

[2021-07-29 13:23] balamurugana commented on #1136
Please share below
1. the program causing the failure
2. Full stacktrace on the error
3. enable `Minio.trace_on()` and share the output

[2021-07-29 13:23] #1136 closed

[2021-07-30 11:51] lbgr0 opened #1137 "put_object fails for writeonly user"
I have set up a local minio copy. created a new bucked named "images" with the policy set to upload.
I further created a testUser with writeonly policy.

uploading of files using the mc client from a terminal works fine, however using the python API I get a

when setting the users policy to write+read I can upload, using the same python code.

code example:

[code]

  Is this a bug? Or do I have t

[2021-07-30 11:57] vadmeste commented on #1137
s3:GetBucketLocation is probably missing here.

You can also enable tracing to see what fails, `client.trace_on(sys.stderr)`

[2021-07-30 11:58] balamurugana commented on #1137
The error clearly says the user has no permission. You would need to investigate further by adjusting your bucket policy. You could enable `Minio.trace_on()` to look about HTTP traces for respective S3 API failure.

[2021-07-30 11:58] #1137 closed

[2021-08-03 02:51] joshuafc opened #1138 "How can I put_object with parameter HTTPResponse return by get_object?"
I have try
[code]
but cannot work.

[2021-08-03 02:55] joshuafc commented on #1138
I've never used urllib3.response.HTTPResponse, use get_object's return value to put it to an other server, should work.

[2021-08-03 05:04] balamurugana commented on #1138
Use like below
[code]

[2021-08-03 05:04] #1138 closed

[2021-08-03 06:02] JohnJyong opened #1139 "the MD5 of file is different form the local file when I use getObject in MINIO"

[2021-08-03 06:09] balamurugana commented on #1139
Please open the issue in minio server with all required information.

[2021-08-03 06:09] #1139 closed

[2021-08-04 13:44] pedro-bralv opened #1140 "Allow path in endpoint for access to custom URL deployments"
So I have my MinIO deployed under "https://my.internal.url/minio/" and when trying to access my endpoint through:

[code]

I get the following:
```ValueError: path in endpoint is not allowed```

If I take out the "/minio" bit, I don't get to access my endpoint because there's no MinIO deployed under "/".

Is there something that I am missing or it just wasn't made for this case?
I don't know if th

[2021-08-04 13:59] balamurugana commented on #1140
As per S3 specification and request signing process, path in endpoint is not allowed. You could configure reverse proxy or something similar to expose endpoint without path.

[2021-08-04 13:59] #1140 closed

[2021-08-10 11:05] lbgr0 commented on #1137
Hi,

i further investigated the issue and found the follwing by analyzing the HTTP trace (below is the output for a user with "readwrite" policy), for a user with just "onlywrite" policy, the first "GET ? location" request provokes an "Access denied":
The GET is only requested for the very first call of  put_object() following put_object() calls do not send a GET.

Is this the expected behaviour?

[2021-08-10 11:36] balamurugana commented on #1137
You have two options
1. Add permission to `GetBucketLocation` in your bucket policy (or)
2. Pass region of your bucket as value to `region` arg to `Minio` constructor. This way all S3 APIs use specified region.

[2021-08-10 19:26] nairashwin952013 opened #1141 ""Malformed XML error" when using set_bucket_lifecycle"
Hi,

I tried to do this on play:
[code]

The output I get is:
[code]

I have tried all possible variation that I could think on how the `XML` format should be. Could I get some help ?

[2021-08-11 02:25] balamurugana commented on #1141
Please try the fix https://github.com/minio/minio-py/pull/1142

[2021-08-13 19:33] nairashwin952013 commented on #1141
#1142 didn't fix this issue after I tested it in the same conditions and I got the same error:
[code]

[2021-08-13 19:37] nairashwin952013 commented on #1141
I am assuming its because I don't have `minio-py==7.1.1`, I followed the steps mentioned [here](https://github.com/minio/minio-py#download-source) but it didn't help me install the patchedr version of `minio-py 7.1.1` with the fix I wanted

[2021-08-13 19:44] nairashwin952013 commented on #1141
The patch worked so will this be checked into the next minor version `7.1.1` ?

Testing O/p:
[code]

[2021-08-13 19:44] #1141 closed

[2021-09-01 08:57] Kezo opened #1144 "EnvAWSProvider and EnvMinioProvider throws errors at the wrong time"
The two Env-providers instantiate their credentials in `__init__` and not in `retrieve()`. This means they will raise `ValueError`s when they are instantiated instead of when used if the environment variables are not set. With this behaviour, they can't be used properly with the `ChainedProvider`, which expects the `ValueError`  to be raised in `retrieve()`.

Instead, the `Credentials` object shou

[2021-09-01 09:04] Kezo opened #1145 "`ChainedProvider` returns `ValueError` instead of raising it"
When using a `ChainedProvider` and all provided `Provider`s fail, the `ChainedProvider` will _return_ a `ValueError` instead of raising it. Since the provider is passed into the `Minio` constructor and `retrieve()` is never called by the library user, this return value can't be checked. Instead, it leads to issues like "'ValueError' object has no attribute 'session_token'" somewhere further into t

[2021-09-01 09:41] balamurugana commented on #1144
There is no reason to pass `EnvAWSProvider` or `EnvMinioProvider` providers to `ChainedProvider` with invalid values. The `ChainedProvider` should work always. It is a quite rare case which `ChainedProvider` fail to fetch credentials. WRT `EnvAWSProvider`/`EnvMinioProvider`, they are last option in `ChainedProvider` should provide credentials.

[2021-09-01 09:41] #1144 closed

[2021-09-01 09:45] Kezo commented on #1144
In our case, we want to use the environment variables as the override. Meaning if they are set, always use them, but otherwise use other options. So we would want to use the Env-providers as the first providers in ChainedProvider, followed by the other providers we with to try.
I guess we could check if the variables are set, and in that case use the Env-providers and otherwise use the ChainedProv