[2015-06-28 17:45] fkautz opened #84 "Check all query parameters are properly escaped when building url"
Add code to escaspe, including / in query params

[2015-06-28 17:46] fkautz opened #85 "Complete implementation of multipart put"

[2015-06-29 02:19] fkautz opened #94 "handle cases where incoming put data is too large or too small"

[2015-06-29 03:11] #94 closed

[2015-06-29 03:14] #85 closed

[2015-06-29 03:15] fkautz opened #97 "Support resuming put of large objects (>5MB)"

[2015-06-29 03:16] fkautz opened #98 "Add integration tests for dropping incomplete uploads"

[2015-06-29 03:16] fkautz opened #99 "Run integration tests in python3"

[2015-06-29 04:00] #97 closed

[2015-06-29 04:16] fkautz commented on #84
One that breaks is drop_incomplete_uploads(bucket, key) where key has a /

[2015-06-29 04:22] #98 closed

[2015-06-29 04:38] #84 closed

[2015-06-30 04:44] #99 closed

[2015-06-30 04:44] fkautz opened #107 "Parse dates and return datetime objects from parsed xml"

[2015-06-30 04:44] fkautz opened #108 "Write documentation"

[2015-06-30 21:56] harshavardhana opened #110 "Add Content-MD5 for all put object operations"

[2015-06-30 21:57] harshavardhana opened #111 "Add get_partial_object() API"

[2015-07-01 19:23] #110 closed

[2015-07-01 19:39] fkautz commented on #111
Closed with #113

[2015-07-01 19:39] #111 closed

[2015-07-01 21:53] #107 closed

[2015-07-01 22:51] fkautz opened #116 "Requested byte range contains 1 too many bytes"
Reproduce:

Assume 'foo/bar' = 'hello world'
get_object('foo', 'bar', 2, 4)

Expected:
'llo '

Actual:
'llo w'

[2015-07-01 23:13] #108 closed

[2015-07-01 23:15] fkautz commented on #116
Fixed with #118

[2015-07-01 23:15] #116 closed

[2015-07-07 05:52] harshavardhana opened #142 "Unicode decode error on python put_object.py"
[code]

put_object.py
[code]

[2015-07-07 07:32] harshavardhana opened #145 "Missing max-parts and part-number-marker from ListUploadedParts()"
https://github.com/minio/minio-py/blob/master/minio/generators.py#L201

Without part-number-marker we wouldn't be able to list beyond 1000 parts.

[2015-07-07 15:52] fkautz commented on #145
Good catch, i'll update this.

[2015-07-07 15:57] #145 closed

[2015-07-07 16:41] fkautz opened #146 "pip install minio does not run 2to3 automatically"
pip and easy_install both ignore the 2to3 directive in setup.py

[2015-07-07 16:43] fkautz opened #147 "long description cannot find README.md, breaks easy_install"
[code]

results in

[code]

[2015-07-08 01:07] harshavardhana opened #151 "A statObject will not have a parseable error body, so we might get frivolous parse error exceptions - need to handle it"
[code]

[2015-07-08 01:49] fkautz opened #152 "Use last object if NextMarker is not set and IsTruncated is true"
NextMarker may not be populated, use the last object seen if this is the case.

[2015-07-08 04:20] fkautz commented on #146
Compat shim written, no need for 2to3 anymore. Closing this.

[2015-07-08 04:20] #146 closed

[2015-07-08 04:22] fkautz commented on #147
This was breaking due to the lack of README.md in the source pkg. README.md now exists. Closing this.

[2015-07-08 04:22] #147 closed

[2015-07-08 04:25] fkautz commented on #151
Should be fixed in latest version.

[2015-07-08 04:40] abperiasamy commented on #151
We should keep such issues open until they are fixed.

[2015-07-08 04:46] harshavardhana commented on #151
[code]

The issue here is if you have no access keys specified.. for StatObject, StatBucket there is no response body.

Upon errors only headers are available so a parseError on the body is bound to throw exception, in this scenario due to lack of credentials.

[code]

[2015-07-08 04:48] harshavardhana commented on #151
For example for a put_object() operation a proper ResponseError is available so no XML parsing issues.

[code]

[2015-07-08 05:12] harshavardhana commented on #152
All recursive cases need to handle this since we won't have the NextMarker available. Here is the sample implementation in golang library

[code]

In-fact for a delimited case we don't need to handle NextMarker since we are going to be printing 1000 at a time anyways and traversing through delimiter is based on prefix so we are good.

[2015-07-08 05:13] fkautz commented on #142
Removed section of code causing problems in minio library, but this uncovered the same issue within python's standard httplib.

Going to further investigate how we can get python to treat a binary "string" as a binary. Adding the stack trace here for further info.

[code]

[2015-07-08 05:17] harshavardhana commented on #152
In-fact now that i think about it delimited but more than 1000 entries could be a valid case with in the delimited and prefixed path. Need to fix this across all libraries too.

[2015-07-08 05:45] #142 closed

[2015-07-08 18:27] #152 closed

[2015-07-08 18:29] #151 closed

[2015-07-08 18:30] fkautz commented on #151
Expanded the types of errors covered when a 0 length data response is provided. Should cover any error response now.

[2015-07-08 18:32] fkautz opened #158 "Add support for certificate verification"
[code]

[2015-07-08 18:33] fkautz commented on #158
For easier access:

https://urllib3.readthedocs.org/en/latest/security.html

[2015-07-08 22:35] fkautz commented on #158
Fixed with #159.

[2015-07-08 22:35] #158 closed

[2015-07-08 22:49] fkautz opened #162 "get_bucket_acl of a non existent bucket returns 'private'"
Should throw an exception stating bucket doesn't exist instead.

[2015-07-08 22:51] fkautz commented on #162
Correct response is an exception with 'NoSuchBucket'

[2015-07-08 22:57] fkautz opened #163 "Acl isn't being set in make_bucket"

[2015-07-08 22:57] fkautz commented on #163
client.make_bucket(bucket, Acl.public_read())
client.get_bucket_acl(bucket)
# response is private, expecting 'public_read'

[2015-07-08 22:59] fkautz opened #164 "Test code for bucket needs to test for existence of /"
Test for /, don't send request if / is in bucket name.

[code]

[2015-07-09 00:28] fkautz opened #166 "Location constraint breaks when putting to us-standard"
[code]

[2015-07-09 00:32] harshavardhana commented on #166
+1

[2015-07-09 00:39] fkautz opened #167 "Validate input acl when setting"
Each of these should fail before sending a request

[code]

[2015-07-09 02:34] fkautz opened #168 "Putting text file opened in text mode fails"
opening in binary mode works:
[code]

opening in text mode fails:
[code]

[2015-07-09 02:42] fkautz opened #169 "Strip quotes from etag in put"

[2015-07-09 02:42] fkautz opened #170 "Strip quotes from etag in object stat"

[2015-07-09 02:44] fkautz opened #171 "Putting a small object that is too large or too small should fail before sending request"
Both of these should fail before sending request:
[code]

[2015-07-09 02:50] fkautz opened #173 "Object keys should be url encoded"
put a file with a ? or # in the name results in unexpected truncation of the key

[code]

[2015-07-09 02:53] fkautz commented on #173
[code]

[2015-07-09 03:49] harshavardhana commented on #171
Note:  Perhaps we can type this error appropriately with IncompleteBody() one of the valid s3 error responses.

[2015-07-09 04:04] #162 closed

[2015-07-09 04:14] #163 closed

[2015-07-09 04:16] #164 closed

[2015-07-09 04:33] #166 closed

[2015-07-09 04:34] #167 closed

[2015-07-09 04:39] fkautz commented on #171
S3's failure response says there is a mismatch in x-amz-sha256 (Not sure why, perhaps they are pre-allocating and testing that buffer). In the java library, we created a custom DataSizeMismatchException. We can do the same here.

[2015-07-09 04:53] #168 closed

[2015-07-09 04:57] #169 closed

[2015-07-09 05:02] #170 closed

[2015-07-09 05:03] #171 closed

[2015-07-09 18:10] fkautz opened #183 "Add milkyway to list of ignored regions in make bucket"

[2015-07-09 18:57] #173 closed

[2015-07-09 19:20] fkautz commented on #183
Fixed by #185.

[2015-07-09 19:20] #183 closed

[2015-07-09 19:33] fkautz opened #186 "Setting length in get object results in data from the end of object instead of front"
Getting an object with a length limit returns data from the end of the object instead of the beginning
[code]

[2015-07-09 19:35] fkautz commented on #186
object contents: 'hello world'

[code]

[2015-07-09 19:40] fkautz commented on #186
Setting length only should prepend 0

incorrect:
[code]

correct:
[code]

[2015-07-09 19:50] fkautz commented on #186
Fixed with #187.

[2015-07-09 19:50] #186 closed

[2015-07-09 21:44] fkautz opened #188 "Writing a large binary array results in an exception"
[code]

[2015-07-09 21:59] fkautz opened #189 "multipart put returns ValueError rather than DataSizeMismatch"
11m_text is an 11mb text file.

[code]

[2015-07-09 22:06] fkautz opened #190 "multipart put does not preserve content_type"
[code]

[2015-07-09 22:42] #188 closed

[2015-07-09 23:23] #189 closed

[2015-07-09 23:42] #190 closed

[2015-07-10 00:56] fkautz opened #194 "list object should decode object keys"
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
  File "/home/fkautz/.local/lib/python2.7/site-packages/minio/parsers.py", line 240, in __str__
    self.bucket, self.key, self.last_modified, self.etag, self.size, self.content_type)
UnicodeEncodeError: 'ascii' codec can't encode characters in position 9-10: ordinal not in range(128)

[2015-07-10 01:52] fkautz opened #196 "Put object fails to get sha256 of text input."
[code]

[2015-07-10 01:53] #194 closed

[2015-07-10 02:01] #196 closed

[2015-07-10 02:13] fkautz opened #198 "Non-recursive list objects paging fails when the page falls on an encoded string"
We only see this behavior when recursive = False

[code]

[2015-07-10 02:15] fkautz opened #199 "Recursion sends delimiter=%252F instead of %2F"
Double urlencoding is occurring.

[code]

[2015-07-10 02:26] fkautz opened #200 "Non-recursive list objects should return found common prefixes"
Expected:
Return both objects and common prefixes

Actual:
Returns only objects

[2015-07-10 02:42] #199 closed

[2015-07-10 02:45] fkautz commented on #198
Fixed by #202

[2015-07-10 02:45] #198 closed

[2015-07-10 03:00] fkautz commented on #200
Implemented by #203

[2015-07-10 03:00] #200 closed

[2015-07-10 03:40] harshavardhana opened #206 "Looks like "localhost:9000" port gets stripped off when adding to "host" in signer"
$ python put_object.py
[code]

[2015-07-10 03:56] fkautz commented on #206
Should be fixed with #207. Can you try again?

[2015-07-10 04:10] fkautz opened #208 "Ignore the following headers:"
Authorization
Content-Type
Content-Length
User-Agent

[2015-07-10 16:18] #206 closed

[2015-07-10 18:20] harshavardhana commented on #208
https://github.com/minio/minio-go/pull/109 - add comments from these commits for ignored headers for more information for developers in future

[2015-07-10 19:13] #208 closed

[2015-07-10 21:55] harshavardhana opened #210 "Looks like the signature change broke something"
[code]

[2015-07-10 22:04] harshavardhana commented on #210
[code]

This works.. with that put_object.py works with Minio-SignatureV4

[2015-07-10 22:23] fkautz commented on #210
Fixed with #211.

[2015-07-10 22:23] #210 closed

[2015-07-11 03:51] fkautz opened #212 "put objects with multipart upload does not resume when key requires url encoding"
Expected only one per key, saw multiple:

[code]

[2015-07-11 04:08] #212 closed

[2015-07-12 17:20] harshavardhana opened #215 "Use BytesIO() instead of MockFile() in xml_requests.py"
To avoid future bugs it is beneficial to use io.BytesIO()

[2015-07-12 17:22] harshavardhana opened #216 "Let is_valid_bucket_name() do a more proper verification based on s3 restrictions"
http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html

[2015-07-13 05:08] fkautz commented on #215
BytesIO provides only read, not write. This method merely collects bytes into a byte array. All encoding should already be performed before this write() is called.

Any other suggestions? Otherwise, this should be safe to close.

[2015-07-13 18:58] harshavardhana commented on #215
I can write to BytesIO()

[code]

So it is clearly possible to write to BytesIO()

[2015-07-13 19:02] harshavardhana commented on #215
For example the following change works fine..

[code]

All tests run okay. even integration tests run fine..

[2015-07-14 03:44] fkautz commented on #215
Ah, mistake I ran into was trying to use read() instead of getvalue. I'll reproduce and resubmit. Next time feel free to submit your change. :)

[2015-07-14 03:50] fkautz commented on #215
Fixed with #217

[2015-07-14 03:50] #215 closed

[2015-07-15 04:23] harshavardhana opened #218 "unauthenticated listBuckets() request should throw AccessDenied or Forbidden instead it tries to parse the body and fails"
[code]

To reproduce

[code]

[2015-07-15 21:18] #216 closed

[2015-07-15 22:15] #218 closed

[2015-07-16 20:58] harshavardhana opened #226 "Removebucket, removeobject parses body for error that it cannot handle example 501"
[code]

[2015-07-16 22:34] #226 closed

[2015-07-17 06:11] harshavardhana opened #230 "Version in git repo doesn't match pypi?"
https://github.com/minio/minio-py/blob/master/minio/__init__.py#L20

We should commit the version number here first before we push.

[2015-07-17 06:19] abperiasamy commented on #230
Go ahead and remove this release.  This is totally not acceptable.

[2015-07-17 19:15] fkautz commented on #230
Based on previous conversation, this was redacted, and latest version published as 0.2.1.

[2015-07-17 19:15] #230 closed

[2015-07-17 19:52] harshavardhana commented on #230
Same here, tag 0.2.1

[2015-09-17 21:09] harshavardhana opened #265 "Review test cases and finish all the remaining tests"

[2015-09-24 05:27] harshavardhana opened #266 "Parallelize multipart upload to 4 concurrent threads, just like minio-go library."

[2015-09-25 23:30] harshavardhana opened #267 "Implement support for storing x-amz-meta-* information"

[2015-10-21 00:24] harshavardhana opened #269 "Support HTTP2 across all libraries.. for all servers supporting HTTP2"

[2015-10-26 08:04] harshavardhana opened #277 "Review all examples and test them for their validity"

[2015-11-13 06:49] harshavardhana opened #280 "Implement postpolicy content-length"

[2015-11-13 06:52] harshavardhana opened #281 "Implement support for virtual hosted style for buckets"

[2015-11-13 20:05] #277 closed

[2015-11-22 00:48] harshavardhana opened #282 "Review documentation across all functions"

[2015-11-24 01:51] harshavardhana commented on #281
Remove #future label on this - we need to get this completed across all libraries.

[2015-11-24 01:52] harshavardhana commented on #280
Remove #future label on this - we need to get this completed across all libraries.

[2015-11-25 19:13] koolhead17 opened #284 "Error running example with minio-py"
I am trying to test minio-py on ubuntu

$ sudo pip install minio

After that i am trying to list all my buckets: with my secret/access key

[code]

[2015-11-25 19:34] koolhead17 opened #285 "ntp running & synchronized."
In our documentation it should be clearly mentioned that machine should have ntp installed and working for time synchronization.

$ python listB.py
Traceback (most recent call last):
  File "listB.py", line 11, in <module>
    buckets = client.list_buckets()
  File "/usr/local/lib/python2.7/dist-packages/minio/minio.py", line 194, in list_buckets
    raise err
minio.error.ResponseError: ResponseEr

[2015-11-26 08:14] krishnasrinivas opened #286 "convert minio-py to a stateless library"
Convert the APIs to follow this style:
[code]

[2015-11-26 08:30] krishnasrinivas commented on #284
can you change this line `from minio.minio import Minio` to `from minio import Minio`

[2015-11-26 20:19] harshavardhana commented on #284
[code]

[2015-11-26 20:20] harshavardhana commented on #284
The problem is in the certifi package which works for many domains and does not work for as simple as google.com - i guess removing the dependency will fix the problem.

[2015-11-26 20:22] harshavardhana commented on #284
Relevant issues

- https://github.com/aws/aws-cli/issues/1499
- https://github.com/certifi/python-certifi/issues/26

[2015-11-27 03:33] koolhead17 commented on #284
Closing this as upgrading minio package will  fix issue.

[2015-11-27 03:33] #284 closed

[2015-11-29 10:27] #281 closed

[2015-11-29 10:28] harshavardhana commented on #281
A different style of virtualized will be supported by fetching the relevant end point automatically through bucket name and keeping a private bucket to region map.

Also providing virtualized endpoints are disallowed, internally we will construct the final endpoint using virtualized buckets by default.

[2015-11-30 01:44] #286 closed

[2015-11-30 01:55] harshavardhana commented on #285
The error is handled properly - ntp configuration is automatic these days for all operating systems.  I don't think we need to document this specifically for Linux.

Once we have a full FAQ for server error responses then we can have this added there.  Not necessary for libraries.

[2015-11-30 01:55] #285 closed

[2015-11-30 02:08] harshavardhana opened #292 "Resumable downloads need to be provided for minio python."

[2015-11-30 02:12] harshavardhana opened #293 "put_object with length '-1' should do 5GB multipart upload until EOF"

[2015-11-30 02:13] harshavardhana opened #294 "Do not buffer use temporary files for individual parts before uploading."

[2015-11-30 07:19] #293 closed

[2015-11-30 07:20] #294 closed

[2015-12-01 05:17] harshavardhana opened #296 "All arguments for all functions should have native types"

[2015-12-01 05:21] #296 closed

[2015-12-02 01:22] #292 closed

[2015-12-02 08:05] #282 closed

[2015-12-02 23:52] #266 closed

[2015-12-03 03:12] #280 closed

[2015-12-04 08:22] harshavardhana opened #305 "Run pep8 across minio-py and fix all relevant issues."

[2015-12-05 06:41] #305 closed

[2015-12-05 06:43] harshavardhana opened #308 "Converge sign_v4 into HTTP request"

[2015-12-05 08:05] harshavardhana opened #309 "Overhaul needed for our tests, keep the unit testing - but implement functional testing"
- Functional  testing needs to use. play.minio.io

[2015-12-07 09:15] koolhead17 opened #311 "unexpected "list_incomplete_uploads.py" example output"
Hi,
I have an incomplete object  which i can resume uploading with
$ mc session resume rWLBcsRf

I am trying https://github.com/minio/minio-py/blob/master/examples/list_incomplete_uploads.py  example, i have added all the fields and prefix for incomplete uploaded object.

On executing the example, this is what am getting.

[code]

[2015-12-07 09:37] koolhead17 opened #312 "unexpected "make_bucket.py" output"
I am using the minio-py from github code.

I am trying to execute https://github.com/minio/minio-py/blob/master/examples/make_bucket.py  command & i am not able to create a new bucket instead getting this error.

[code]

[2015-12-07 10:22] koolhead17 opened #313 "unexpected "put_object.py" example output"
I am trying to execute https://github.com/minio/minio-py/blob/master/examples/put_object.py

I have the files and objects/key in place.
On executing  put_object.py, this is what i am getting.
[code]

[2015-12-07 17:45] koolhead17 opened #314 "unexpected "bucket_exists.py" output with "Play" server"
I am trying to execute minio-py examples on our minio play server & on executing bucket_exists.py, i am getting this error.

[code]

[2015-12-08 01:00] harshavardhana commented on #314
Not able to reproduce can you do 'pip install urllib3 --upgrade' ?

[2015-12-08 02:17] harshavardhana opened #315 "Fix XML parser handling from attribute looping to custom XML class."

[2015-12-08 02:32] #308 closed

[2015-12-08 02:32] #309 closed

[2015-12-08 02:32] #311 closed

[2015-12-08 02:32] #312 closed

[2015-12-08 02:32] #313 closed

[2015-12-11 03:05] harshavardhana opened #320 "Verify multipart uploads with concatenated md5sum at the end which server sends back."
Concatenation happens on the hexadecimally encoded md5's of individual parts on the server side during completemultipart upload.

Verify them and throw appropriate error.

[2015-12-15 15:40] koolhead17 opened #324 "confusing "error" while bucket not exist."
I was trying to add an object to a bucket which does not exist & got this output, the error should have mentioned "bucket does not exist" instead what i got as screenshot.

![missing bucket](https://cloud.githubusercontent.com/assets/41746/11815063/158dc34e-a370-11e5-9369-41ce7d9987c4.png)

[2015-12-15 16:36] #324 closed

[2015-12-17 01:42] harshavardhana commented on #320
Not necessary anymore.

[2015-12-17 01:42] #320 closed

[2015-12-17 01:42] harshavardhana commented on #314
Fixed in current master.

[2015-12-17 01:42] #314 closed

[2015-12-19 10:40] harshavardhana opened #328 "Fix pep8 compliance fixes."

[2015-12-19 10:48] harshavardhana commented on #328
[code]

[2015-12-19 10:49] harshavardhana commented on #328
These are the only fixes needed. These are not priority. Will keep this bug as a placeholder.

[2015-12-19 10:51] harshavardhana commented on #328
[code]

[2015-12-28 08:24] krishnasrinivas opened #339 "implement tracing"
implement apis:
TraceOn(traceFilePath)
TraceOff()
This should trace the HTTP calls made similar to mc --debug and also should trace any useful information - like if the region is getting used from cache, region map invalidation, if during resume of putObject/fPutObject it should log if it is continuing from where it left off or reuploading etc.
In the functional tests tracing should be 'on'. We sh

[2015-12-28 22:28] #267 closed

[2015-12-28 22:28] #265 closed

[2015-12-30 07:51] #339 closed

[2016-01-04 12:04] krishnasrinivas opened #346 "trace should dump xml"
trace output should dump xml body if available when s3 returns error.

[2016-01-04 17:00] #346 closed

[2016-01-04 19:45] harshavardhana opened #347 "Limit the amount of readable data from response body, honor content-length in response headers."

[2016-01-07 03:02] #315 closed

[2016-01-08 05:32] harshavardhana commented on #347
Looks like Content-Length is not set for all the S3 call replies, there is no easier and effective way to verify server sending malicious data right now, since S3 itself doesn't set Content-Length.

The reason is also i think they don't set Content-Length is since server is sending data with Transfer-Encoding set to 'chunked' . Because of this reason they do not have to. Since they guarantee that

[2016-01-08 20:19] #347 closed

[2016-01-08 22:34] bacongobbler opened #352 "conn.bucket_exists() raises an error if the bucket does not exist"
The expected result was for the function to return False.

Usage:

[code]

Result:

[code]

[2016-01-08 22:52] harshavardhana commented on #352
Agreed :+1:

[2016-01-09 00:39] #352 closed

[2016-01-15 00:09] harshavardhana opened #358 "Set Expect header 100-continue for put requests"
[code]

[2016-01-15 00:26] harshavardhana commented on #358
8.2.3 Use of the 100 (Continue) Status

The purpose of the 100 (Continue) status (see section 10.1.1) is to allow a client that is sending a request message with a request body to determine if the origin server is willing to accept the request (based on the request headers) before the client sends the request body. In some cases, it might either be inappropriate or highly inefficient for the clien

[2016-01-17 00:14] harshavardhana commented on #358
To keep note of while implementing this feature - https://tools.ietf.org/html/rfc7231#page-35

[code]

[2016-01-18 22:39] #328 closed

[2016-03-16 14:52] koolhead17 opened #364 "set_bucket and get_bucket acl examples missing"
Following the links on minio-py  https://github.com/minio/minio-py,

get_bucket_acl(bucket) : https://github.com/minio/minio-py/blob/master/examples/bucket_acl.py
set_bucket_acl(bucket_name, acl=Acl.private()): https://github.com/minio/minio-py/blob/master/examples/bucket_acl.py

They both throw 404

[2016-03-16 17:54] #364 closed

[2016-05-13 06:09] deekoder opened #369 "Change insecure to secure variable"
According to our discussions : If language supports default params without asking the user to pass them, use it. Otherwise force user to pass the default.

[2016-05-13 06:13] harshavardhana commented on #369
Fixed by #368

[2016-05-13 10:40] #369 closed

[2016-06-06 17:33] krishnasrinivas opened #372 "multipart: complete multipart upload should process white space characters after 200 OK"
http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadComplete.html

`
Processing of a Complete Multipart Upload request could take several minutes to complete. After Amazon S3 begins processing the request, it sends an HTTP response header that specifies a 200 OK response. While processing is in progress, Amazon S3 periodically sends whitespace characters to keep the connection from timing out.

[2016-06-15 17:34] koolhead17 opened #373 "Doc content update: pypi"
We need to update minio-py API contents on pypi to match with recent changes.

[2016-06-23 11:34] harshavardhana opened #376 "api: Implement support for ListObjectsV2. supporting new S3 list version 2 type."

[2016-06-29 20:19] harshavardhana opened #377 "api: Add GetBucketPolicy, RemoveBucketPolicy and SetBucketPolicy"

[2016-06-30 09:34] koolhead17 opened #380 "docs: adding Minio as storage backend with Django"
We need to test https://django-storages.readthedocs.io/en/latest/backends/amazon-S3.html with Minio as backend & if everything works well, send a PR for same.

[2016-07-01 05:17] krishnasrinivas opened #381 "Disable sha256 computation for https"

[2016-07-11 19:03] harshavardhana commented on #373
pypi is updated.

[2016-07-11 19:03] #373 closed

[2016-07-15 08:55] harshavardhana opened #384 "docs: Missing function signature from presigned_post_policy"
Missing
https://github.com/minio/minio-py/blob/master/API.md#presigned_post_policy

Has
https://github.com/minio/minio-py/blob/master/API.md#presigned_put_objectbucket_name-object_name-expirestimedeltadays7

[2016-07-15 08:56] harshavardhana commented on #384
Missing here as well - https://docs.minio.io/docs/python-client-api-reference#section-presigned_post_policy

[2016-07-24 13:12] tomhoule opened #391 "remove_object change?"
Hi,

I am working on my minio storage backend adapter for django (https://github.com/tomhoule/django-minio-storage), and I noticed that a test case I wrote a few weeks ago started failing with the latest version of minio-py.

Minio-py used to throw a `ResponseError` when trying to delete a non-existent object, and now it doesn't. I couldn't find information about this here so I'm reporting it in c

[2016-07-24 17:44] harshavardhana commented on #391
We havent changed anything recently. ResponseError on remove object is incorrect to start with it must be an older Minio server which was not s3 compliance.

Under s3's behavior remove object on a non existent object does not throw any error it always returns 204 success no content

[2016-07-24 19:53] tomhoule commented on #391
That's certainly it, I changed the minio version too. Thanks for the clarification!

[2016-07-24 19:53] #391 closed

[2016-07-28 18:43] caiotomazelli opened #393 "Support for Signature version 2 algorithm"
There are plans to eventually supporting signature v2, like in Minio Client?

[2016-07-28 18:55] koolhead17 commented on #393
Welcome @caiotomazelli,
Currently we support signature v2 only on minio-go client library, we have no plans for implementing signature v2 on other client libraries in future.

[2016-07-28 20:15] harshavardhana opened #394 "api: Implement SetBucketNotification, GetBucketNotification, DeleteBucketNotification"

[2016-08-10 03:46] harshavardhana commented on #393
We will not be supporting Signature v2 in minio-py.

[2016-08-10 03:46] #393 closed

[2016-08-11 19:23] koolhead17 commented on #384
@harshavardhana Please close this, it has been added.

[2016-08-11 19:24] koolhead17 opened #396 "Implement AWS China region support"
Our Python Client library should also support  AWS China region s3.cn-north-1.amazonaws.com.cn

It has been implemented in minio-go, implementation reference:  https://github.com/minio/minio-go/commit/190ac7b4b7e7ba8a669553674b748bdcace6c59e

[2016-08-11 21:11] #384 closed

[2016-08-27 15:31] krishnasrinivas opened #399 "Verify with python 3.5.1"
@xtream1101 reported issue with set policy in python 3.5.1:

[code]

[code]

[code]

[2016-08-27 16:41] krishnasrinivas commented on #399
@xtream1101 reported this:
[code]

[2016-08-28 06:27] harshavardhana commented on #380
ping @koolhead17

[2016-08-28 06:27] #377 closed

[2016-08-28 06:27] harshavardhana commented on #377
Fixed by #385

[2016-08-28 06:28] harshavardhana commented on #372
This needs to be validated with minio server by uploading a large file.

[2016-08-28 06:28] harshavardhana commented on #358
This is not needed anymore.

[2016-08-28 06:28] #358 closed

[2016-08-28 19:27] subho007 opened #401 "api: Implement lookup() to find if a key exists"

[2016-08-28 19:34] harshavardhana commented on #401
Isnt statObject good enough here ?

[2016-08-28 19:36] subho007 commented on #401
Yeah it is, overlooked it 👍

[2016-08-28 19:36] #401 closed

[2016-08-30 10:11] yml commented on #380
It would be nice to have the regular django-storages approach also documented and to compare and contrast it with https://github.com/tomhoule/django-minio-storage that uses minio python client.

[2016-08-30 17:09] koolhead17 commented on #380
Thanks for contributing the plugin @yml Let me run it quickly on my end and add a recipe for same. 👍

[2016-08-31 08:47] yml commented on #380
@koolhead17 I am looking forward to read your recipe with django-storages (boto).
It would be interesting to get insight from you about the advantages /disadvantages between using boto / minio-py in term of performance and reliability.

[2016-08-31 19:15] #399 closed

[2016-09-06 18:19] donatello opened #402 "[bug] get_object() is very slow and takes 100% cpu"
I created 10 files with sizes 1MB, 2MB, ..., 10MB and put it on minio server with version (master branch, latest at time of writing this):

[code]

Then, used the following Python script to download these files and to time them:

[code]

The minio server is running locally.

The output is:

[code]

While running the script, the python interpreter is at 100% CPU constantly.

Python version:

[code]

[2016-09-06 18:26] donatello commented on #402
In comparison, downloading all 10 files on the same machine with `mc` takes less than a second:

[code]

[2016-09-07 02:19] harshavardhana commented on #402
Looks like the problem is in reading

[code]

[2016-09-07 04:23] #402 closed

[2016-09-07 08:02] donatello commented on #402
:+1:

[2016-09-15 00:52] harshavardhana commented on #394
Fixed by #404

[2016-09-15 00:52] #394 closed

[2016-09-16 03:09] harshavardhana opened #405 "Implement missing ListenBucketNotification"

[2016-10-01 06:09] harshavardhana commented on #381
To be fixed by  #406

[2016-10-01 06:09] #381 closed

[2016-10-03 01:31] harshavardhana commented on #372
This has been deprecated on the server and not valid anymore.

[2016-10-03 01:31] #372 closed

[2016-10-03 02:14] harshavardhana opened #409 "api: Implement ListBucketPolicies"

[2016-10-06 17:05] harshavardhana commented on #405
Fixed by #407

[2016-10-06 17:05] #405 closed

[2016-10-09 12:59] muminoff opened #411 "CopyObject API not properly raising InvalidArgumentErr exception"
@harshavardhana Thanks for `CopyObject` API, I really needed it these days. But after I started to play around with it, I experienced following issue.

When no passing `CopyConditions()` to `mc.copy_object(..)`, `InvalidArgumentErr` exception is not being raised properly.

Example code:
[code]

Python version
[code]

minio-py version
[code]

minio version
[code]

Thanks in advance.

[2016-10-09 13:00] muminoff commented on #411
Related to #406

[2016-10-09 17:34] #411 closed

[2016-10-09 23:12] muminoff opened #413 "API: Implement RemoveObjects"

[2016-10-10 12:47] mr-karan commented on #396
I'd like to get started by working on this issue. Can you assign me please? @koolhead17

[2016-10-16 15:10] #396 closed

[2016-10-27 08:32] harshavardhana commented on #269
This is transparent once the client implements. Closing this.

[2016-10-27 08:32] #269 closed

[2016-11-02 08:55] merindorium opened #417 "[bug] Python 3.5.2 AttributeError on secure connection"
Trying to use secure connection but i'm getting AttributeError.
[code]

**Python**: 3.5.2
**Test code**:
[code]

[2016-11-02 09:10] harshavardhana commented on #417
Just used locally seems to be working fine

[code]

[code]

[2016-11-02 09:43] merindorium commented on #417
@harshavardhana
Thanks for reply. I think problem in my Mac OS.
I just checked it on my second pc with Debian and it's working fine.

[2016-11-02 09:43] #417 closed

[2016-11-10 16:28] okrause opened #418 "Python3 incompability in signer.py"
Just did a
pip3 install minio
and got
minio (2.0.2)

I see problems with put_object on Python3 (3.5.2).

Example code:

[code]

I used the sample code from website, even though it has wrong endpoint and keys for my setup. Point is, it boils out earlier:

#> echo "test" > my-testfile
#> python3 test.py
Traceback (most recent call last):
  File "test.py", line 15, in <module>
    minioClient.fput_ob

[2016-11-10 16:32] harshavardhana commented on #418
We addressed a similar issue - https://github.com/minio/minio-py/issues/417 can you take a look if its not a setup issue?

[2016-11-10 16:37] vadmeste commented on #418
@harshavardhana, I have the same problem too in my machine. It disappears only when I disable secure flag. Will try to understand what's going on.

[2016-11-10 16:56] okrause commented on #418
I had a look. There is no real solution specified except "used a different platform". I am also on OSX.

I played around with running the on Python2 and Python3 in comparision.
If I specify "Secure=False" while connecting, the code runs with Python2 and Python3 fine. I assume it avoids the problematic code path entirely.

If a set "Secure=True", it boils out with above error for Python3. Python2 y

[2016-11-10 16:59] okrause commented on #418
BTW: Updated the sample code to the code I used for above examples.

[2016-11-10 17:03] vadmeste commented on #418
str.decode is no more supported in Python 3.x

[2016-11-10 19:53] #418 closed

[2016-11-10 22:24] okrause commented on #418
Seems to be fixed. Python3 now runs into the same TLSV1 error as python2. Behaviour is consistent, problem seems unrelated.
Many thanks for the quick fix.

[2016-11-10 23:00] harshavardhana commented on #418
You are welcome @okrause - we will soon make a release.

[2016-11-21 05:08] elcolie opened #421 "How to supply directory?"
I use commit
[code]

And got this

[code]

**My computer:**<br>
OSX 10.11.6
Python 3.5.1

**Questions:**<br>
How to supply an absolute and relative directory path correctly?

[2016-11-21 05:09] harshavardhana commented on #421
Looks like a bug @elcolie - thanks for reporting will fix it.

[2016-11-21 05:11] harshavardhana commented on #421
oh wait! fput_object cannot upload an entire directory, it can only upload one file at a time.

[2016-11-21 05:11] harshavardhana commented on #421
Are you trying to upload all the contents in the directory?

[2016-11-21 05:12] elcolie commented on #421
No. I just a single file
[code]

[2016-11-21 05:14] elcolie commented on #421
@harshavardhana Thank you for your light speed response. Any information you need please let me know I will provide everything

[2016-11-21 05:21] harshavardhana commented on #421
Then it should be like this

[code]

Now `/etc/issue` is a file here. - https://docs.minio.io/docs/python-client-api-reference#fput_object

[2016-11-21 06:26] elcolie commented on #421
@harshavardhana Thank you very much

[2016-11-21 06:26] #421 closed

[2016-11-22 09:41] harshavardhana opened #422 "get_policy crashes with minio server"
[code]

[2016-11-25 11:57] abipaul opened #425 "Parse Error"
I installed minio python client on centos. I am using python 2-6.

When i try to import minio modoule i get this error

from minio import Minio
  File "build/bdist.linux-x86_64/egg/minio/__init__.py", line 35, in <module>

  File "build/bdist.linux-x86_64/egg/minio/api.py", line 48, in <module>
  File "build/bdist.linux-x86_64/egg/minio/error.py", line 29, in <module>
ImportError: cannot import na

[2016-11-25 15:04] harshavardhana commented on #425
We don't support Python 2.6 @abipaul . Minimum version is 2.7

[2016-11-27 05:22] donatello commented on #425
Closing this out. Please re-open if you see the issue on Python 2.7+.

[2016-11-27 05:22] #425 closed

[2016-11-29 08:43] donatello opened #428 "Need to remove dependency on package about to be deprecated - `fake-factory`"
Snippet from test output:

[code]

[2016-12-01 18:00] #413 closed

[2016-12-02 08:28] donatello opened #431 "Refactor functional tests to be more silent."
The functional tests requires careful manual inspection of the output to figure out if everything worked fine. This needs to be automated to display only errors.

[2016-12-02 08:33] donatello opened #432 "Refactor list objects API support"
Need to improve XML parsing style (using namespace aware parsing functionality) to simplify code.

[2016-12-02 09:15] harshavardhana opened #433 "Remove object link is broken on README.md"
https://github.com/minio/minio-py/blob/master/examples/remove_object.py, split the example in removing_objects.py into `remove_object.py` and remove_objects.py`

[2016-12-02 09:18] harshavardhana commented on #433
Also API reference link has to be updated in README.md

[2016-12-02 17:43] donatello commented on #433
This is addressed in https://github.com/minio/minio-py/pull/430 now.

[2016-12-02 17:53] #376 closed

[2016-12-02 17:53] #433 closed

[2016-12-02 18:00] donatello commented on #380
ping @koolhead17

[2016-12-05 15:48] koolhead17 commented on #380
Our community member wrote post on Django with Minio Backend, [https://medium.com/@sarit.r/how-to-setup-simple-django-s3-with-your-own-minio-server-28a47b89f56e#.ejpn5pdc6](https://medium.com/@sarit.r/how-to-setup-simple-django-s3-with-your-own-minio-server-28a47b89f56e#.ejpn5pdc6).

![1-teyfxrbyy6ae2tpobabchg](https://cloud.githubusercontent.com/assets/41746/20891315/245f4108-bb30-11e6-9b40-ed377

[2016-12-05 16:23] yml commented on #380
@koolhead17 I don't think so the article you reference add both dependencies :

* django-minio-storage
* django_storages

But then only use `django-minio-storage` and do not show how to configure django_storages the aws S3 backend to use  a minio server.

I find the article rather confusing.

[2016-12-05 16:36] koolhead17 commented on #380
@yml @elcolie has used minio-django-storage in this post.
When you mention performance/reliability can you help us in understanding better in matrix I should check for?

[2016-12-05 17:30] yml commented on #380
In his post he uses django-minio-storages but add both `boto` and `django_storages` none of which are used or useful for django-minio-storages.

According to the author the status of [django-minio-storages](https://github.com/tomhoule/django-minio-storage)

So I would love to be able to point to a production ready alternative like django_storages (it uses boto under the cover).

[2016-12-05 17:34] koolhead17 commented on #380
Sure @yml

[2016-12-05 17:59] GarimaKapoor commented on #422
@krisis what is the status on this issue. Do we have a timeline for the fix?

[2016-12-05 19:54] balamurugana commented on #422
Policy implementation can be improved by referring minio-java and minio-go code.  They have improved version of policy management.

[2016-12-06 04:03] krisis commented on #422
@GarimaKapoor I am currently working on minio server related issues which take precedence over this. I am not working on this issue now.

[2016-12-06 04:27] harshavardhana commented on #422
Unassigned @krisis

[2016-12-08 18:32] rrozestw opened #435 "Python3 - invalid signature, str vs bytes, in sha256, in put_object"
In api.py, in function put_object there is a line:

`data_sha256_hex = encode_to_hex(get_sha256(current_data))`

which causes the upload code using put_object fail when running under python 3.5 with invalid signature error. Sha256 hex string contains "r'" and "'" (sic). It makes signatures computed and sent different.
The line shall be:

`data_sha256_hex = encode_to_hex(get_sha256(current_data)).d

[2016-12-08 19:15] harshavardhana commented on #435
This is fixed in master already. Thanks for reporting will be making a new release. @rrozestw

[2016-12-08 19:17] harshavardhana commented on #435
ping // cc @donatello

[2016-12-08 19:29] rrozestw commented on #435
I tested master today - there is no fix for that.

[2016-12-08 19:31] donatello commented on #435
I ack. the bug. Able to reproduce. Working on a fix.

[2016-12-08 20:20] donatello opened #437 "Need to review/refactor usage of str and bytes throughout lib to ensure python 3 functionality."

[2016-12-09 05:11] #435 closed

[2016-12-09 06:43] rrozestw commented on #435
Thank you for you excellent support!

[2016-12-10 02:59] GarimaKapoor commented on #380
@koolhead17 any updates on this, If needed take help from @donatello to fix this.

[2016-12-10 03:01] koolhead17 commented on #380
@GarimaKapoor I have not been able to find how to run alternative s3 compatible service as django_storage backend with s3 plugin in the official document.

[2016-12-20 17:10] #432 closed

[2016-12-23 11:36] #428 closed

[2016-12-23 18:22] ChillarAnand opened #448 "set_bucket_policy doesn't work"
In the examples, it is mentioned that [this should work](https://github.com/minio/minio-py/blob/eaca7a4279471151126e4b4dd3eaa5880550b7d5/examples/set_bucket_policy.py#L32):

    client.set_bucket_policy('my-bucketname', '', Policy.READ_ONLY)

I tried this on local system but it throws error
[code]

[code]

But the same works with `mc`

    → mc policy download local/mycroft-public
    Access permi

[2016-12-28 01:12] harshavardhana commented on #448
Fixed by #449

[2016-12-28 01:12] #448 closed

[2016-12-28 01:12] harshavardhana commented on #437
Closing this as fixed from #445 and #442

[2016-12-28 01:12] #437 closed

[2017-01-05 10:50] ChillarAnand opened #455 "presigned_get_object should throw error for invalid keys?"
[code]

returns an url without throwing an error?

[2017-01-05 11:07] ChillarAnand commented on #422
This is happening because of new policy. Similar to https://github.com/minio/minio-py/issues/448

[2017-01-05 18:04] harshavardhana commented on #455
presigned URL is a client side operation with no server side request.  Unless the request is sent to server client cannot tell if the keys are invalid .

[2017-01-06 14:04] ChillarAnand commented on #455
@harshavardhana  Thanks for clarification.

[2017-01-06 14:04] #455 closed

[2017-01-23 11:59] akheron opened #458 "Connections to service are not being re-used - starting new HTTP connection for every request."
Hi!

Looking at the code, the minio client uses HTTP pooling. Still, each time I issue a `client.get_object()` or `client.put_object()`, I get the following log message: `Starting new HTTP connection (34): minio`, with the number increasing each time.

I use the same `minio.Minio` object for all requests, so the host and port are the same each time.

[code]

[2017-01-24 06:31] donatello commented on #458
@akheron How do you get lines of log like "Starting new HTTP connection (34): minio"? I don't see any lines like that in the code. If you could provide a minimal example code it would be easier to understand what is going on.

[2017-01-25 11:45] akheron commented on #458
What I'm trying to say that minio-py is starting new connections even though I think it should reuse existing connections.

The logging comes from urllib3: https://github.com/shazow/urllib3/blob/0cb7780a0613baa518be26df4b623ecb0ab3cbe5/urllib3/connectionpool.py#L206

Here's code to reproduce:

[code]

Output to console:
[code]

[2017-01-25 14:06] donatello commented on #458
@akheron Thanks for the example - I am able to reproduce the problem.

I am updating the title to reflect that it is a bug.

The problem is that connections are not being released properly after usage. I am working on a fix.

[2017-01-26 21:27] tmbdev opened #460 "list_objects fails in get_etag_element"
Simple `list_objects` usage fails with the latest Minio server (IP address and keys replaced with dummies).

[code]

[2017-01-26 21:28] harshavardhana commented on #460
Thanks @tmbdev we will take a look.

[2017-01-26 21:33] vadmeste commented on #460
Taking this

[2017-01-26 21:55] vadmeste commented on #460
This is a regression in the Minio server instead, bisecting pointed to this bad commit: https://github.com/minio/minio/commit/1c699d8d3fea0e2893b80e109e51933d42f13caf.. It seems we have a missing unit test for this case too.

[2017-01-26 23:12] vadmeste commented on #460
This is not a Minio bug, it is just ETag which becomes optional.

[2017-01-26 23:21] #460 closed

[2017-01-28 13:14] ryanho opened #462 "list_objects not working, got AttributeError: 'NoneType' object has no attribute 'replace'"
minio ver: 2017-01-25T03:14:52Z
Python 3.5.2
minio-py: 2.0.6

[code]

[2017-01-28 16:28] harshavardhana commented on #462
This is fixed in the latest release 2.0.7 - closing.

[2017-01-28 16:28] #462 closed

[2017-01-29 19:57] tmbdev opened #463 "tlsv1 alert internal error"
Using today's version of minio-py

This is on Ubuntu 16.04.

[code]

[2017-01-29 21:00] vadmeste commented on #463
@tmbdev,

minio-py uses TLS by default to connect to the server, you need to explicity set secure flag to False
`> m = minio.Minio("charon.local:9000", "", "", secure=False)`

[2017-01-29 21:03] tmbdev commented on #463
Thanks. It seems though as if there should be a better error message than
"internal error", since it's obviously not an internal error.

On Sun, Jan 29, 2017, 13:00 Anis Elleuch <notifications@github.com> wrote:

[2017-01-30 03:35] harshavardhana commented on #463
The internal error is returned by Go's tls implementation not sure why such an error in the first place, but we have no control at the point when we see this error.  On the servers logs you would see "TLSv1 not configured" messages.

We will explore if we can enhance and capture this error closing the bug here.

[2017-01-30 03:35] #463 closed

[2017-01-30 06:48] akheron opened #464 "TypeError when listing top-level objects"
I have a bucket "test" with one object: `foo/bar.txt`. Note that there are no objects on the top level of the bucket, only in a subdirectory.

Issuing `list_objects('test', prefix='', recursive=False)` causes the following exception:

[code]

The same happens with `list_objects_v2`:
[code]

[2017-01-30 06:53] donatello commented on #464
Acknowledge the bug. Working on a fix.

[2017-01-30 10:50] #464 closed

[2017-01-31 12:30] Rio opened #468 "Add minimum required version of urllib3"
The `2.0.7` update of minio uses a feature of `urllib3` that got introduced in `1.15.1`. Ubuntu 14.04 for example packages `1.7.1`. Regardless whether or not the user should upgrade their OS it is considered best practice to add a minimum required version of all your dependencies.

[2017-01-31 17:36] #468 closed

[2017-01-31 17:36] #458 closed

[2017-02-06 02:37] uchuugaka opened #470 "certifi version is OLD"
I was shocked this uninstalled my much much newer certifi with an older version.
Collecting certifi<=2015.4.28 (from minio)
  Downloading https://pypi.apple.com/packages/86/35/9758a67004a266047c779ae40a3d937869bfc6fc3422f6c606b8afbc9d23/certifi-2015.04.28-py2.py3-none-any.whl (373kB)
    100% |████████████████████████████████| 378kB 200kB/s
Installing collected packages: certifi, minio
  Found exi

[2017-02-06 02:49] harshavardhana commented on #470
Thanks @uchuugaka we will fix it.

[2017-02-06 02:51] harshavardhana commented on #470
Also on a related NOTE certifi had a long standing bug with distribution folks over cert files - that is why we had to stick with urllib3 + certifi combination of this sort.

Can you validate if they all work properly? @uchuugaka

[2017-02-06 03:04] uchuugaka commented on #470
Ok, what is the recommended/preferred test of working properly?

[2017-02-06 03:13] harshavardhana commented on #470
We need to do test for validity your PR is fine we will do the testing and validation. Thanks

[2017-02-08 22:30] harshavardhana opened #472 "Add minimum requirements heading for python"
like

[code]

[2017-02-10 10:57] halfcrazy opened #473 "[Feature request] Add option for timeout"
In some scenario such as network not connecting, file too large. We'd better have an option for timeout.

[2017-02-10 22:07] halfcrazy commented on #473
Copy from readme.
Timeout options may look  like below.
minioClient.make_bucket("maylogs", location="us-east-1", timeout=10)
minioClient.fput_object('maylogs', 'pumaserver_debug.log', '/tmp/pumaserver_debug.log', timeout=10)

[2017-02-13 16:31] indradhanush commented on #470
I just cloned the repo and ran `python setup.py install` under a venv, and I noticed that the latest version of `certifi` got installed.

Here's the output of `pip freeze | grep certifi`:
`certifi==2017.1.23`

My venv is on `python2.7` and I'm on OSX El Capitan, just in case.

[2017-02-13 16:31] indradhanush commented on #409
@harshavardhana I could take a dig at this.

[2017-02-13 16:40] harshavardhana commented on #409
Thanks @indradhanush

[2017-02-13 16:51] harshavardhana commented on #470
@uchuugaka has already fixed this issue in master.

[2017-02-13 16:51] #470 closed

[2017-02-15 19:43] #422 closed

[2017-02-22 16:22] museghost opened #479 "In python3, an error happened - can only concatenate list (not "str") to list"
Dear team

I am a fan of this project minio.io and its client libraries.
When I try to use "set_bucket_policy" function in python 3.5, the following is occurred.
Also, I use the latest committed version from this github.

my code is...
[code]

[code]

My suspection is the "bucket_resource", since bucket_resource type is list, not str as below.

bucket_resource: ['arn:aws:s3:::testbucket']/<class '

[2017-02-22 17:26] harshavardhana commented on #479
Will take a look @museghost

[2017-02-22 20:55] hashbackup commented on #473
Rather than put a timeout option on every API call, I'd prefer to set the timeout option when the client is created.  Is that something that would be accepted if I take a look at doing that?

I'm trying to replace boto with minio, so having a timeout would be nice.  Setting a default socket timeout is not so great: if communicating with multiple remote services, they'd all get the same timeout.

[2017-02-22 21:08] hashbackup opened #480 "api: return stat results from fget_object"
HashBackup stores the etag from a put operation (usually md5) and verifies it on a get operation.  fget_object already does a stat_object before the get, so it would be easy to return from fget_object.  I can do a PR for that if acceptable.

[2017-02-22 21:14] hashbackup opened #481 "doc: fput_object returns either etag or MultipartUploadResult"
fput_object already returns either etag (smallish files) or MultipartUploadResult, but it isn't documented to return anything.  It would be useful to document the return value so that etag or mur.etag could be stored and verified for a future get operation.  Want a PR for that?

[2017-02-22 21:15] harshavardhana commented on #481
Sure thing please send a PR @hashbackup

[2017-02-22 21:20] harshavardhana commented on #480
still not sure what you wrote above can you explain again @hashbackup ?

[2017-02-22 21:20] harshavardhana commented on #473
Yes that is what i was thinking, APIs shouldn't be disturbed.

[2017-02-22 21:45] hashbackup commented on #480
fget_object doesn't return a Python value - it just creates a file.  But it does a stat_object() to get the object etag, then uses the etag to construct partial filenames so it can resume an aborted download.

My original suggestion was to return the result of stat_object() from fget_object(), so that when you do an fget_object(), you also get the etag of the object "for free", without having to d

[2017-02-22 22:53] hashbackup opened #482 "api: add optional headers dict to put_object, fput_object, and copy_object"
Many tools support S3 storage classes.  HashBackup does.  To do that, a header needs to be included in put and copy requests:
[code]
This can't really be done in the constructor when creating the client, because within a bucket, files can be in different storage classes.  When uploading small files less than 52K, Infrequent Access is actually more expensive than Standard storage because for IA, Am

[2017-02-22 23:59] #479 closed

[2017-02-23 05:47] hashbackup commented on #480
After thinking about it more, I think the stat_object() is necessary.  A hash on the bucket + object name won't work because the object content could be changed after an interrupted fget_object.  In that case, you wouldn't want to resume using the previously saved (partial) content since it is now out of date.

So back to the original request: add 1 line, "return stat" at the end of fget_object

[2017-02-23 10:35] harshavardhana commented on #480
Correct that is the reason to stat inside to make sure we don't end up over appending on a previously different file.

[2017-02-23 14:57] donatello opened #485 "Support copy_object for all sizes"
Requirements are detailed here - https://github.com/minio/minio-go/issues/617

[2017-02-23 19:02] hashbackup commented on #482
I did this and tested it for fput_object.  I suck at git, here's a diff if you want to take a look at what I was thinking:
[code]
I tested this by adding a file to S3 using the header described above to set the storage class to Infrequent Access and verified that the file ended up on S3 correctly.

One gotcha I ran into is that I used an all lower-case header, causing a KeyError in generate_canoni

[2017-02-23 19:41] #480 closed

[2017-02-23 19:41] #481 closed

[2017-02-23 19:47] harshavardhana commented on #482
The reason to avoid these is the fundamental reason for this library to exist, otherwise we would simply use AWS SDKs ourselves.  These headers have no real meaning outside of AWS S3 - Minio sdks are meant to be an abstracted version not requiring the intelligence of knowing what kind of object storage server you are using - all it needs to be have is S3 API compatible so that when you point your

[2017-02-23 20:09] hashbackup commented on #482
Okay.  I want to replace boto because it's so huge (116K lines) and all I really need is the S3 support, not EC2 and all that.  But it needs to work for anything S3 compatible.  I don't use any of these features except storage class, and don't mind using my own hacked version of minio for it.  I much appreciate the work on it, to allow me to move away from boto

[2017-02-23 20:54] harshavardhana commented on #482
Since we implemented PutObjectWithMetadata already in minio-go library - minio-py is going to follow this and implement this feature nonetheless.

https://github.com/minio/minio-py/pull/486 - reopening the request.

[2017-02-24 09:43] #473 closed

[2017-02-24 21:02] #482 closed

[2017-02-24 21:05] #472 closed

[2017-02-24 21:06] harshavardhana commented on #431
This has been fixed, can be enhanced better. But verbosity has been reduced.

[2017-02-24 21:06] #431 closed

[2017-02-24 21:07] harshavardhana commented on #380
Closing this as a cookbook related bug not minio-py.

[2017-02-24 21:07] #380 closed

[2017-02-25 01:38] hashbackup opened #488 "Fails when secure=False: FoldCaseDict instance has no attribute 'copy'"
Here's a traceback:
[code]
I'm using urllib3 that comes bundled with requests version 2.8.1.  I wasn't sure the right way to handle this since minio also wants to import urllib3 directly, so made a symlink: `ln -s requests/packages/urllib3 .`  This is for a static build of HashBackup.

[2017-02-25 01:41] harshavardhana commented on #488
Strange this should be working.. secure or otherwise shouldn't have any problems.

[2017-02-25 01:53] hashbackup commented on #488
I downloaded the latest release of urllib3.  Using that, here is the traceback:
[code]
I thought maybe they removed this copy(), but guess they didn't.  The new case-independent dict apparently doesn't support the copy() method like a regular dict:
[code]
There was a discussion on StackOverflow about case-insensitive dicts: http://stackoverflow.com/questions/2082152/case-insensitive-dictionary

[2017-02-25 02:08] harshavardhana commented on #488
Ah found the problem, our mistake.

[code]

[2017-02-25 02:10] harshavardhana commented on #488
Can you try this? @hashbackup - https://github.com/minio/minio-py/pull/489

[2017-02-25 02:37] hashbackup commented on #488
Hmm... now get this:
[code]
I restored the previous release of minio and it worked fine.  Not sure what's wrong.  I did a trace, but it only shows a 403 error, which isn't too helpful.

[2017-02-25 02:45] hashbackup commented on #488
secure=True still works fine.

I took a look at urllib3, at that copy() that was failing before.  Printed headers before the copy, and headers after the copy.  On the requests that worked, they were the equivalent (order changed, no big deal) and they had that "title case".

On the request that failed, the headers before the copy had keys that were all lowercase, and copying that returned a null d

[2017-02-25 02:48] hashbackup commented on #488
Here ya go:
[code]
Not such a good copy...

[2017-02-25 02:51] hashbackup commented on #488
One problem I think is that when a FoldCaseDict is copied, it's return a regular dict.
[code]

[2017-02-25 02:52] harshavardhana commented on #488
No i need to implement a function specific for this.. Let me do that, wanted to see if it can be avoided looks like it is not possible.

[2017-02-25 02:54] harshavardhana commented on #488
[code]

[2017-02-25 02:58] hashbackup commented on #488
If you look on that SO thread, there is a link to a case-insensitive dict that Requests uses.  It implements copy().  Not sure if it would have other issues of course.

It brings up an interesting point: if minio is using urllib3 from requests, and could use this dict, would it make sense to make requests a dependency?   It's 17K lines of code, which is a lot, but pytz is 80K, which is a little nu

[2017-02-25 02:59] harshavardhana commented on #488
requests had issues before, but happy to migrate to the newer at some point in time. urllib3 provided enough control so we stick with it.

[2017-02-25 03:00] harshavardhana commented on #488
Updated the PR can you take a look @hashbackup ?

[2017-02-25 03:15] #488 closed

[2017-02-25 14:18] hashbackup opened #490 "V2 signature support"
DreamHost / DreamObjects supports V4 signatures, but Google Storage in S3-compatible mode doesn't.  The minio-go library supports V4 and V2 signatures to be compatible with Google Cloud Storage, but it seems the Python lib doesn't:
[code]
It would be great to  have Google Storage compatibility in the Python version too.

I looked at the Go version (don't know Go), and it seems to be checking the h

[2017-02-25 23:17] harshavardhana commented on #490
In minio-go we had a special requirement. But Google cloud storage S3 compatiblity is broken there are many features which do not work as expected. Also support for signature v2 was done for legacy reasons such that `mc` works fine so that users can copy the data out from Google Cloud Storage to a proper S3 compatible implementation.

It is a problem of Google Cloud Storage to have broken S3 front

[2017-02-25 23:17] #490 closed

[2017-03-02 16:52] pablopla opened #491 "fget_object prints <minio.definitions.Object object at ...>"
To reproduce on Ubuntu 16.04:
sudo pip3 install minio

pip3 show minio
[code]

python3:
[code]

[2017-03-03 08:28] harshavardhana commented on #491
Just ran the code i don't see any message

[code]

[2017-03-03 08:40] pablopla commented on #491
I see the message when I copy&paste the code to the python3 terminal.

[2017-03-03 08:43] harshavardhana commented on #491
Yes its expected it returns back the 'objectInfo' of what it copied.

[2017-03-03 08:45] harshavardhana commented on #491
Basically this

[code]

[2017-03-03 08:50] pablopla commented on #491
Thanks

[2017-03-03 08:50] #491 closed

[2017-03-07 08:28] harshavardhana opened #492 "errors: Add exceptions for commonly occurring response errors"
For example right now we have ResponseError i.e which leads to code like

[code]

This coding can lead to bugs if not written properly.

Add standard errors for known error responses from S3 for example

- NoSuchBucket
- NoSuchKey
...

http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html

[2017-03-07 08:28] harshavardhana commented on #492
Thanks @dcharbonnier for pointing this out.

[2017-03-16 21:39] deekoder opened #493 "ListenBucketNotification should also support Get and Head"
Depends on minio/minio#3916

[2017-03-18 22:44] firestarter87 opened #495 "ImportError: cannot import name 'Minio'"
Just trying to run standard script from the docs http://docs.minio.io/docs/python-client-api-reference

Tried with Python 2.7.13 & 3.6.0 + installed minio via Pip

[2017-03-18 23:08] harshavardhana commented on #495
are you sure your PYTHONPATH is correct? can you paste the sample program you are using?

[2017-03-18 23:15] harshavardhana commented on #495
[code]

[code]

[2017-03-19 01:05] firestarter87 commented on #495
Sorry to waste your time, I named my file minio.py wich caused the error. I'm only a hobbyist...

[2017-03-19 01:35] harshavardhana commented on #495
Feel free to close this bug.. Thanks

[2017-03-19 02:14] #495 closed

[2017-03-23 03:18] MrRedAmber commented on #409
@indradhanush checking in, looking to pickup this issue.

[2017-03-23 05:01] indradhanush commented on #409
@MrRedAmber I haven't been able to get to this. :(
You can go ahead if you want. 👍

[2017-04-08 00:57] #493 closed

[2017-04-08 20:20] harshavardhana commented on #492
Working with @MrRedAmber https://github.com/minio/minio-py/pull/498 on addressing this issue.  ETA should be by Tuesday.

[2017-04-09 04:30] tmbdev opened #502 "read ~/.mc/config.json consistently in all libraries"
I'm building tools and libraries that allow people to use Minio/S3 storage with deep learning frameworks. This means that users are going to switch freely between writing Python code, Go code, and command line tools. This involves a lot of end user programming and scripting.

It would be nice if these different tools could share a common authentication infrastructure. In particular, it would be co

[2017-04-09 06:37] harshavardhana commented on #492
Fixed by a07ed8ac1b6e020d2c9f31fa46c7e18be76970a5

[2017-04-09 06:37] #492 closed

[2017-04-09 06:38] harshavardhana commented on #502
Setting this to priority high before we triage this properly, need to discuss this further internally.

[2017-04-14 18:04] amitojSNPS opened #503 "Parallel upload through fput_object API"
Uploading a 7.5 gig file through mc client takes 30 seconds, while minio-py API fput_object takes about 3 minutes for the same task.
There should be an option for parallel upload in the API as well which can match the mc client performance.

[2017-04-14 19:53] deekoder commented on #502
@harshavardhana will update details that unblock this bug to move fwd.

[2017-04-14 19:56] deekoder commented on #503
@amitojSNPS  we will discuss this and let you know further details.

[2017-04-14 20:21] harshavardhana commented on #502
This needs to be fixed in similar manner as the credentials PR being implemented on minio-go https://github.com/minio/minio-go/pull/646

Required credential providers to support for

- AWS Envs
- AWS Credentials file
- AWS IAM Roles
- Minio Envs
- Minio Client config file

[2017-04-16 20:51] harshavardhana commented on #409
// cc @MrRedAmber is working on this and has a patch ready for us as well.

[2017-04-19 22:47] vadmeste commented on #502
ETA: 20 Apr

[2017-04-26 19:56] NikolasDaroit opened #509 "module' object has no attribute 'Retry on urllib3 at Centos with Python 2.7.10"
I discovered Minio yesterday and it's amazing. Tried on dev, using a Mac, with Python 2.7.10, and Minio 2.2.1.

On Mac, following the quick-start example:

[code]

At AWS Centos:

[code]

I couldn't install it by pip at Centos.

But this way it works

[code]

[2017-04-28 03:10] MrRedAmber commented on #509
I haven't found the full solution but I believe this problem is encountered because of a problem with the way `urllib3` is getting imported into `minio-py`

[2017-04-28 04:36] harshavardhana commented on #509
How so. ?

[2017-05-03 00:08] deekoder opened #511 "For all signed payloads with sha256 avoid calculating Content-Md5"
Don't compute md5sum signatures when uploading for the first time, only compute when resuming.

[2017-05-03 00:55] deekoder opened #512 "Add streaming signature support for putobject API."
- no md5sum. See #511
- only sha checksum for http protocol.
- all put objects have to use streaming signature v4 by default
- Use 8 threads by default optionally configurable.

[2017-05-03 01:41] deekoder opened #513 "Make a release"
vi file-uploader.py
[code]

[2017-05-03 02:51] harshavardhana commented on #513
Made a release already

[code]

[2017-05-03 04:54] harshavardhana commented on #511
Currently PutObject() calculates md5sum for each part while uploading to remote server we need to change this behavior into two parts

- For a fresh upload we do not calculate md5sum for each parts, instead we rely on the fact that server anyways calculates and we keep uploading.
- For a resuming upload i.e resuming a previously interrupted upload should calculate md5sum of each parts and skip nec

[2017-05-03 06:47] harshavardhana commented on #511
To dumb it down any request which has a payload and we calculated payload checksum i.e sha256 we should avoid calculating `Content-Md5`.

[2017-05-03 14:13] fazpu opened #514 "stat_object method returns incorrect response when object is not found"
When stat_object method is used on existing bucket with non-existent file, the following message is returned: `minio.error.NoSuchBucket: NoSuchBucket: message: The specified bucket does not exist.
`
The `NoSuchKey` error is expected instead.

[2017-05-03 14:22] fazpu commented on #514
#515

[2017-05-03 19:01] deekoder commented on #513
Just tested this morning. So reopening this one.

[2017-05-03 19:02] deekoder commented on #514
Thanks @fazpu

[2017-05-03 22:58] #514 closed

[2017-05-04 06:56] harshavardhana commented on #513
We need to test this.. did a fresh installation on Linux.

[code]

[code]

Lets validate this tomorrow. I am pretty sure its a setup issue now.

[2017-05-04 20:15] fazpu opened #516 "Make possible to return partial URL"
Hi,

Problem:
* minio is deployed in docker swarm cluster under service name **minio_service**
* When connecting to minio service via the minio.Minio client, I would input the endpoint parameter as **minio_service**
* Now, when I call e.g. the presigned_get_object method, the reutrned url is e.g. **http://minio_service/example_bucket/example_file...**

Of course, such URL does not exist and the re

[2017-05-04 21:06] harshavardhana commented on #516
Presigned only works if you have the full URL, partial URLs will not work and will be consistent with S3 API.

Why do you need this in core Minio API? - if you need to do such a translation you need to keep a separate indirection outside of Minio API.  I cannot see why this would be needed in core functionality.

[2017-05-05 16:46] fazpu commented on #516
Hi, the problem can be overcomed outside of this repository.

But here is my philosophical take on it:

* When you use the AWS S3 service, you can send the data and always know the URL format that will return.
* However, with the minio, the situation is different. It is meant to be deployed somewhere on a server. The services that might communicate with the minio might not use URL at all, they can

[2017-05-09 02:23] deekoder commented on #513
This was python installation/path issue on mac.

[2017-05-09 02:23] #513 closed

[2017-05-09 03:00] messense opened #519 "AttributeError: 'NoneType' object has no attribute 'read'"
[code]

When error occurs, access `self._response.data` in `ResponseError._handle_error_response` may result in another exception.

[2017-05-09 03:05] harshavardhana commented on #519
Is this because you have a timeout? looks like the read() method is missing which is strange.

[2017-05-09 03:30] messense commented on #519
The http request which calls minio has a timeout set to 60s.

[2017-05-09 03:58] harshavardhana commented on #519
I see will take a look.. @messense

[2017-05-12 17:39] harshavardhana commented on #516
Minio is no different than S3 . Say if you upload a file on https://play.minio.io:9000 where a bucket name is `testbucket` and object name is `object.txt` then your URL to access the file directly is

https://play.minio.io:9000/testbucket/object.txt

So URL construction or kowing the deployment is all deployment specific which the application is already aware. minio-py cannot do anything special i

[2017-05-13 07:18] harshavardhana opened #520 "Support client side encryption for GetObject() and PutObject()"
Support GetObject/PutObject AWS S3 based client side encryption - for reference check https://github.com/minio/minio-go#api-reference-encrypted-object-operations

[2017-05-13 07:19] harshavardhana commented on #519
Not able to reproduce this @messense - do you have any more information?

[2017-05-13 07:22] messense commented on #519
https://sentry.bosondata.net/share/issue/33302e323532363432/

[2017-05-13 07:25] messense commented on #519
@harshavardhana I wonder is `minio-py` thread safe?

[2017-05-13 07:28] harshavardhana commented on #519
This has got nothing to do with thread safety. Looks like it is a known problem https://github.com/kennethreitz/requests/issues/3174 in urllib3 how often does this occur?

[2017-05-13 07:31] messense commented on #519
![image](https://cloud.githubusercontent.com/assets/1556054/26023557/2a4359fe-37f1-11e7-9026-044151a04033.png)

[2017-05-13 07:33] harshavardhana commented on #519
what is your urllib3 version?

[2017-05-13 07:35] messense commented on #519
urllib3==1.21.1

[2017-05-13 08:08] DrJackilD opened #521 "Support additional metadata for get_object, fget_object and get_partial_object"
Recently I tried to work with SSE-C encrypted objects in S3, using minio, and stuck because `put_object` support metadata, where I can provide my custom headers for encryption, but `get_object` and other `get` methods don't.

I don't want to switch on boto3, because it is so big for my purposes (I need only S3 support), so I've made a pull-request to add this headers (as example I take this PR: ht

[2017-05-14 16:37] DrJackilD commented on #521
Already merged to master

[2017-05-14 16:37] #521 closed

[2017-05-17 08:39] rbrik opened #523 "listen_bucket_notification() failed with IOError"
I tried to listen for changes on my bucket. The call `client.listen_bucket_notification('mybucket')` results in the following exception:

  File "C:\Python27\lib\site-packages\minio\api.py", line 516, in listen_bucket_notification
    query=query, preload_content=False)
  File "C:\Python27\lib\site-packages\minio\api.py", line 1861, in _url_open
    query=query)
  File "C:\Python27\lib\site-packag

[2017-05-17 08:42] vadmeste commented on #523
@rbrik, it looks more like a mistake when passing arguments somewhere, could you paste a sample code which is causing this ?

[2017-05-17 09:14] rbrik commented on #523
Just passed the bucket name `client.listen_bucket_notification('mybucket')` without prefix, suffix or events.

client = Minio('192.168.17.128:9000',
               access_key='9VUIHT3R5GY9U41R7CMH',
               secret_key='LNsXs8A+izcz4LTt6Oh3cpB6UxADylCZ1Gj31H0g',
               secure=False)
client.make_bucket('mybucket', location='us-east-1')
events = client.listen_bucket_notification('mybuc

[2017-05-17 10:10] vadmeste commented on #523
I can confirm that I have the same problem but only under Windows. I'll investigate further.

[2017-05-17 11:46] vadmeste commented on #523
Using urllib.quote instead of url.pathname2url was enough to fix the problem. Also tests are passing.

[2017-05-17 15:58] rbrik commented on #523
Also tried using `urllib.quote()` instead. Seems to work for me too. Do you add that to the next release?

[2017-05-17 16:33] harshavardhana commented on #523
We will add it to the next release.. @vadmeste can you send a fix?

[2017-05-17 17:02] deekoder commented on #503
We have decided to implement this. It's already done in minio-go.

[2017-05-17 19:06] CGenie opened #524 "Download as zip"
Hello,

The UI offers possibility of selecting multiple objects and downloading them as zip file.
It would be very nice to have this functionality in the Python client as well.

[2017-05-17 19:17] harshavardhana commented on #524
minio-py is a client SDK implementing S3 APIs, this is out of scope for minio-py and will not be implemented.

Minio browser on the other hand provides richer functionality for this and has a server side component doing this. So it cannot be implemented on the client side.

[2017-05-17 22:21] #523 closed

[2017-05-18 23:33] hackintoshrao commented on #509
Tried with Centos container, works fine for me,

Here are the steps,

- `docker run -it centos`
- `# curl "https://bootstrap.pypa.io/get-pip.py" -o "get-pip.py"`
- `# python get-pip.py && pip install Minio`
- `# python`
- `>>> from minio import Minio`
- `>>>minioClient = Minio('play.minio.io:9000',access_key='Q3AM3UQ867SPQQA43P2F',secret_key='zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG',secure=True)`

[2017-05-18 23:39] hackintoshrao commented on #519
Is this issue witnessed while using get object ?

[2017-05-19 03:46] messense commented on #519
@hackintoshrao Yes.

[2017-05-20 12:14] hackintoshrao commented on #519
@messense : Not able to reproduce this. Have you got any snippet of code to reproduce this ?

[2017-05-20 12:15] messense commented on #519
The code is here: https://github.com/bosondata/chrome-prerender/blob/master/prerender/cache/s3.py#L47

[2017-05-22 06:35] hackintoshrao commented on #519
@messense : Can you specify set of steps to reproduce this ? I assume this issue is occurring while using `prerender`. It'll be great if you can specify clear sequence of steps to reproduce this.

[2017-05-22 06:48] messense commented on #519
I haven't got the specify set of steps to reproduce this, only see these errors in Sentry sometimes.

It's not a very big issue for us since we can retry when exception occurred. (In last 14 days, it occurred only ~650 times.)

[2017-05-22 06:49] messense commented on #519
BTW, I am using minio-py to access AWS S3 instead of minio.

[2017-05-22 07:15] hackintoshrao commented on #519
So its an occasional issue. I'll try to use the functions used [here](https://github.com/bosondata/chrome-prerender/blob/master/prerender/cache/s3.py) to create an independent snippet upload to Amazon S3 and see if I could reproduce it.

[2017-05-22 10:54] hackintoshrao commented on #516
Can this be closed ?

[2017-05-23 13:22] rbrik opened #526 "Watch for events on local directory?"
Can i use the python API to watch for events on local directory like the minio client binary?

[code]

[2017-05-23 14:22] harshavardhana commented on #526
minio-py is meant for object storage only. You should write another function using fsnotify pip package to achieve it.

It is out of scope.

[2017-05-29 00:53] abipaul opened #527 "mc presigned urls don't work if port is specified"
"/home/minio/mc share download --expire=30m mymini/bucket/filename"

generates wrong presigned url if you use port number while configuring mymini

minio config should work with(out) port number specified in endpoint

[2017-05-29 04:41] harshavardhana commented on #527
Thanks for the bug report @abipaul

[2017-05-29 09:57] vadmeste commented on #527
Taking this.

[2017-05-29 10:43] vadmeste commented on #527
The problem is that, curl and browser strips :80 or :443 when sending Host header. So I think the best solution is to make clients proactively strip these ports before generating presigned urls.

[2017-05-29 16:37] #527 closed

[2017-05-29 17:10] harshavardhana commented on #526
Closing this as out of scope.

[2017-05-29 17:10] #526 closed

[2017-06-06 01:21] Yurmusp opened #529 "Unicode object name on python 2.7 causes exception"
Trying to make django-minio-storage work with Python 2.7
In current active fork I have pull request here
https://github.com/py-pa/django-minio-storage/pull/15

In standard test with Unicode object name I get exception.
After some digging (and temporary code changes) for finding
what is original exception I found this call stack:
[code]

If you can see. We use urllib on python 2.7 and it is no unic

[2017-06-06 01:35] harshavardhana commented on #529
As a work-around you should just use python3 which has native unicode support. Getting it to work on python2.7 can be a challenge with lots of hacks @Yurmusp ?

[2017-06-06 01:36] Yurmusp commented on #529
I can not.

[2017-06-06 01:49] harshavardhana commented on #529
why not?

[2017-06-06 05:51] Yurmusp commented on #529
You know what. I digged around.
I think I do not really need full unicode support.
What I need  is proper UTF-8 support in base string of python 2.7 if passed to your API.
So that
if your API obtains only UTF-8 base strings, it then properly works and
returns only UTF-8 base strings.
Currently I have issue with this.

In partiular,  your API returns Unicode string sometimes, not base string in utf

[2017-06-06 06:16] harshavardhana commented on #529
Well we have a fix for it in the master and also the PR we just referenced #530

[2017-06-06 06:55] Yurmusp commented on #529
You mean for unicode? That would be cool.

[2017-06-06 06:57] Yurmusp commented on #529
and to what I read and see it is the most proper solution. So that your interface receives and returns unicode strings and work with them right.

[2017-06-06 07:06] harshavardhana commented on #529
Yes @Yurmusp we already have initial work done by @vadmeste in a separate PR. The new PR simplifies the usage.  We will make a release soon which should help you address the unicode problems for python 2.7 as well.

[2017-06-06 17:45] Yurmusp commented on #529
Let me know if you have PR that I can try before release. So that I could move on my end with something working while you complete release. Let me know if this is possible. Thanks.

[2017-06-06 17:58] harshavardhana commented on #529
Yes @Yurmusp you would have to use latest master with this PR #530

[2017-06-06 19:55] Yurmusp commented on #529
I left some review feedback on your PR. Please, take a look.

[2017-06-14 16:04] vadmeste opened #532 "tests: Check for both python 2 and 3"
Since supporting both of python 2 and 3 is hard enough, we should enhance tests to check the code against both python versions.

[2017-06-14 16:09] vadmeste opened #533 "Functional tests fail with Python 3"
[code]

Tested against master (8df5ba29017bca32c9d75a5cea20b0f54de11ac1)

[2017-06-15 23:34] #533 closed

[2017-06-17 06:23] krisis commented on #509
@NikolasDaroit initializing `minioClient` works as expected for me [too](https://github.com/minio/minio-py/issues/509#issuecomment-302569249), when tried on a centos Docker instance, with minio-2.2.1. By the way, minio-2.2.2 is available. Could you check if the issue is still present for you?

[2017-06-19 21:45] #529 closed

[2017-06-20 01:52] poornas commented on #519
@messense, do you still see this issue? We haven't been able to reproduce this error at our end. Are you on the latest version of minio-py?

[2017-06-20 02:00] messense commented on #519
I'll upgrade to latest version and see if it's resolved.

[2017-06-20 09:54] eldhosejohn opened #537 "Multipart upload throwing error in 2.2.3 release"
In the latest release 2.2.3, the s3 multipart upload is throwing error. However this is working perfectly in 2.2.2 release

## Expected Behavior

Direct upload to S3.

## Current Behavior

AttributeError: 'PartMetadata' object has no attribute 'md5hasher'

see the logs

    s3Client.put_object(s3_bucket, s3_key, file_data, file_stat.st_size, content_type=content_type)
  File "/home/ec2-user/.local

[2017-06-20 09:55] krisis commented on #537
@eldhosejohn thank you for opening this issue. I am able to recreate the issue locally.

[2017-06-20 14:05] #537 closed

[2017-06-20 14:10] eldhosejohn commented on #537
Thanks @krisis. Will this be released soon ?

[2017-06-20 14:12] harshavardhana commented on #537
Yes we will make a new release ASAP @eldhosejohn

[2017-06-20 14:44] vadmeste opened #539 "Add one test which covers _stream_put_object()"
We made a mistake in one change in _stream_put_object() and functional tests wasn't able to detect it. So we need to add a test which covers  _stream_put_object().

[2017-06-20 15:01] vadmeste commented on #539
Taking this.

[2017-06-21 21:45] vadmeste opened #541 "Disable resuming uploads"
Do not fetch old uploads id and resume them. Instead create a new upload id each time we upload a new multipart.

[2017-06-21 21:45] vadmeste commented on #541
Taking this.

[2017-06-22 14:57] #539 closed

[2017-06-22 17:35] NikolasDaroit commented on #509
@krisis tried it again but the issue still happen.

[2017-06-26 00:59] #541 closed

[2017-06-27 14:06] #532 closed

[2017-06-28 07:30] Yurmusp opened #543 "AttributeError: 'PartMetadata' object has no attribute 'md5hasher'"
In latest 2.2.3 I get this error:

File "/home/vagrant/.virtualenvs/web/local/lib/python2.7/site-packages/django/db/models/fields/files.py", line 93, in save
    self.name = self.storage.save(name, content, max_length=self.field.max_length)
  File "/home/vagrant/.virtualenvs/web/local/lib/python2.7/site-packages/django/core/files/storage.py", line 63, in save
    name = self._save(name, content)

[2017-06-28 07:31] harshavardhana commented on #543
Fixed in master branch already @Yurmusp - we need to make a new release..

[2017-06-28 07:32] Yurmusp commented on #543
I see. Thanks.

[2017-06-28 07:32] Yurmusp commented on #543
When it will come? in few weeks?
This bug looks like a blocker.

[2017-06-28 07:33] harshavardhana commented on #543
You can try `pip install git+git://github.com/minio/minio.git@master`

[2017-06-28 07:34] harshavardhana commented on #543
Should be this week. Waiting on one more PR #542

[2017-06-28 07:35] Yurmusp commented on #543
Sounds good. Thank you.

[2017-06-28 07:37] Yurmusp commented on #543
That command fails for me as:
Collecting git+git://github.com/minio/minio.git@master
  Cloning git://github.com/minio/minio.git (to master) to /tmp/pip-j2wl4O-build
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
    IOError: [Errno 2] No such file or directory: '/tmp/pip-j2wl4O-build/setup.py'

    ------

[2017-06-28 07:37] Yurmusp commented on #543
(web)vagrant@localdev:~/.prism/log$ ls /tmp/pip-j2wl4O-build
appveyor.yml  cmd              Dockerfile.aarch64  Dockerfile.release.aarch64  hound.yml  MAINTAINERS.md  minio.spec                     pip-egg-info  README_ZH.md
browser       CONTRIBUTING.md  Dockerfile.armhf    Dockerfile.release.armhf    LICENSE    main_test.go    NOTICE                         pkg           vendor
buildscripts  Doc

[2017-06-28 07:38] Yurmusp commented on #543
My pip is 9.0.1 . and I'm on py27

[2017-06-28 07:39] harshavardhana commented on #543
Sorry there was a typo ``pip install git+git://github.com/minio/minio-py.git@master`` it should be `minio-py`.

[2017-06-28 07:39] Yurmusp commented on #543
This works. Thank you.

[2017-06-28 07:41] Yurmusp commented on #543
Do you know if there are way to add similar reference to setup.py somehow instead of version number?

[2017-06-28 08:27] harshavardhana commented on #543
You have to use something called as `dependency_links` http://python-packaging.readthedocs.io/en/latest/dependencies.html#packages-not-on-pypi

[2017-06-28 20:21] poornas commented on #519
@messense , closing this issue for now. Please reopen if you still see this with latest version of minio-py.

[2017-06-28 20:21] #519 closed

[2017-06-30 23:14] DrJackilD opened #545 "Add additional headers in all requests during multipart upload"
About a month ago I've made a pull requests to add support for additional headers in get requests (https://github.com/minio/minio-py/pull/522). I'm using this headers in both, put and get methods, to enable SSE-C in S3 storage. Additional metadata was implemented before for `put_object` and `fput_object`.

But, as I discovered later, this is not working with objects, large then `MIN_OBJECT_SIZE` (

[2017-07-01 08:22] #545 closed

[2017-07-01 08:23] DrJackilD commented on #545
Already merged, thank you :)

[2017-07-03 02:20] deekoder commented on #409
Waiting on @MrRedAmber  to respond on the open PR.

[2017-07-04 16:27] NitishT opened #548 "Functional tests should use streaming"
Minio-py functional tests will be used in Mint framework to test Minio server. This calls for uniform usage of Files across Minio-SDK functional tests.

It was concluded that (https://github.com/minio/mint/pull/67/files)

- Tests should generate their own data by using input/output streams. These streams should be used for testing upload cases.

This makes tests flexible, removes too much dependen

[2017-07-04 20:18] NitishT commented on #548
will be fixed by https://github.com/minio/minio-py/pull/547

[2017-07-05 14:04] wandenberg commented on #509
Try to execute `sudo pip3 install --upgrade urllib3`
I was having the same issue in a Ubuntu 14.04

[2017-07-06 00:06] harshavardhana commented on #548
Fixed by #547

[2017-07-06 00:06] #548 closed

[2017-07-06 00:16] harshavardhana opened #549 "api: Implement compose_objects just like minio-go"
High-level copy_object requirements:

- [ ] Support copying objects of all sizes.
- [ ] Support source objects with an arbitrary range header (i.e. any valid start and end offset of a source object) via multipart copy object.
- [ ] Support all copy conditions (this is already supported).

Currently, the library supports only copying objects <= 5GiB in size. Larger objects can also be copied via a

[2017-07-06 00:40] harshavardhana commented on #543
Fixed by release 2.2.4

[2017-07-06 00:40] #543 closed

[2017-07-06 00:40] harshavardhana commented on #516
This can be closed @deekoder

[2017-07-06 00:44] harshavardhana commented on #549
Closing this as duplicate of #485

[2017-07-06 00:44] #549 closed

[2017-07-06 22:55] NitishT opened #551 "Update test cases for minio-py sdk"
Mint pulls functional test cases from minio-py sdk.

Minio-Py SDK tests should be updated to address the following

- Named and commented to indicate the use case being tested.
- Access all the public Minio server APIs via minio-py.
- Include one positive case and couple of boundary cases for each API.
- Use streaming files as preferred way to generate files for testing. (This can be a ref: https:

[2017-07-08 09:27] moenka opened #552 "Provide exception on wrong metadata naming"
I was fiddling with the python api for minio/s3 and wanted to add custom metadata to my files.
I came to the point where my files got uploaded correctly and my metadata seemed to be added as there was no error from python. When I wanted to see the stats of the uploaded files I always got empty metadata. This confused me in a really intriguing way and I spend ~3 days finding the cause of this probl

[2017-07-08 19:36] jtoy opened #553 "list bucket doesnt work on python 3.6"
python -V
Python 3.6.0 :: Anaconda 4.3.1 (64-bit)
running some of the examples dont work:
import os
from minio import Minio
from minio.error import ResponseError
s3client = Minio('s3.amazonaws.com', access_key=os.environ.get('AWS_ACCESS_KEY_ID'),secret_key=os.environ.get('AWS_SECRET_ACCESS_KEY'))
buckets = s3client.list_buckets()

for bucket in buckets:
  print(bucket.name, bucket.creation_date)

[2017-07-08 19:41] vadmeste commented on #553
@jtoy, I have the same error message if AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY are not set in the environment, otherwise it works fine.

Can you check again if access and secret keys are really set ?

[2017-07-08 20:05] harshavardhana commented on #552
Thanks for opening the bug . Makes complete sense we are going to do a signature change in the API which would make it cleaner.

[2017-07-08 20:09] jtoy commented on #553
yeah it was the keys not being set.  I thought that  the connection call will check the keys. thanks!

[2017-07-08 20:10] harshavardhana commented on #553
We will need to throw an error for ListBuckets by caching the parsing failure here @vadmeste

[2017-07-09 00:06] harshavardhana commented on #553
Reopening so that we fix this with a proper error exception.

[2017-07-09 15:43] jtoy commented on #553
Agreed , there should be an error on bad credentials.

[2017-07-11 08:52] krisis commented on #509
@NikolasDaroit did you try @wandenberg's suggestion?

[2017-07-12 05:26] csheaff opened #554 "Assistance using put_object with NumPy arrays"
Hello, I'm trying to figure out the best way to store numpy arrays into a minio server by converting to a form suitable for the put_object command. What sort of conversion is best before inserting as an argument into the method? My best guess is to pickle the object, but when I try to use put_object with this, i get a an error related to the object having no read() method. Apparently it isn't of s

[2017-07-12 17:38] #511 closed

[2017-07-12 18:19] NikolasDaroit commented on #509
Despite the fact that I'm using python 2.7 with pip 2.7, upgrading urllib3 solved the problem. Thanks @wandenberg @krisis  and all the others for the time and effort.

[2017-07-12 18:19] #509 closed

[2017-07-12 18:32] poornas commented on #554
You could try this
[code]

[2017-07-12 18:34] csheaff commented on #554
Thanks, but I was hoping to get around having to use fput. My arrays are very large and take a long time to write to disk.

[2017-07-12 19:29] poornas commented on #554
@csheaff , how big are your arrays?

you could instead convert to bytes for using put_object
[code]

[2017-07-13 07:32] csheaff commented on #554
from what module can I find recv?

[2017-07-13 08:07] harshavardhana commented on #554
recv is not a module @csheaff it is just a response object returned by `client.get_object()`  this response object is io.Base compatible implements `read()` method.

All you have to do is put_object with bytes of numpy array wrapped around in io.BytesIO() and you are good to upload.

[2017-07-13 22:22] csheaff commented on #554
woops, sorry i was blind there. seems to work well! thanks much. Can you recommend a way to interface to a minio server from MATLAB? I would basically like to do the same thing with MATLAB arrays. Would it be best to call a python script and run that API?

[2017-07-13 22:24] harshavardhana commented on #554
Yes matlab arrays will work the same was numpy arrays. @csheaff

[2017-07-14 18:35] #554 closed

[2017-07-15 18:58] #551 closed

[2017-07-20 22:14] cheveyo20 opened #556 "Bug - fput_object response http 409 bucketnotempty"
i tried to upload 300 files (each around 2mb) to minio server via fput object. It Works for all 299 except for one. Even after retrying it always fails for the same file. For some reason the respone code 409 says it can Not delete the bucket because its not empty. Why should Minio python try to delete the bucket the moment i call fput?! The file i cant upload has 2mb and is a png. Uploading via we

[2017-07-21 09:51] Nyoroon opened #557 "stat_object incorrectly parses last_modified"
[code]
`mktime` parses `strptime` tuple as if it's in local timezone, not GMT.
Maybe just use `email.utils.parsedate` or replace mktime with `calendar.timegm()`?

[2017-07-21 21:57] poornas opened #558 "get_policy call fails with TypeError"
When functional tests are run against azure gateway, get_policy call fails with a TypeError. The client sdk does not guard against server running None for statements while appending policy statements in policy.py

Traceback (most recent call last):
File "/usr/bin/minio-py-functional", line 333, in <module>
main()
File "/usr/bin/minio-py-functional", line 277, in main
policy_name = client.get_bucke

[2017-07-22 00:04] donatello commented on #558
The Azure gateway response is not correct here - if there are no policies set, the get policy call should return an error - both s3 and minio server return a 404 error:

[code]

and in s3:

[code]

So this is a bug in minio gateway, and not in the SDK.

[2017-07-22 00:18] poornas commented on #558
@krishnasrinivas, can you comment on this?

[2017-07-23 06:34] harshavardhana commented on #558
Agree with @donatello assessment here if there are no policies server should return 404 in compliance with S3 behavior. Looks this bug exists with GCS gateway as well..

[2017-07-24 13:34] guettli opened #560 "Why not use boto?"
There is the boto library for accessing s3.

Could you please tell us why you think your solution is better?

It would be great, if you could update the README. I guess other people have the same question on their mind.

Thank you for sharing your solution!

[2017-07-24 16:58] deekoder commented on #558
server side  should return appropriate error message.

[2017-07-24 18:09] vadmeste commented on #556
hey @cheveyo20, sorry for the delay.

Are you still getting the error? if yes, could you give us a sample code which reproduces this issue?

Because I tried on my side and I was not able to reproduce it.

Thanks.

[2017-07-24 18:40] vadmeste commented on #557
stat_object() documentation (https://docs.minio.io/docs/python-client-api-reference#stat_object) conflicts with the real behavior. stat_object() is actually returning float to represent last modified field and not time.time as mentioned in the documentation.

One simple fix is to update the documentation to say that we are returning the last modified field in seconds in local time and not UTC.

Ho

[2017-07-24 19:58] harshavardhana commented on #557
We should convert to datetime format. It might break the API though.  Is it true with PutObject() and GetObject() responses as well?

[2017-07-24 20:04] vadmeste commented on #557
No, put_object returns etag, and get_object returns urllib3.response.HTTPResponse

[2017-07-24 20:07] harshavardhana commented on #557
I think fget_object returns stat. which is perhaps the same as stat_object, we might have to make a breaking change here and return time itself not seconds.

[2017-07-26 20:22] DrJackilD commented on #560
@guettli I can share my experience, why we choose to use `minio` in our project instead of `boto3`

1. Size. As far as we use only S3 from AWS, we don't need all APIs in our code base.
2. Higher level of abstraction. Boto3 is a great library, but it just a thin wrapper around requests library with some additional features. With minio you have easy and understanding API.
3. Very responsive develope

[2017-07-27 17:36] poornas commented on #560
Thanks @DrJackilD, we couldn't have said it better.

[2017-07-27 18:36] deekoder commented on #560
@guettli  Boto project is really cool. I just checked it out.

Minio is a full-fledged object storage server that you can take and host on your own anywhere in the cloud. It's  very easy to set up and you can get it up and running in a few minutes. We offer a tool called mc to do CLI operations and can be used in automation. We offer a suite of SDK bindings for applications to programatically work

[2017-07-28 01:26] deekoder commented on #524
Closing this issue. Please let me know if you think the sdks ought to do this still and we can discuss further.

[2017-07-28 01:26] #524 closed

[2017-07-29 03:53] #558 closed

[2017-08-01 19:17] harshavardhana commented on #556
@cheveyo20 can you let us know if you still face this issue? . Feel free to close if its not a problem anymore.

[2017-08-02 02:15] #560 closed

[2017-08-02 02:43] balamurugana opened #562 "Missing functional tests for Mint category"
- [x] 1. Missing test for makebucket() with default region
- [x] 2. Missing test for makebucket() with region
- [x] 3. Missing test for makebucket() with bucket name with '.'
- [x] 4. Missing test for bucket_exists()
- [x] 5. Missing test for remove_bucket()
- [x] 6. Missing test for fput_object() with content type.
- [x] 7. Missing test for putobject() with content type.
- [x] 8. Missing test for

[2017-08-02 14:45] guettli commented on #560
No question left - Thank you for your replies. Yes, close this

[2017-08-02 14:57] guettli commented on #560
No question left - Thank you for your replies. Yes, this issue is resolved.

[2017-08-07 16:28] nitisht opened #565 "Update minio-py to output new mint log format"
`minio-py` tests are used in `mint` to test Minio server. `minio-py` logs need to be updated in the format below so that `mint` logs can be easily parsed.
[code]

[2017-08-07 16:45] harshavardhana commented on #556
Checking back again @cheveyo20 do you still face issue?

[2017-08-13 02:18] #557 closed

[2017-08-14 18:10] #503 closed

[2017-08-16 23:43] deekoder commented on #556
Closing this @cheveyo20  please reopen if its still happening.

[2017-08-16 23:43] #556 closed

[2017-08-18 18:44] #553 closed

[2017-09-02 02:40] poornas opened #569 "Mint tests fails on ListObjectsV2 when server is running in gateway mode."
ListObjectsV2 fails on all 3 gateways when running Mint.

[code]

[2017-09-02 06:31] harshavardhana commented on #569
This is perhaps already fixed by #559

[2017-09-02 06:32] harshavardhana commented on #569
Perhaps a server side issue. Do we know the test here which failed? @poornas

[2017-09-03 00:23] poornas commented on #569
ListObjectsV2 seems to have failed while setting up the test. Ran it again - Content-Length header is missing.

The gateway logs are:
[code]

[2017-09-06 01:03] deekoder commented on #552
We are doing this in minio-go to start with. Will update minio-py in future https://github.com/minio/minio-go/issues/747

[2017-09-06 18:09] davidthewatson opened #570 "minio-py fails erroneously with minio.error.InvalidEndpointError: InvalidEndpointError: message: Amazon S3 hostname should be s3.amazonaws.com"
I have minio installed to our kubernetes cluster on amazon. The hostname ends in amazonaws.com but is not S3. When I run the minio-py with the correct credentials, the code fails here:

https://github.com/minio/minio-py/blob/master/minio/helpers.py#L276-L279

The check for s3 ignores the fact that I may have an external IP exposed through amazon that is not s3, but rather minio - in this case host

[2017-09-06 18:37] harshavardhana commented on #570
Yes feel free to send a PR. @davidthewatson we shouldn't do endswith instead do an exact match.

[2017-09-06 19:45] davidthewatson commented on #570
I'm not sure I follow.

How does an exact match help here?

To me, it seems that this code is trying to ensure a canonical form to s3
URLs that doesn't actually exist in the real world. Keep in mind, I can
call my k8s minio endpoint s3, because there are a number of unique
substrings in that amazonaws.com URL.

Can you clarify? The most obvious solution to me was to delete the s3 check.

[2017-09-06 20:43] harshavardhana commented on #570
Not necessarily it requires a different refactor to make the region handling work properly.

It should just be that there should be a regex `s3-*.amazonaws.com`

[2017-09-15 09:51] harshavardhana commented on #570
Getting back on this issue @davidthewatson are you still planning to send a PR?

[2017-09-16 19:35] subho007 opened #573 "allow cloudfront url to create a presigned url"
Is it possible to add this as an option `ALIAS_NAME` or something similar ?

[2017-09-17 05:48] #565 closed

[2017-09-17 17:58] harshavardhana commented on #573
For AWS specific functionalities such as CCloudFront it is better to stick with `boto` library.

Why do you think its helpful for `minio-py` ? Isn't it not possible for you to do this outside of minio-py ?

[2017-09-18 19:31] ebozduman commented on #573
@subho007 :
Closing this issue as "Won't fix"...
Please let us know if you disagree or have a compelling reason for us to implement it, but we think this is not something we need to address as part of Minio-py SDK as it belongs to AWS and `boto` library.

[2017-09-19 22:28] #516 closed

[2017-09-20 02:33] ebozduman opened #574 "Refactoring: Log output hash could be replaced with a class structure (@vadmeste's comment)"
Newly added Mint log output format used has for log output structure. That part of the code can be refactored and replaced with a class structure.

[2017-09-21 18:22] kannappanr opened #576 "Bucket name used in functional test should have a prefix"
Bucket names used in functional test should have a prefix. This is required by mint to cleanup left over buckets. Currently minio-py uses a uuid as the bucket name. It needs to add a prefix.

[2017-09-26 02:13] ebozduman opened #577 "Allow presigned DELETE url's for minio-py"
Original issue was filed against minio-java (Issue#605). This is the extension of it on the minio-py side.

[2017-09-26 02:18] poornas opened #578 "putobject functional test fails for s3 gateway"
Mint run against minio release build of Sep 25 fails for  s3 gateway
[code]

Mint image built from  commit 158108152fc86c52d5543995e0e7634bf1b6da74
Minio version:
Version: 2017-09-25T21:57:17Z
Release-Tag: RELEASE.2017-09-25T21-57-17Z
Commit-ID: d3eb5815d9951fdb82d0134b7651368bab71d72e

[2017-09-26 02:21] poornas opened #579 "get_bucket_policy functional test fails for azure and gcs"
Mint fails for minio-py sdk tests on get_bucket_policy for Azure and GCS. These tests should be skipped conditionally when run for Azure /GCS and the output log reflect that the test has been skipped until policy support is implemented.
[code]

Mint image built from  commit 158108152fc86c52d5543995e0e7634bf1b6da74
Minio version:
Version: 2017-09-25T21:57:17Z
Release-Tag: RELEASE.2017-09-25T21-57-1

[2017-09-26 18:27] #573 closed

[2017-09-26 18:39] poornas commented on #578
There was a regression on minio server that causes this failure in gateway mode - PR https://github.com/minio/minio/pull/4972 fixes this on minio server . Tested against the PR's code base and functional tests run okay.

[2017-09-27 23:27] vadmeste commented on #578
@poornas, are you sure that https://github.com/minio/minio/pull/4972 fixes the issue ? That PR is closed by the way.

I tested with last master but the error is there. I think Minio should vendorize new change in minio-go first.

[2017-09-27 23:45] harshavardhana commented on #578
We need this https://github.com/minio/minio/pull/4989

[2017-09-27 23:49] poornas commented on #578
@vadmeste , thanks for the heads up - didn't notice that minio/minio#4972 got closed.Will investigate again..

[2017-09-28 01:18] poornas commented on #578
With minio/minio#4989, tests pass. failure was due to invalid content-md5

[2017-09-28 01:24] vadmeste commented on #578
yes, I confirm.

[2017-09-29 10:03] poornas commented on #578
@deekoder , this can be closed as the issue is fixed by  minio/minio#4989 which has been merged.

[2017-09-29 18:26] kannappanr opened #583 "Fix minor bugs in logging format"
Make the json logs generated by minio-py more compliant with mint logging format

1. Convert the duration field to display in milliseconds
2. Remove the description field
3. Remove entries that contain null in json.

[2017-10-01 16:48] #570 closed

[2017-10-02 22:02] poornas commented on #569
This issue seems to be fixed - not reproducible with latest minio master. minio-py tests run successfully with gateway endpoints.

[2017-10-02 22:42] #578 closed

[2017-10-03 06:09] harshavardhana commented on #569
Feel free to close the bug. You opened the issue @poornas

[2017-10-03 15:54] #569 closed

[2017-10-03 17:17] vadmeste commented on #574
This can be closed I think @ebozduman @deekoder

[2017-10-03 17:25] #577 closed

[2017-10-03 18:09] #574 closed

[2017-10-04 18:12] #576 closed

[2017-10-04 18:24] kannappanr commented on #583
code that fixes this issue is part of PR #584 . Hence closing the issue.

[2017-10-04 18:24] #583 closed

[2017-10-05 19:04] #579 closed

[2017-10-07 11:43] the-infinity opened #585 "Python3: multible policies wont work"
Because policy.py uses iteritems() in line 381 and 402, adding more then one policy fails if you don't use python2.

[2017-10-10 17:34] vadmeste commented on #585
@the-infinity, thanks for reporting this. dict.iteritems() is replaced by dict.items() in this PR https://github.com/minio/minio-py/pull/586.

However, I am not sure what you did to trigger this bug, can you check this on your side or paste a simple code to test.

[2017-10-10 17:57] the-infinity commented on #585
I tried to add more then one policy for the same bucket, but different directories.

[2017-10-11 00:34] #585 closed

[2017-10-26 19:37] dadicool opened #588 "Support for HTTP Proxies"
While minio is usually deployed on-premise and the connection between client and server doesn't need to traverse HTTP Proxies, in large infrastructure setups or distributed ones between VPCs, the need for traversing proxies is real.

This could be achieved simply by using ProxyManager instead of PoolManager.

PR coming :)

[2017-10-26 20:01] harshavardhana commented on #588
You can change it yourself too as a work-around for now.

[code]

[2017-11-02 14:57] benbro opened #590 "Part order error with fput_object"
When trying to upload a 200MB file to minio server with minio-py I'm getting an error.

minio-py  version 2.2.5
minio server RELEASE.2017-09-29T19-16-56Z

[code]

Maybe related to this commit?
https://github.com/minio/minio-py/pull/563

[2017-11-02 15:23] benbro commented on #590
I don't see this error in the logs of a server using minio-py 2.2.4

[2017-11-02 19:39] ebozduman commented on #502
Pinging @vadmeste for status?

[2017-11-06 06:10] #590 closed

[2017-11-13 20:50] #588 closed

[2017-11-16 02:38] ebozduman opened #593 "Accept SSL cert as an argument for minio-py functional tests"
minio-py SDK test ran against the latest minio release, `minio.RELEASE.2017-11-15T22-20-02Z`, fails with the following error message:
[code]
We need to support self-signed certificates.

[2017-11-17 10:35] cheveyo20 opened #594 "[Bug] Multipart Upload - InvalidPart Order"
Hi,

i am using minio and minio py inside a docker swarm. If i run the basic upload file example with fput, i am getting the error InvalidPart Order - The list of parts was not in ascending order. The parts list must be specified in order by part number

This error only happens inside a docker swarm(but every time!). Idependly that this might be a docker network issue, minio-py should be able to h

[2017-11-17 11:24] vadmeste commented on #594
Hey @cheveyo20,

This issue has already been fixed recently: https://github.com/minio/minio-py/commit/68097876f799592771b077e4388b149331849e8c but it is not released yet.

You can download the code from master and test with it.

Meanwhile, I will see if I can push the team to release this fix since this is a important bug.

[2017-11-17 16:51] harshavardhana commented on #594
We will make a release today.

[2017-11-18 09:43] kiss187 opened #595 "python minio client may cause thread exhaust"
- python: 3.5
- minio-client: 2.2.6
- minio-server info:
VERSION 2017-10-27T18:59:02Z
MEMORY
Used: 7.5 MB | Allocated: 50 GB | Used-Heap: 7.5 MB | Allocated-Heap: 29 MB
PLATFORM
Host: 6cbd0abfd258 | OS: linux | Arch: amd64
RUNTIME
Version: go1.9.2 | CPUs: 12

I use python script to create img and save record into db, and use minio python client upload to minio server.
[code]

before upload acitve_

[2017-11-21 01:32] harshavardhana commented on #594
3.0.0 released with a fix.  Closing this bug please open new bugs for further issues.

[2017-11-21 01:32] #594 closed

[2017-11-21 01:33] harshavardhana commented on #595
Thanks for letting us know @kiss187 , we will take a look. Looks like the current implementation we are not garbage collecting the lingering threads properly.

[2017-11-21 01:36] kiss187 commented on #595
@harshavardhana , thank you!

[2017-11-21 10:23] harshavardhana commented on #595
I wrote a sample program @kiss187 and i have been able to upload 11MiB object around a 1000 times with final result
[code]

[code]

The code that is written in threadpool does cleanly indicate when the task is done, but from what it looks like threading just seems to keep reporting them as active.  The only reason i can think of is its waiting on garbage collection these threads are in limbo to be

[2017-11-21 12:16] kiss187 commented on #595
@harshavardhana sorry about I forgot to print the exception log in last comment. For saving time, I use the images generated last time.

my test code:
[code]
there are different 4000+ images record in file.

exception log:

loop-1374, acitve_thread - 2029
loop-1375, acitve_thread - 2032
loop-1376, acitve_thread - 2032
loop-1377, acitve_thread - 2035
loop-1378, acitve_thread - 2035
loop-1379, acitv

[2017-12-05 15:33] maccradar opened #598 "Broken pipe"
Maybe related to https://github.com/requests/requests/issues/2422,
Sometimes, but quite frequently, we receive following response after a Minio.fput_object call:
[code]
It then attempts to open a new HTTP connection but hangs and the only way to proceed is to kill the python process and restart it, after which it usually uploads fine.

Have any of you experienced this and is there a way to capture

[2017-12-05 22:07] maccradar commented on #598
From [minio/api.py line 163](https://github.com/minio/minio-py/blob/master/minio/api.py)

[code]
And from [urllib3's ConnectionPool line 725](https://github.com/shazow/urllib3/blob/master/urllib3/connectionpool.py)
[code]

It seems the timeout causes the error, but the retry fails (hangs).

[2017-12-06 20:52] kannappanr commented on #598
It could be caused by urllib3. Can you post more information on the process that is causing this issue?
Is there a pattern to this? Is it happening only with big files? What version of Python are you using? Can you post more information about the s3 server you are connecting to? We will try to reproduce the issue locally.

[2017-12-13 05:48] rkdls opened #601 "I want see a progress bar"
when i put some file using minio-py
[code]
it is good for some small file but large file, it is take a long time while uploading.

so user's doesn't know it is in progress or not.

so could you add option like ```progress_use``` ?

thanks.

[2017-12-13 09:16] maccradar commented on #598
Sorry for the late reply. We are running an upload service for our lab that checks for new fairly large datasets (up to 20GBs) and uploads them to a minio server running in a Docker Swarm at our data center. It seems to happen with smaller datasets (a few 100MBs) as well. The uploader uses Python 3.5 and it seems the Minio Python driver we installed with pip3 is not the latest version I find here

[2017-12-13 16:16] harshavardhana commented on #598
You can let us know how it behaves with the latest version ?

[2017-12-15 15:34] maccradar commented on #598
Upgraded with `pip3 install --upgrade minio` and still running python 3.5. Now the python process silently dies after trying to send a 29GB file. First it almost blocks the server by consuming 90+ % of resources and after a while the python process, which was started via crontab dies without any notification...

I assume there is no 4GB file size limit on Minio and its Docker image I am not aware

[2017-12-15 15:48] maccradar commented on #598
Server side log from the time of the Broken Pipe:

[code]

[2017-12-15 16:13] maccradar commented on #598
My bad, the 29GB transfer (attempt) causes our client's swap to be exhausted...:

[code]

[2017-12-16 07:01] maccradar commented on #598
After almost 7 hours the upload completed, leaving around 60GB of orphaned data in `/.minio.sys/tmp`. The next upload in line caused quite a few BrokenPipeErrors but succeeded in 8 mins for 4GB. There is quite a discrepancy between the 29GB transfer taking 7 hours and the 4GB transfer taking only 8 mins...

[2017-12-18 09:24] leah4kosh commented on #593
any updates on when you'll support self-signed certificates?

[2017-12-18 10:23] harshavardhana commented on #593
you can create your own http client based on urllib3, this bug is open for an entirely different reason @leah4kosh

You are allowed to provide a custom httpClient as shown below following this doc you should be able to use self signed certs with minio-py https://urllib3.readthedocs.io/en/latest/advanced-usage.html#custom-ssl-certificates-and-client-certificates

[code]

[2017-12-19 15:38] U039b opened #602 "`fput_object` on large file creates 3 unterminated processes"
## Summary
Uploading large file creates 3 unterminated Unix processes (in green on the following screenshot):
![screenshot from 2017-12-19 16-23-34](https://user-images.githubusercontent.com/34188010/34164547-1dee3124-e4da-11e7-8d5f-ada0a415bfc9.png)

Those processes are destroyed when their parent dies. I use Minio in Celery task and the Celery worker is always running. Having those unterminated

[2017-12-19 16:44] harshavardhana commented on #602
This bug can be closed as duplicate of https://github.com/minio/minio-py/issues/595

[2017-12-19 16:45] nitisht commented on #602
@U039b closing this as duplicate, please follow #595 for progress

[2017-12-19 18:49] #602 closed

[2017-12-19 19:45] kannappanr opened #603 "Doc: Add steps to install minio SDK using pip3"
[Python quck start guide](https://docs.minio.io/docs/python-client-quickstart-guide) has information on how to install minio sdk using pip, which is supported only on Python 2.7x

The documentation might have to add information on installation of minio sdks for python3 using pip3.

[2017-12-28 18:03] #603 closed

[2018-01-02 18:38] mlinsky opened #606 "[SSL: CERTIFICATE_VERIFY_FAILED]"
Hi, i am trying to upload a png file into my minio server that requires ssl, i am following along with what code you have on this page https://docs.minio.io/docs/how-to-use-aws-sdk-for-python-with-minio-server . I have also tried to write code that uses python requests but i keep getting the same error. I have tried my combination of adding certs, auth, and params that included the access key an s

[2018-01-02 18:44] harshavardhana commented on #606
Please open this bug on https://github.com/minio/minio/issues this is not related to minio-py

[2018-01-03 02:52] rkdls opened #607 "memorry error"
if i upload so large file, there's occurred that memory error bellow

![1514946210](https://user-images.githubusercontent.com/9625741/34507706-25836618-f07c-11e7-8567-28498f8728e8.png)

i searched that line, minio-api looked like no close file description. i think.

so memory error occurred..

[2018-01-03 02:57] harshavardhana commented on #607
do you not have atleast 512MiB worth of memory? @rkdls

[2018-01-03 04:42] rkdls commented on #607
yes i do have 8GB memory size. @harshavardhana

[2018-01-03 05:18] harshavardhana commented on #607
This issue is another version of perhaps https://github.com/minio/minio-py/issues/595

Few more questions
- how many objects did you upload before you saw this error?
- what is the file size that you were trying to upload?

[2018-01-03 06:39] rkdls commented on #607
- total file size 53.7GB
- total file number 2999
- error occurred in 2726/2999 which file size is 83.2MB

thank you for answer. !

[2018-01-03 07:09] harshavardhana commented on #607
As expected #595 is the same reason why you have this issue ..

[2018-01-03 07:32] rkdls commented on #607
so.. it's not fixed yet?

[2018-01-03 07:33] harshavardhana commented on #607
no it is not fixed yet, we are working on it.  @rkdls

[2018-01-03 18:51] kannappanr commented on #607
Closing this as a duplicate of #595

[2018-01-03 18:51] #607 closed

[2018-01-11 15:01] #562 closed

[2018-01-15 18:35] kannappanr commented on #502
Closing this issue as this is not a high priority. We will be looking to add this feature in the future.

[2018-01-15 18:35] #502 closed

[2018-01-17 03:32] aotsukiqx opened #610 "When setting minio using https and port 80 python sdk will connect to port 443"
I set up my minio server by docker run -p 80:9000 and configured using https protocol.
By using python sdk to connect minio server with specified http_client, I got connection error.
After investigation, I found minio/helpers line 224 striped port from endpoint_url：
    # Strip 80/443 ports since curl & browsers do not
    # send them in Host header.
    if parsed_url.port == 80 or parsed_url.port

[2018-01-17 04:33] harshavardhana commented on #610
This bug should be on minio-py project instead

[2018-01-17 22:58] kannappanr opened #611 "Implement list bucket policies"
This issue has been created to track and finish work defined in https://github.com/minio/minio-py/pull/508

[2018-01-18 02:52] kannappanr commented on #520
Server Side encryption is supported in all SDKs. Will implement this feature, if we get any request from community to add this feature. Closing this issue for now.

[2018-01-18 02:52] #520 closed

[2018-01-18 13:40] toloco opened #612 "Be able to set default bucket in Minio client"
This is a suggestion, will be possible to set a default bucket on client setup?

This will make easier to use an instantiated client in project setup, so the rest of the code is detached from learning about the  project bucket.

[2018-01-18 18:57] kannappanr commented on #409
Closing this issue as a duplicate of #611

[2018-01-18 18:57] #409 closed

[2018-01-18 21:19] kannappanr commented on #612
One way to handle this would be to wrap the Client into another object, with the bucket information. Please a new issue if you have further questions.

[2018-01-18 21:19] #612 closed

[2018-01-20 04:01] harshavardhana opened #616 "put_object with invalid object name and body 1MiB throws wrong exception"
{"message": "HTTPConnectionPool(host='147.75.68.3', port=9001): Max retries exceeded with url: /minio-py-test-f8744398-525d-4d68-a7cb-eb68c4fd3edd//a/b/c/1018c782-7705-48a6-ba73-64d103434d21 (Caused by ProtocolError('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer')))", "duration": 3772, "error": "Traceback (most recent call last):\n  File \"/usr/local/lib/python3.5/dist-

[2018-01-20 06:19] kannappanr commented on #616
#615 has been merged, hence closing this issue

[2018-01-20 06:19] #616 closed

[2018-01-24 00:23] ebozduman opened #618 "put_object functional test fails on gateway azure"

[2018-01-24 19:49] #618 closed

[2018-01-26 18:45] #610 closed

[2018-01-30 01:41] pwdonald opened #622 "Multi-part SSE Example?"
Hello! I'm considering Minio for a project but can't seem to find very detailed documentation on the current state of encryption at rest. It seems that there is some functionality as outlined in the examples but when I try to PUT a file larger than 5mb--resulting in multiple parts--I get the following error:

`minio.error.APINotImplemented: APINotImplemented: message: A header you provided implies

[2018-01-30 01:42] harshavardhana commented on #622
Minio server doesn't support SSE for multipart APIs yet.

[2018-01-30 01:47] pwdonald commented on #622
Thanks for the quick reply, just for clarity--it is indeed a server limitation and not specific to the Python implementation?

[2018-01-30 01:49] harshavardhana commented on #622
Yes it is a server limitation @pwdonald

[2018-01-30 01:50] #622 closed

[2018-01-30 08:34] droxer opened #623 "Hardcode region to 'us-east-1' for making bucket api"
I am not sure that is a bug or intentional by hardcoding region to 'us-east-1' in making bucket api.
https://github.com/minio/minio-py/blob/188dba3dff087ef0d13e4d6336dcfcfc7c914f49/minio/api.py#L267

[2018-01-30 09:28] harshavardhana commented on #623
This is not a bug , the region is passed in as BucketConfiguration region being used for `us-east-1` is expected behavior in accordance with AWS S3 specs. are you seeing any problems @droxer ?

[2018-01-30 15:41] droxer commented on #623
[code]

I got the following error after running above code against Minio with MINIO_REGION=cn-north-1

`[2018-01-30T15:34:06.345832Z] [ERROR] {"method":"PUT","reqURI":"/test-bucket/","header":{"Accept-Encoding":["identity"],"Authorization":["AWS4-HMAC-SHA256 Credential=YIEVIPFF3GDAS5ET00ZL/20180130/us-east-1/s3/aws4_request, SignedHeaders=content-length;content-md5;host;user-agent;x-amz-content-sh

[2018-01-30 17:34] harshavardhana commented on #623
We do not support China region yet in minio-py.  China region requires special handling on AWS S3.

[2018-01-31 02:38] droxer commented on #623
https://github.com/minio/minio-py/blob/188dba3dff087ef0d13e4d6336dcfcfc7c914f49/minio/api.py#L224

I saw the 'cn-north-1' options on region params, so I was thinking mino-py support China region.
Are we going to support China region?

[2018-01-31 20:44] #623 closed

[2018-02-07 00:52] ebozduman opened #625 "Several documentation issues"
There are several minio-py SDK documentation issues as listed below:

- [x] **`Missing`** optional arguments and/or their default values in command titles:
**`..., request_headers = None`**) in **get_object**, **get_partial_object**, **fget_object**
`..., copy_conditions`**`= None`**) in **copy_object**
`..., content_type`**`= 'application/octet-stream', metadata = None`**) in **put_object**, **fp

[2018-02-10 21:26] U039b commented on #595
Hi!
When do you think this bug will be fixed?

[2018-02-13 06:39] postalC opened #626 "Stream multipart PUT operation"
when i put huge file using minio-py
[code]

it is good for some small file but not so good large file, since it is read the entire data-stream as partition park into memory before the parallel upload, and could be an issue for running the application in small instance.
![screen shot 2018-02-13 at 2 24 22 pm](https://user-images.githubusercontent.com/8341505/36136087-a6ea1446-10c9-11e8-835e-7d9cc04

[2018-02-18 07:54] nnehdi opened #627 "Memory leak during uploading file frequently"
We are uploading lots of file frequently in Minio and we saw we have a memory leak. After checking it with memory_profiler we understood that the problem was the Minio connector.
This is the code that we used to profile the memory usage and the result shows that the memory usage  is increasing with time.
[code]

This is the result that shows memory leakage.
[code]

[2018-02-18 07:59] einali commented on #627
Memory leak is blocking for production environment. pls fix it ASAP!

[2018-02-18 10:09] harshavardhana commented on #627
Duplicate of #595

[2018-02-18 13:52] nnehdi commented on #627
That's true, the problem appears when the files are larger than 5 Meg and uploading is done parallel.
We do not encounter with error noticed in issue #595 because our server's user process limit is high.
We are working on the problem.
tnx

[2018-02-18 13:58] nnehdi commented on #595
I found where is the problem. It's how Minio.thread_pool.ThreadPool class manages the threads.
I wrote a test code and saw that threads were not released.
[code]

Here is the results
[code]

We are still working on the problem.

[2018-02-18 14:39] nnehdi commented on #595
The problem solved. As I guessed the problem was ThreadPool class. This class starts some Workers with infinite loop (while True) in _ _ init _ _ method and these workers never stop.

I changed the thread_pool.py file as follow and that worked for me. I mentioned the changes that I have made with #changed comment.
[code]

[2018-02-18 17:03] harshavardhana commented on #595
This is excellent debugging. Thanks for doing that feel free to send PR @nnehdi

[2018-02-19 15:23] nnehdi commented on #595
Thank You, I will send it to you soon.

[2018-02-20 18:51] vadmeste opened #630 "get_bucket_policy() doesn't return correct output in one case"
The following code shows a bug in  get_bucket_policy()  after setting two bucket policies with different prefixes.

[code]

The code above returns the following output:
[code]
which is wrong, it should be:

[code]

[2018-02-21 19:44] deekoder commented on #598
This is not reproducing. So closing this as working as intended. Please reactivate if you think this still occuring.

[2018-02-21 19:44] #598 closed

[2018-02-22 14:22] zupan opened #631 "list_objects() and list_objects_v2() methods fail when executed on GCS"
I have a two object storage environments setup. One with the Minio Server and the other one on GCS.
Both environments have the exact same folder structure and when migrating from Minio server to GCS the list object functionality started returning errors.

[code]

minio-py version is 3.0.3

After debugging the minio-py source code, I traced the root of the problem to the difference in the returned

[2018-02-22 16:39] harshavardhana commented on #631
This problem is GCS is not fully S3 compatible if you use `minio gateway gcs` you should be able to get around this problem.

Fixing minio-py would make it less stricter.

[2018-02-22 17:53] kannappanr commented on #631
Please use gcs using gateway as mentioned in the previous comment. closing this issue as not an issue. please feel free to file an issue if you have further questions.

[2018-02-22 17:53] #631 closed

[2018-02-26 17:51] hmrodrigues opened #632 "Invalid time format on stat_onbject"
Hello,

When we use the stat_object method on a system without english format, the following exception occurs.
[code]
The API shouldn't be english specific to english locale

Best Regards,
Hugo Rodrigues,

[2018-02-26 23:27] deekoder commented on #552
We have not had the cycles to fix this issue. Will close it and reopen it when we are able to. This is also a great item for community contribution, if anyone wants to take it up.

[2018-02-26 23:27] #552 closed

[2018-02-26 23:29] deekoder commented on #593
Do we still need this @ebozduman  and @harshavardhana.

[2018-02-26 23:32] deekoder commented on #601
We have not had the cycles to fix this issue. Will close it and reopen it when we are able to. This is also a great item for community contribution, if anyone wants to take it up.

[2018-02-26 23:42] deekoder commented on #485
We have not had the cycles to fix this issue. Will close it and reopen it when we are able to. This is also a great item for community contribution, if anyone wants to take it up.

[2018-02-26 23:42] #485 closed

[2018-02-27 07:05] harshavardhana commented on #632
PR already sent, removing triage.

[2018-02-27 07:06] harshavardhana commented on #593
The reason was largely to be able to do SSL for mint tests with a flag, but this is not necessary for now.

[2018-02-27 07:06] #593 closed

[2018-02-27 17:56] kannappanr commented on #601
Sent a PR for this issue, so reopening this issue.

[2018-02-27 18:03] #632 closed

[2018-03-01 22:55] deekoder commented on #627
I will close this one as a dup of the other issue then @nnehdi .

[2018-03-01 22:55] #627 closed

[2018-03-07 09:48] #595 closed

[2018-03-08 23:46] krishnasrinivas opened #635 "set/getBucketPolicy should take/return policy JSON file"
Currently the set/getBucketPolicy APIs are high level providing fine grained access. It was decided to make set/getBucketPolicy a low level API directly dealing with the policy json file to make the client libs simpler.

Changes similar to https://github.com/minio/minio-js/pull/676 is needed.

[2018-03-09 08:27] Mvpanswer7 opened #636 "Get urllib3 error"
when use `minioClient = Minio('192.168.100.74:8201',...)`
get error `urllib3.exceptions.SSLError: [SSL: UNKNOWN_PROTOCOL] unknown protocol`

[2018-03-09 08:38] #636 closed

[2018-03-11 13:19] koliyo opened #638 "urllib3 Connection pool is full"
When uploading large files I'm getting a lot of
`WARNING:urllib3.connectionpool:Connection pool is full, discarding connection` messages.

The file seems to be synced alright, but the warning messages are a bit annoying, and are probably there for a reason?

Seems related to https://github.com/minio/minio-py/pull/518

[2018-03-14 14:32] vadmeste commented on #630
Looks like we don't need this anymore after bucket policy API simplification.

[2018-03-14 16:35] ebozduman commented on #630
That is correct.
I started working on issue #635.
This one can be closed as duplicate of #635.

[2018-03-14 16:35] #630 closed

[2018-03-16 18:14] vadmeste commented on #611
No need to fix anymore since we are going to simplify bucket policy API.

[2018-03-19 17:38] ebozduman commented on #625
I have to finish the policy issue, #635, first since both this issue and #635 needs to touch the same source file, API.md. I am almost done with policy issue. I am currently working on the mint testing affected by the
policy fix.

[2018-03-19 18:47] kannappanr commented on #611
Closing this issue based on the previous comment. @ebozduman working on a PR currently, will reference it once it is submitted.

[2018-03-19 18:47] #611 closed

[2018-03-19 19:52] vadmeste commented on #626
yeah using yielding is a good idea to reduce memory consumption, can you send a PR for that @postalC ?

[2018-03-21 09:15] ericman93 commented on #638
+1
And after a while `MaxRetryError` is raised.
I'm using minio server with docker

[2018-03-21 10:32] ohmystack commented on #638
+1
It seems that the multipart uploading causes the issue, not the connection pool.
I have tried to use AWS S3 boto3 client instead of minio-py, the same problem. Maybe it's a minio server's issue.
Here's a work-around I'm using, directly use the [`_do_put_object`](https://github.com/minio/minio-py/blob/3.0.4/minio/api.py#L1410) function.

[2018-03-23 19:42] yurivict opened #643 "Build shouldn't require test dependencies"
Currently, build fails:

'test' should be a separate target.

[2018-03-26 11:09] nitisht commented on #625
@ebozduman can this be closed now?

[2018-03-30 17:20] ebozduman opened #645 "Chinese version of API doc needs to be updated to reflect set/getBucketPolicy fix (PR#639)"
For issue #635 (PR#639), we have to modify the Chinese version of the API document, `../docs/zh_CN/API.md`
All the references to Policy.READ_ONLY，Policy.WRITE_ONLY，Policy.READ_WRITE, Policy.NONE, and set_bucket_policy and get_bucket_policy signatures (removal of `prefix`) need to be modified/replaced.

[2018-04-02 21:40] ebozduman commented on #625
Yes.

[2018-04-03 18:28] deekoder commented on #645
I have pinged @dingjs  for this.

[2018-04-06 11:42] phm3 opened #648 "List objects recurisvely with same prefix gives only first item"
When the structure looks like it:
├── 123456
│   └── data
│       ├── 1
│       ├── 2
│       └── 3

Listing object by `list_objects` with prefix `123456/data/` and `recursive=True` returns only 1

VERSION:   2018-02-09T22:40:05Z

[2018-04-09 10:24] phm3 commented on #648
`Python 2.7.6 (default, Nov 23 2017, 15:49:48)`
When I use boto3, everything works as expected, so I am conflicted, what went wrong. I try to replicate it.

[2018-04-09 15:24] poornas commented on #648
Thanks @phm3, I used python 2.7.5 for the above test. Can you send the code snippet you used if you are able to replicate the issue?

[2018-04-11 18:15] #645 closed

[2018-04-12 20:00] poornas commented on #648
@phm3, were you able to replicate it again?

[2018-04-13 08:52] phm3 commented on #648
I ran the test only for fetching the objects and now i have it correct, so I suspect there was something else in the code which interfered with the method

    python test.py
    ('test', '123456/data/1', datetime.datetime(2018, 4, 13, 8, 47, 11, 621000, tzinfo=<UTC>), 'd41d8cd98f00b204e9800998ecf8427e', 0, None)
    ('test', '123456/data/2', datetime.datetime(2018, 4, 13, 8, 47, 32, 500000, tzinf

[2018-04-13 08:52] #648 closed

[2018-04-15 14:20] wonderbeyond opened #650 "You are not using the length param in Minio.put_object, why not make it optional?"
See: https://github.com/minio/minio-py/blob/master/minio/api.py#L797
[code]

And getting the length of when doing put_object is tedious and make no much sense.

For example:

[code]

Which makes too much noise to my code, I probably should care whether the `buf` object is an BytesIO or other file-like object.

Thanks!

[2018-04-15 14:50] wonderbeyond commented on #650
It' fair now, since I've made two wrapper classes for ease:

[code]

Then I can:

[code]

Thanks for the underlying work!

[2018-04-16 10:41] ahivert opened #651 "Provide a helper function to verify/transform ObjectName"
An ObjectName with not authorized characters will generate `SignatureDoesNotMatch` which is not very helpfull.

According to Amazon S3 [doc](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html) some chars must be avoid.

It should be cool to have a helper function which we can call to transform name before send it to minio.

ex:
[code]

[2018-04-16 17:43] deekoder commented on #651
This is a nice ask. @ahivert  the calling application could do that. Minio complies with S3 protocol so we are obligated to return similar error messages.

[2018-04-16 18:39] harshavardhana commented on #651
can you provide the object name? all UTF-8 characters are supported - AWS S3 simply mentions these characters to avoid but it would work properly if the signature is generated properly and object names are properly URL encoded.

[2018-04-16 19:13] ahivert commented on #651
Did not try to URL encode the objectName I will try !

My object name is like this :
`Project#1~96783~98976432.pdf`

Le lun. 16 avr. 2018 à 20:39, Harshavardhana <notifications@github.com> a
écrit :

[2018-04-17 05:49] poornas commented on #650
@wonderbeyond, if you look at https://github.com/minio/minio-py/blob/master/minio/api.py#L790 , the stream size read requires length. The put_object call requires length to enable optimal chunking of large uploads

[2018-04-17 06:37] wonderbeyond commented on #650
However you can just call `data.read()` to get the full data, isn't it always a desired behaviour?

[2018-04-17 07:36] ahivert commented on #651
Just tried and you are right @harshavardhana. Urlencode the objectname resolves char problems.

[code]

Thank's ! :slightly_smiling_face:

[2018-04-17 07:36] #651 closed

[2018-04-17 18:44] playfullcats opened #653 "Python 3.6.x and 'tuple' object is not callable"
There is a problem with Python 3.6.x (tested on 3.6.2, 3.6.5), minio-py3 1.0.1.1 and this code:

[code]
Always getting error on any method call:
[code]
But it works without error with Python 3.5.2.

[2018-04-18 17:53] harshavardhana commented on #653
@playfullcats @mktums is right - thanks. `pip install minio` is the official package not `minio-py3`

[2018-04-20 01:15] #635 closed

[2018-04-20 17:36] kannappanr commented on #653
@playfullcats Closing this issue as answered.

[2018-04-20 17:36] #653 closed

[2018-04-24 13:52] gzvulon opened #655 "put_object doesn't save metadata. save only 'x-amz-meta-KEY' keys"
**Description:**
When I try to save dict to metadata with put_object,
it saves only keys which starts with 'x-amz-meta'
all other key are ignored, nested dicts are rising errors

**Versions:**
3.0.5 and 4.0.0

**sample code to reproduce:**
[code]
**Actual output:**

**Expected output:**
same as original metadata dict

Is it by design?

[2018-04-25 00:29] kannappanr commented on #601
Do not have the cycle right now to fix this issue. Closing it now.

[2018-04-25 02:40] poornas commented on #655
@gzvulon, you are right - this is a bug. Will send in a fix shortly.

[2018-05-02 23:35] #655 closed

[2018-05-22 20:57] deekoder commented on #643
@abraarsyed absolutely. @vadmeste  can you give @abraarsyed some help in doing the fix for this issue?

[2018-05-22 21:00] #638 closed

[2018-05-22 21:19] vadmeste commented on #643
Sorry for the delay @abraarsyed, you can ping me any time in https://slack.minio.io

[2018-05-22 21:21] poornas commented on #650
@wonderbeyond, sorry about the late reply. Using data.read() to get the stream size here  would load the entire data into memory. it is expected that the calling application knows the size of data being processed rather than the sdk assuming that responsibility. Please let us know if there are additional questions, or if this issue can be closed.

[2018-05-23 17:58] abraarsyed commented on #643
Thanks @deekoder :D

@vadmeste Not a problem, will do that right away :)

[2018-05-23 18:36] abraarsyed commented on #643
I was going through the files and I am just thinking out loud.

Do I have to remove the occurence of `tests_requires`  from setup.py file since that is the file for building from source. Am I thinking in the right direction and is this what is expected to do?

[2018-05-24 02:12] wonderbeyond commented on #650
I meant you can just make it an **optional** parameter, since calculating the size of a stream at application side maybe a burden. look the ugly code below:

[code]

And different file-like object may have different interface to get its size, some maybe impossible without reading out.

[2018-05-24 02:20] harshavardhana commented on #650
We don't have much control on the S3 API behavior which requires content length, so providing right length is upto you.

[2018-05-29 11:06] cugu commented on #626
This is not enough for real streaming. In `ThreadPool.parallel_run()` all data if buffered in the `tasks_queue` (https://github.com/minio/minio-py/blob/master/minio/thread_pool.py#L74:L75). This results in errors when you send files that are larger than memory.

[2018-05-29 11:40] cugu commented on #626
A working, but unpolished solution is:

**api.py (excerpt)**
[code]
**thread_pool.py**
[code]

[2018-05-30 02:41] deekoder commented on #650
@wonderbeyond closing this for now as working as intended. It's a bit ugly I agree to do the computation on the application side. For now we will keep the api without this optional param.

[2018-05-30 02:41] #650 closed

[2018-05-30 15:04] sugare commented on #524
How can I get to download as zip url?

[2018-06-12 13:19] araujof opened #662 "Inconsistent handling of custom metadata information"
Hi all,

Please kindly take a look at this open issue in the main minio repo: https://github.com/minio/minio/issues/6027.

Thanks!

[2018-06-15 00:02] ebozduman commented on #662
Closing as this is duplicate of issue minio/minio#6027 (which was also a duplicate of the fixed issue #655)

[2018-06-15 00:02] #662 closed

[2018-06-15 00:10] ebozduman opened #663 "Custom metadata doc changes (for fix #655)"
Documentation is needed for fix #655 .
Custom metadata key names are prepended with `X-Amz-Meta-` and hence `stat_object` api lists them with their new name. This name change needs to be explained in the `stat_object` api documentation.

[2018-06-15 03:28] #663 closed

[2018-06-19 07:32] koliyo opened #665 "Inconsistent fget_object behaviour for existing local file"
The `fget_object` call behaves differently on Windows/non-windows when the local file exists. On linux/mac it gets overwritten, but on Windows we get an error in the `os.rename` call. Maybe using [os.replace](https://stackoverflow.com/a/35202735/1966638) instead? Or returning error on all platforms for consistency.

Hm, ok `os.replace` will not work if you want python 2.7 compability.

[2018-06-20 08:18] DeKe42 opened #669 "urldecode of key in list_objects"
We have some filenames in our Bucket that contain a percent (%) sign. When using `mc`, they are display normally and can be accessed.
Using the python library, the file name (key) gets URL decoded (falsely) and the resulting key name cannot be accessed any more.

I tried to get Minio to actually send URL-encoded key names in a list_objects call (using spaces, umlauts or chinese characters in key n

[2018-06-20 22:40] kaankabalak opened #671 "Errors while running Azure and S3 tests on Mint"
I got the following error while running Azure gateway tests for minio-py:
[code]

[2018-06-20 23:08] kaankabalak commented on #671
I got a similar error while running S3 gateway tests as well:
[code]

[2018-06-21 18:01] smouli commented on #671
We are unable to reproduce the error as seen below:

$ aws s3api get-bucket-location --bucket minio-py-test-7e57f9a5-e001-4cb5-ae11-330dd321a4aa
{
    "LocationConstraint": "us-west-1"
}
$ aws s3api get-bucket-location --bucket minio-py-test-a1e0f491-dfe7-411f-ac0b-dd594b698ff5
{
    "LocationConstraint": "us-west-1"
}

[2018-06-21 18:05] harshavardhana commented on #671
The issue is in minio-py tests, this test shouldn't be run on any endpoint other than AWS S3 itself directly.

[2018-06-21 20:07] #669 closed

[2018-06-26 17:42] kannappanr commented on #671
Not seen after the recent changes in Gateway and Azure code. Closing this issue as fixed.

[2018-06-26 17:42] #671 closed

[2018-07-02 15:26] koliyo opened #673 "Leaking file descriptors"
When running our tests with `setup.py` we get a lot of warnings indicating unclosed files.

[code]

Looking at the minio code I see https://github.com/minio/minio-py/blob/master/minio/api.py#L537

But I don't see files being closed.

[2018-07-04 14:57] anpr opened #675 "fput_object: AWS S3 multipart upload fails"
minio version: 4.0.2

## Reproduce Steps

The bug happened on our system, and some minimal steps would be this (not tested, sorry):
[code]

## Current Behaviour

An `InvalidArgument: InvalidArgument: message: Invalid Argument` exception is thrown, the upload is not finished.

## Possible Solution

I debugged this, and what happens is apparently that an AWS S3 multipart upload is initiated, which c

[2018-07-05 06:42] harshavardhana commented on #675
You are right we will fix this, I am assuming fput_objects works without metadata

[2018-07-07 06:16] nasirali1 opened #677 "Upload bytes"
Is there a way to upload bytes object to aws s3? Something similar as below:

some_runtime_serialized_object = b'Inital value'
s3Client.put_object("output-bkt", "something/serialzed.pickle", some_runtime_serialized_object, sys.getsizeof(some_runtime_serialized_object))

I am trying to avoid to write it to disk and then upload to aws-s3 using minio. Boto3 provides this feature. However, I already h

[2018-07-07 07:29] harshavardhana commented on #677
Can you provide a full sample program which doesn't seem to be working in your case?

[2018-07-07 17:03] nasirali1 commented on #677
## SAMPLE CODE
from minio import Minio
import sys
from io import BytesIO
s3Client = Minio('s3.amazonaws.com', access_key='KEY', secret_key='KEY', secure=True)
some_runtime_serialized_object = BytesIO(b'Here we have some more data')
s3Client.put_object("output-bkt", "something/ff.gz", some_runtime_serialized_object, some_runtime_serialized_object.tell())

## MORE INFO
I solved the issue. sys.getsiz

[2018-07-07 17:54] #677 closed

[2018-07-09 04:19] #675 closed

[2018-07-09 17:27] #673 closed, assigned to ebozduman

[2018-07-16 18:36] jayrbolton opened #679 ".list_objects and metadata"
When I do the following:

[code]

It gives `None` as the metadata for all objects when the object definitely has metadata. This is true for both `list_objects` and `list_objects_v2`.

To reproduce:

[code]

[2018-07-16 19:58] kannappanr commented on #679
@jayrbolton Thanks for filing the issue. We were able to reproduce the issue. We will send a fix for this issue soon.

[2018-07-16 20:46] harshavardhana commented on #679
List objects never return metadata as part of the listing in the S3 protocol - you need to use stat_object to get the object metadata.

[2018-07-16 21:48] kannappanr commented on #679
@jayrbolton Based on comments by @harshavardhana , we will fix the documentation.

[2018-07-16 22:37] jayrbolton commented on #679
Thanks, that works. Is there a bulk request for fetching metadata on multiple objects?

[2018-07-16 23:50] kannappanr commented on #679
I don't think there is an S3 API.

[2018-07-17 02:07] #679 closed

[2018-07-22 20:56] alejandroandreu opened #681 "Can't set bucket policy"
Hi all,

I have this simple script to upload a given file to my local Minio instance. Upon creating the bucket that I need, I try to set a read-only-to-all policy. I've seen this traceback before when calling `hashlib` library before, and it looks like it might be something related to it, as the helper class `Hasher` in `helpers.py` makes use of it. Any ideas?

**Script**
[code]

**Traceback**
[co

[2018-07-22 21:34] harshavardhana commented on #681
Looks like you are on Python 3.x ?? Would you mind adding `b`

To

[2018-07-23 05:52] alejandroandreu commented on #681
Thanks for the quick response, that seems to do the trick :+1: Is this something that will be addressed in the future? And if so, how? My uninformed guess from the user's point of view is that the library should handle the situation in one of these ways:

- Print a meaningful warning when attempting to pass a regular string from Python 3.x and also warn users [in the docs](https://docs.minio.io/do

[2018-07-23 08:36] harshavardhana commented on #681
We need to handle it properly ourselves and we will fix it thanks for confirming that it works, please open a GitHub issue at https://github.com/minio/minio-py/issues

[2018-07-23 09:42] alejandroandreu commented on #681
Yet another one? You mean a more technical one?

[2018-07-23 16:56] harshavardhana commented on #681
Oops, I was confused nevermind - i thought this issue is on `minio/minio` repository.

[2018-07-23 20:11] aead opened #682 "[feature]: Adding support for S3 server-side-encryption with customer keys (SSE-C)"
This is a feature request for adding SSE-C support. For general S3 SSE-C reference please take a look at:
 - [General SSE-C overview](https://docs.aws.amazon.com/en_en/AmazonS3/latest/dev/ServerSideEncryptionCustomerKeys.html)
- [Go reference implementation](https://github.com/minio/minio-go/blob/master/pkg/encrypt/server-side.go#L85)

The minio-py SDK should provide a similar API as the minio-go

[2018-07-23 20:13] aead opened #683 "[feature]: Adding support for S3 server-side-encryption using a KMS (SSE-KMS)"
This is a feature request for adding SSE-KMS support. For general S3 SSE-KMS reference please take a look at:
 - [General SSE-KMS overview](https://docs.aws.amazon.com/en_en/AmazonS3/latest/dev/UsingKMSEncryption.html)
 - [SSE-KMS encryption context](https://docs.aws.amazon.com/kms/latest/developerguide/encryption-context.html)
- [Go reference implementation](https://github.com/minio/minio-go/blob

[2018-07-23 20:15] aead opened #684 "[feature]: Adding support for S3 server-side-encryption (SSE-S3)"
This is a feature request for adding SSE-S3 support. For general S3 SSE-S3 reference please take a look at:
 - [General SSE-S3 overview](https://docs.aws.amazon.com/en_en/AmazonS3/latest/dev/UsingServerSideEncryption.html)
- [Go reference implementation](https://github.com/minio/minio-go/blob/master/pkg/encrypt/server-side.go#L85)

The minio-py SDK should provide a similar API as the minio-go (as

[2018-07-24 05:51] alejandroandreu commented on #681
I guess it's equivalent because in Python 3 and as far as I know, strings are encoded in UTF-8 by default but... This is what did the trick for me, I forgot to say yesterday :sweat_smile: No need to specify the `b` before defining the string bucket policy variable.

[code]

[2018-08-01 19:29] #681 closed

[2018-08-03 15:46] #682 closed

[2018-08-08 03:54] ggfuzzy opened #688 "InvalidPart: error attempting to move large db backup file to mino using python"
Trying to move large files from python running on linux to minio. I tried using both put_object() and fput_object(), both of which are supposed to transparently load objects greater than 5 MB in multiple parts.
Smaller files are working fine, but anything larger (the 10MB and 810MB files below) that gets split into parts fails with the error:
"[ERROR] InvalidPart: message: One or more of the speci

[2018-08-08 04:11] harshavardhana commented on #688
have you tried using `mc` instead of python code to isolate the problem? what is the minio version used here?

[2018-08-08 12:25] ggfuzzy commented on #688
Here's the info on the minio version:
[code]
I'm new to minio, so I'm not familiar with mc

[2018-08-08 12:48] ggfuzzy commented on #688
I was able to add the big files using the upload button from the browser...just not through the python client. Using mc will be problematic, as I will be running my backup code from a python container in docker.

[2018-08-08 16:02] ggfuzzy commented on #688
Problem solved! Turns out we were using an older version of the minio server. This problem was addressed about 6 months ago. We updated the server to the latest docker image and the uploads from the python client succeeded.

[2018-08-08 16:02] #688 closed

[2018-08-16 12:49] ranvijayj opened #689 "Return URL on fput"
Hi,

Is there a way I can store the URL to access the object as soon as I put the object using fput api?

I want to upload and then share the image with my other application.

[2018-08-16 13:48] ranvijayj commented on #689
`In [14]: a=minioClient.fput_object('maylogs', 'tessdsadst.log', '/tmp/test.log')`

`In [15]: a`
`Out[15]: 'd41d8cd98f00b204e980099823f8427e'`

Getting a hash but how can I get image URL that I can access?

[2018-08-16 18:28] kannappanr commented on #689
@ranvijayj For the user to anonymously access the object, you should set anonymous download access for the object or the bucket or the object prefix within the bucket.
You can construct the URL yourself, for example in the case of `play`, the connection is `https` and the endpoint is `play.minio.io:9000`. For a bucket named `test` and an object named `image.png`, the url will be `https://play.mini

[2018-08-20 05:13] kannappanr commented on #689
@ranvijayj Closing this issue as answered. Please feel free to open a new issue, if you have any other question.

[2018-08-20 05:13] #689 closed

[2018-08-24 08:28] Vijayalaxmim opened #690 "get_object via folder path from bucket is not possible"
I want to get a object which is stored in folders inside a bucket. For example ,inside a bucket bucket1, I want to access a object x from folder1/folder2/folder3/x
get_object and fget_object , both take bucket name and object name as parameter but not the path of object

[2018-08-24 08:35] nitisht commented on #690
can you try passing `folder1/folder2/folder3/x` as the object name

[2018-08-24 08:41] Vijayalaxmim commented on #690
I tried that. I got this exception "file is a directory."

[2018-08-24 08:42] nitisht commented on #690
can you paste a sample code snippet to help us reproduce this

[2018-08-24 09:01] Vijayalaxmim commented on #690
Hi , This issue can be closed ,I assumed the third parameter should be a folder where the file gets downloaded ,but it needs a file .And the error was with that parameter.
The error message could have been more clear

[2018-08-24 09:02] nitisht commented on #690
closing this as working as intended

[2018-08-24 09:02] #690 closed

[2018-08-29 19:40] #684 closed

[2018-08-29 19:40] #683 closed

[2018-09-04 08:32] harshavardhana opened #691 "Python tests broken if used against with ENABLE_HTTPS=0"
[code]

[2018-09-05 13:54] #691 closed

[2018-09-05 21:51] harshavardhana opened #693 "minio-py functional tests fail sporadically on minio master"
[code]

[code]

[2018-09-06 14:35] alejandroandreu opened #694 "Force closing connection?"
Is there a way to force closing a connection when using `minio.Minio`? Let's assume that I create some buckets, do some operations and want to close the connection explicitly. Is this possible?

[2018-09-06 22:03] kannappanr commented on #694
@alejandroandreu, In general, it is internally managed in Python. If it is required, you can have your own implementation of urllib3.poolmanager to do this.

[2018-09-08 00:41] trel opened #695 "list_objects never populating is_dir=True?"
I'm trying to understand the `is_dir` key of the objects returned by `client.list_objects()` and `client.list_objects_v2()`.

I am only ever seeing the value set to `False`

[code]

I was expecting to see this folder reporting with `is_dir: True`.

I am testing with AWS S3 proper.  Does that matter?

Am I holding it wrong?

[2018-09-08 09:01] harshavardhana commented on #695
you are correct we should fix this @trel

[2018-09-08 15:01] trel commented on #695
Thanks.

I’ve got a workaround for now by just testing via `.endswith('/')`.

[2018-09-10 20:34] bdenglish opened #696 "get_bucket_notification example throws minio.error.InvalidXMLError"
using the play.minio.io server and the examples from the Python Client API Reference

[code]

throws the following error:
[code]

[2018-09-10 21:58] kannappanr commented on #696
@bdenglish Thanks for filing this issue. I was able to reproduce this issue.

According to documentation, we are supposed to receive an empty notification structure.

[2018-09-11 13:49] bdenglish commented on #696
This is what the javascript library returns:

[code]
The python library fails when there are valid bucket notification subscriptions (the javascript library returns them correctly) so it is a problem even when the result is not empty. However, I don't have an easy way of demonstrating that.

[2018-09-13 06:09] alejandroandreu commented on #694
Ok good, thanks!

[2018-09-13 06:09] #694 closed

[2018-09-13 13:50] krisis commented on #696
@bdenglish with https://github.com/minio/minio-py/pull/697, minio-py would return `{}` for a bucket without notifications.

[2018-09-13 13:53] nitisht commented on #693
Should be fixed by https://github.com/minio/minio/pull/6465 . Need to observe mint-auto for new PRs to see  if it is still happening

[2018-09-13 18:48] harshavardhana commented on #693
This is fixed all the recent mint tests validate that, closing until seen again.

[2018-09-13 18:48] #693 closed

[2018-09-14 16:19] #696 closed

[2018-09-19 10:15] #695 closed

[2018-09-20 09:25] x-omak opened #699 ""io.UnsupportedOperation: fileno" when use fput_object to upload files behind proxy"
The client script behind proxy, after configure with proxy in the script.

Failed to upload files to minio server.

Error outputs:

[code]

[2018-09-22 08:49] CoolBoi567 opened #701 "Unable to catch exception while using stat_object"
Since there is no `object_exists()` function, I used `stat_object()` function to check if an object with same name exists in a bucket and catch it with an exception to pass it just that one.
Good that I got the **NoSuchKey Error** for objects which don't exist.
But I am not able to catch that specific exception.

Temporary fix which I am using is the following one. It will work fine, but may even

[2018-09-23 00:11] CoolBoi567 commented on #701
I already tried this. Doesn't work out.
Debugger catches an exception saying:
    ```NameError: global name 'NoSuchKey' is not defined```

While if I try catching all exceptions, it says

[2018-09-23 10:16] harshavardhana commented on #701
@CoolBoi567 the example posted by @kannappanr works perfectly fine

[code]

[2018-09-24 05:44] kannappanr commented on #701
@CoolBoi567 Closing this issue as answered. Please feel free to reach out to us, if you have further questions.

[2018-09-24 05:44] #701 closed

[2018-10-02 13:59] #626 closed

[2018-10-04 10:02] Praveenrajmani commented on #699
Hi @x-omak

It seems like your proxy's httpclient does not support non-canonical headers like `content-length`.. Here the normal httpclient non-canonicalizes all  the headers and then proceed.
The fix you provided will also work if we non-canonicalize the content-type header alone, like
[code]
Since the fix is actually proxy-httpclient-specific, I think it would be irrelevant to merge such specifi

[2018-10-05 16:09] harshavardhana commented on #699
HTTP response and request headers are case insensitive content-length, Content-length, Content-Length all are allowed. minio-py is correct here in its behavior @x-omak

http://www.ietf.org/rfc/rfc2616.txt

[code]

If the proxy interprets case sensitivity then it's a buggy HTTP proxy implementation and should be fixed and be compliant with HTTP RFC standards.

[2018-10-08 02:28] x-omak commented on #699
@Praveenrajmani and @harshavardhana
Got it. It seems that proxy interprets case sensitivity, minio-py is correct in its behavior for HTTP response and request headers.
Thank you!

[2018-10-08 02:28] #699 closed

[2018-10-22 15:36] rbrik opened #704 "MemoryError while upload large file"
Using **minio-py 4.0.6** to upload large file to a **minio.exe version 2018-10-18T00:28:58Z** failed with a MemoryError:

[code]

I run a tests on a Windows 10 machine with 8GB physical memory and a fix configured 8GB virtual memory. The test starts a minio server and upload a 25GB file in the same machine. For each loaded file part the _read_full()_ call increase the used memory until all physica

[2018-10-22 19:15] vadmeste commented on #704
Hey @rbrik,

Do you have any sample or short code which reproduces the issue ?

[2018-10-23 06:39] rbrik commented on #704
Here a short snippet whereby i repeatedly got the exception on a Windows 10 machine with physical memory + virtual memory < file size.

[code]

[2018-10-23 21:41] h5rdly opened #705 "parallel file download"
Hi,

First of all, cheers for this great library. While trying to figure out how to talk to S3 with "vanilla" python, I found minio-py, which is wonderfully easy to follow around, and it ended up with a self contained [snippet](https://gist.github.com/h5rdly/30e3dbb28f46ca5fdc404155438017c9) for downloading a part of a file from S3.

I was wondering - boto3 has has the S3Transfer class, which down

[2018-10-24 19:14] kannappanr commented on #705
@h5rdly Thanks for using `minio-py`. Can you elaborate more on the functionality that you are expecting?  Do you expect that just a single object be downloaded in ranges in parallel? or Do you expect lots of small files to be downloaded in parallel also?

[2018-10-25 16:58] kannappanr opened #708 "Functional test: Check if test_make_bucket_recreate test needs to be removed or modified"
This test does not throw any error in the case AWS S3, investigate if this needs to be removed.

[2018-10-25 17:00] kannappanr opened #709 "Functional test: minio-py while running in mint should exit on failure"
Continuation of issue #708
If minio-py tests fail,

1. Check if minio-py on failure returns 1 to the shell script that checks it's return value
2. If minio-py is not returning 1, we need to do so
3. If minio-py is returning 1, then we need to see why shell script is ignoring that

[2018-10-25 19:33] kannappanr commented on #708
we can simply change this line to `https://github.com/minio/minio-py/blob/master/tests/functional/tests.py#L243` `location = 'us-west-1'` This has to be tested against `azure gateway` also just to make sure that it works in other scenarios

[2018-10-25 21:00] vadmeste opened #710 "Function tests: Fail against play/"
The reason is that play.minio.io has "ue-germany" set as a region, but regional tests should not run only against AWS S3

[2018-10-25 21:07] vadmeste commented on #710
Taking this

[2018-10-25 23:06] vadmeste opened #712 "make_bucket: Specifying a non standard region fails with AWS S3"
Running the code below will fail (notice the region parameter)

[code]

[2018-10-26 17:39] Praveenrajmani commented on #709
I checked the minio-py functional test cases, It returns with proper exit code `1` if it catches an exception [https://github.com/minio/minio-py/blob/26982067494f425a4235a21f12d4c8767438a3d0/tests/functional/tests.py#L1975](url).
I ran the functional test cases and inferred the following discrepancies from both <b>s3</b> and <b>minio</b>
- <b>s3</b>
  The test cases `test_put_object` and `test_sta

[2018-10-26 19:46] Praveenrajmani commented on #709
yes @kannappanr , mint has a generic function called `run_test()` [https://github.com/minio/mint/blob/c5035ea2fa7f979a98f6a961d8ecc1ce77611672/mint.sh#L72](url) which executes the tests for all the sdks. It checks for the error code `$?` [https://github.com/minio/mint/blob/c5035ea2fa7f979a98f6a961d8ecc1ce77611672/mint.sh#L83](url) in all the runs.

[2018-10-27 22:01] h5rdly commented on #705
Hi,

A single file would be a great start. Perhaps something around the shape of:
[code]

?

Or you could use `multiprocessing.Array`, I think it may be faster. Would you like me to test out some options and make a pull request?

[2018-10-28 05:41] rkdls commented on #601
Can I open this issue? I want to PR about it

[2018-10-28 06:37] harshavardhana commented on #601
Sure

[2018-10-29 03:13] #643 closed

[2018-10-29 21:33] #708 closed

[2018-10-30 04:51] #704 closed

[2018-11-02 03:17] rkdls commented on #601
Can you explain what an ETA is?
I'm working on it. It can be displayed every 5MB.

[2018-11-02 06:40] kannappanr commented on #601
@rkdls Thanks for working on the PR. I was just checking to see when you will have the PR ready for review.

[2018-11-05 23:56] kannappanr commented on #709
@Praveenrajmani This issue does not seem to be fixed yet. I ran it now against the latest staging build in `Gateway s3` mode
[code]
[code]
The mint says success but there is a failure that is logged.

[2018-11-07 14:30] trel opened #716 ""ListObjectV2Result" XML is not parsable - probably due to non UTF-8 characters"
When trying to get a full listing of objects in a bucket...

[code]
This appears very similar to the explanation given in the s3cmd tool issue comment:
  https://github.com/s3tools/s3cmd/issues/758#issuecomment-406899282

If there are invalid UTF-8 characters in the file names... is there anything minio-py can do to handle this cleanly?

[2018-11-07 15:23] kannappanr commented on #716
@trel We will try to reproduce the issue locally. Do you have a sample file name that can be used to reproduce this issue?

[2018-11-12 06:16] Praveenrajmani commented on #709
Hi @kannappanr,

This was one such test case which was not actively raising an exception on failure rather just logging it. So mint will not treat it as an error since the error code will not be 1.

BTW, this particular test is removed in this commit `cbcf28e1849dda3c159248f91163cf38822ce4e3`.

Mint pulls from the latest release tag from [https://api.github.com/repos/minio/minio-py/releases/latest

[2018-11-12 16:22] kannappanr commented on #709
@Praveenrajmani I wanted to make sure that was the only test that was causing this behavior. Will close this issue now.

[2018-11-12 16:22] #709 closed

[2018-11-16 23:00] knipknap opened #730 "Minio Python API Client: CERTIFICATE_VERIFY_FAILED with self signed certificate"
I am using the Minio Python API client to access a Minio server running in a docker container.
I have configured SSL by mounting the (self signed) public and private key into the container.

SSL appears to be working fine with curl, when I pass the CA certificate:

[code]

But the Python client doesn't work:

[code]

Here's how I set up the connection:

[code]

I have searched the docs and Google

[2018-11-17 08:09] knipknap opened #717 "Some gaps in the documentation"
I have a hard time finding information about some of the information found in the Python Client API docs:

- `get_object()` returns an `urllib3.response.HTTPResponse` object, while `fget_object` returns an object that contains a lot of extra information (like `stat_object()` does). I am guessing that this info is also included in the HTTP response header when using `get_object()`, but the docs don

[2018-11-18 05:12] kannappanr commented on #717
@knipknap

Here is what you can do with `get_object` to get the same information like `stat_object`

[code]
As far as `list_objects` api is concerned, please take a look at https://docs.aws.amazon.com/AmazonS3/latest/API/v2-RESTBucketGET.html

`is_dir` attribute is set if the object listed is a directory. `prefix` is more like if you have lots of objects in a bucket and have already grouped based

[2018-11-18 08:13] knipknap commented on #717
Awesome, Thanks for the fast and clear response! This answers all of my questions :-).

[2018-11-18 11:57] AlloVince opened #718 "Add parameter to ListObjectsV2 to make the iteration interruptible"
Hi guys

Currently the `ListObjectsV2` in SDK is not able to start a iteration in halfway, for some small cases it is ok. But in my project, a bucket have over 100k items, if any failing happened,  I have to re-start the whole iteration from the first item, it is really unacceptable for a large bucket

According to discussion of [issue 6825](https://github.com/minio/minio/issues/6825), go lang cor

[2018-11-18 16:38] kannappanr commented on #717
@knipknap Thanks for using minio-py. I will go ahead and close this issue. We will also take a look at your questions again and see, if we need to add any of these in our documentation.

[2018-11-18 16:38] #717 closed

[2018-11-19 03:43] kannappanr commented on #718
@AlloVince Thanks for filing the issue here. We will try to implement this feature soon.

[2018-11-21 07:36] koliyo opened #719 "Asyncio API"
What about asyncio enabled API? I see some mention of it here: https://github.com/minio/minio-py/pull/536

I think it deserves an issue for discussion or clarification on status/roadmap.

[2018-11-21 07:49] harshavardhana commented on #719
There is no such requirement as of now for async IO - S3 APIs are atomic and current APIs serve all the purpose.

Can you elaborate what current APIs don't satisfy ?

[2018-11-23 10:56] koliyo commented on #719
The usecase is transferring many small files concurrently. Right now I have to resort to using threads, something like
[code]

I am not CPU-bound, so using threads is unnecessary if non-blocking async API was available.

[2018-11-23 11:49] harshavardhana commented on #719
Yes but Async API is not how S3 APIs behave, we can't see how it is useful. Mimicking Async API on a synchronous API is not useful and is unnecessarily complex.

What you are doing seems correct and is the right approach here if you want concurrency.

[2018-11-23 22:57] koliyo commented on #719
Alright, thanks for responding!

I still think this sort of IO-heavy APIs is where async operations really shines :)

[2018-11-23 22:57] #719 closed

[2018-11-24 00:39] harshavardhana commented on #719
Generally such APIs are useful for filesystem operations, where commit is a call back and you have some sort of epoll thread which queues and deques Async events.

But in S3 that is not the case PUT ( write ) completes as soon you are done sending the data and you will get a response right away after a complete of PUT.

You can still write some Async thread to poll for this but it's not meaningful

[2018-11-29 13:42] ahmedabt opened #721 "copyobject API doesn't support metadata"
copyobject API doesn't support "metadata" arg which is part of S3 specifications. It is worth to mention that it is already supported in the other SDKs.

[2018-11-29 14:17] kannappanr commented on #721
@ahmedabt Thanks for filing this issue. We will add it to this SDK.

[2018-12-04 14:16] #721 closed

[2018-12-11 20:44] tehwalris opened #724 "SignatureDoesNotMatch with multipart upload to Ceph radosgw"
We are using minio-py to upload files to our S3 server (Ceph radosgw). Uploading files over 5MiB fails with `SignatureDoesNotMatch`.

The following code is enough to reproduce the issue with Python 3.6.6, Ceph 12.2.8 and minio-py 4.0.8:

[code]

It fails with the following stacktrace:

[code]

The issue does not occur with files smaller than 5 MiB. The issue does not occur when using Minio as the

[2018-12-11 20:58] kannappanr commented on #724
@tehwalris in the case of `minio-py`, anything above 5MiB is uploaded using `multi-part` upload. In the case of `mc`, the size is `64MiB`. So, if you are trying to upload say an object of size `6MiB`, it is not using `multi-part` upload in the case of `mc`. You might have to try to upload an object of size say `70MiB`

You can try that with `mc` and with the `debug` flag turned on.

[2018-12-11 21:07] tehwalris commented on #724
@kannappanr I've tried with 500MiB files to the same Ceph/radosgw server using the Minio CLI. That works fine. [Here's the debug output](https://github.com/minio/minio-py/files/2669406/working-mcli-500MiB.txt) for a (working) example of that.

[2018-12-12 09:17] tehwalris commented on #724
I ran the code you gave with the same server, bucket and file as the working CLI example. [Here's the output.](https://github.com/minio/minio-py/files/2671192/broken-minio-py-500MiB.txt)

[2018-12-12 16:53] harshavardhana commented on #724
Most probably the bug is in Ceph server

[code]

Can you send the output of `mc` here ?

[2018-12-12 16:55] harshavardhana commented on #724
The issue is uploadid is not encoded in case of `mc`

[code]

Because of this perhaps minio-py signature calculation is wrong

[2018-12-13 11:06] tehwalris commented on #724
@harshavardhana Which output do you need exactly? It looks like you have the `mc` log that I previously uploaded.

[2018-12-13 18:54] harshavardhana commented on #724
Not needed anymore

[2018-12-26 13:47] vadmeste commented on #716
I think AWS is wrong in this, this is an example of a response from AWS:

[code]

According to this document https://www.w3.org/TR/xml/#charsets, `&#x19` is a forbidden character in any XML document, Python XML parser rejects it already but accepts many other characters such as `&#x20`.

[code]

Running the script:

[code]

[2019-01-04 08:54] #712 closed

[2019-01-09 06:25] smomni opened #726 "Customizable metadata JSON encoder"
An "TypeError: expected string or bytes-like object" is raised if I pass `metadata={'None': None}` to `fput_object`. To bypass this error, you would have to map None as "null". However, the desired encoding would be `{"None": null}` which is not possible in the current implementation ("null" != null).

Same error is raised when passing nested metadata, such as `{'foo': 'bar', 'system_info': {'oran

[2019-01-09 22:18] kannappanr commented on #726
@smomni I am not sure if S3 supports nested metadata

https://docs.aws.amazon.com/AmazonS3/latest/user-guide/add-object-metadata.html#add-object-metadata-user-defined

https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html.

Regarding to be able to pass null as a value, can you not work around it by passing an empty string?

[2019-01-10 05:40] smomni commented on #726
@kannappanr Thanks for the reply!

I tried both null and nested values with the aws cli but got similar errors (`'NoneType' object has no attribute 'encode'` and `'collections.OrderedDict' object has no attribute 'encode'`) as the cli is written in Python as well.

You may be right that nested structures are not supported. As for null values, empty strings shall suffice as replacement.

[2019-01-10 05:40] #726 closed

[2019-01-28 23:58] deekoder commented on #705
@h5rdly  we are asking the community for help for some of these features. Will you be able to help us?

[2019-02-01 23:59] kannappanr commented on #601
Closing this PR as https://github.com/minio/minio-py/pull/723 has been merged.

[2019-02-01 23:59] #601 closed

[2019-02-16 15:43] jayvdb opened #731 "Add tests to source distribution"
Please add the tests to the sdist, and ideally any extra steps needed for `setup.py test` to work, to make it easier to package and test it.

[2019-02-16 15:50] jayvdb commented on #731
Also the LICENSE needs to be included.

[2019-02-16 16:15] harshavardhana commented on #731
Unable to understand why tests should be included? Isn't `git clone ` of this repo not helpful?

[2019-02-16 17:11] jayvdb commented on #731
Spec files fetch the tarball from pypi https://build.opensuse.org/package/view_file/home:jayvdb:django/python-minio/python-minio.spec?expand=1

They do not want to clone a repo, choose a tag, etc, as those things are all different for each project.  pypi is the central authority on what each version consists of.

[2019-02-20 13:48] ahmedabt opened #732 "Minio Python SDK doesn't support touch operation"
The SDK does not support uploading a file with zero content length, this operation is used to touch files or create a virtual directory.

To reproduce the issue:
--------------------------
content = BytesIO(b"")
put_object(bucket_name=bucket_name, object_name="dummyfile", data=content, length=0)

Error:
------
minio.error.SignatureDoesNotMatch: SignatureDoesNotMatch: message: The request signature

[2019-02-20 13:49] nitisht commented on #732
Thanks for reporting @ahmedabt , we'll take a look soon

[2019-02-20 13:54] ahmedabt opened #733 "Minio Python SDK doesn't support "/" as a key"
The SDK does not support having a file with a key ends with "/". This operation is known for creating a virtual directory.

## To reproduce the issue:
content = BytesIO(b"")
put_object(bucket=bucket_name, path="dummyfolder/", data=content, length=0)

## Error:
minio.error.ResponseError: ResponseError: code: XMinioInvalidObjectName, message: Object name contains unsupported characters., bucket_name

[2019-02-20 16:19] Praveenrajmani commented on #732
Hi @ahmedabt , Ofcourse we can create zero-sized objects in minio-py.

The following script works fine for me.

[code]

And minio-py does not support `path` parameter in put. Please refer [https://docs.minio.io/docs/python-client-api-reference.html#put_object](url)

[2019-02-20 17:45] ahmedabt commented on #732
"path" was just a typo. the issue was that the key is "dummy file" with space which is not allowed. I think we can close this ticket. thanks for checking it.

[2019-02-20 17:45] #732 closed

[2019-02-20 17:46] ahmedabt commented on #733
The issue was that the key is "dummy folder" with space which is not allowed. the ticket is not needed anymore.

[2019-02-20 17:46] #733 closed

[2019-02-22 13:07] ahmedabt opened #734 "get_object doesn't return the object if the path does not starts with slash "/""
Inconsistent behavior between minio sdk get_object and boto3 s3 get_object

## To reproduce the issue:
use object_name without a slash
get_object(bucket, "directory/dummy.file").read()
it will return 0 bytes, while if you tried using slash
get_object(bucket, "/directory/dummy.file").read()
it works

## In s3 SDK, it works with both scenarios
s3_client.get_object(Bucket=bucket, Key="directory/dummy

[2019-02-22 15:49] kannappanr commented on #734
Not sure what is going on in your case and which s3 you are connecting to.

This code works against play

[code]

[2019-02-22 17:03] ahmedabt commented on #734
@kannappanr: actually it is still reproducible from my side but not on play using the example you shared

I am using minio SDK 4.0.7 and minio server RELEASE.2018-12-19T23-46-24Z and the actual path is much longer XXXX/XXXXX/XXXXXXXX/XXXX_XXXXXXXXXX/test-file1.txt

[2019-02-22 18:09] h5rdly commented on #705
@deekoder I would love to, haven't contributed to open projects before

[2019-02-22 18:44] kannappanr commented on #734
@ahmedabt I tried using version `RELEASE.2018-12-19T23-46-24Z` and unable to repro the issue there. Can you try to reproduce it on `play` with the exact `object` name that fails for you on your setup?

Also, can you give more info about your `minio` setup? which operating system are you running it on, minio mode etc.

[2019-02-26 14:44] smomni commented on #724
I'm seeing similar behavior (incorrect content-md5) when trying to upload files larger than 5 MB to DigitalOcean Spaces or Scaleway Object Storage. As a workaround, I just commented out the `Content-Md5` header in `_complete_multipart_upload`:

[code]

[2019-02-27 19:23] kannappanr commented on #734
@ahmedabt Can you please provide the information requested?

[2019-03-04 13:38] mmesbah opened #735 "Mirror support"
On [Minio client (mc) documents](https://docs.minio.io/docs/minio-client-quickstart-guide.html), we see a mirror option. However, in [Minio Python SDK reference](https://docs.minio.io/docs/python-client-api-reference.html), this is a missing feature.

Are you planning on adding this feature to Python SDK?

Thank you in advance.

[2019-03-04 15:04] kannappanr commented on #735
@mmesbah Minio Python is an SDK, so I do not think we will be adding the mirror feature to it. But will check internally and confirm.

[2019-03-05 00:24] deekoder commented on #735
You can use our APIs and build this feature @mmesbah but this is not a standard S3 API. So we may not support it.

[2019-03-06 03:59] #735 closed

[2019-03-06 04:07] harshavardhana commented on #734
Closing this issue as stale @ahmedabt feel free to reopen if it's still an issue.

[2019-03-06 04:07] #734 closed

[2019-03-08 12:11] eorsavik opened #737 "minio.error.InvalidEndpointError: InvalidEndpointError: message: Hostname cannot have a scheme."
I have downloaded Minio python SDK from here :  https://docs.minio.io/docs/python-client-quickstart-guide.html

After installation, I come to example directory "/minio-py/examples" and tried to execute following python script:  "**bucket_exists.py**"

I found the following error:
**minio.error.InvalidEndpointError: InvalidEndpointError: message: Hostname cannot have a scheme.**

Could anyone tell

[2019-03-08 12:13] nitisht commented on #737
@eorsavik can you try

`client = Minio('10.141.67.190:9010', access_key='IW9LUW5SE4Z34RAVHZ4S', secret_key='CS4FfMLrH8VUEzqyfya9uixaK3yhQ+IvJf5+vBHe',secure=False)`

[2019-03-08 22:32] vlcinsky opened #738 "allow `copy_object` with `content-type` in metadata"
Trying to use `copy_object` to copy an object from one bucket to another.

To keep the target object well functional, I need to preserve `Content-Type` and `Content-Encoding` headers.

`Content-Encoding` is possible passing it's value via `metadata`.

However, I did not succeed with `Content-Type`.

The only solution was to edit sources of [minio/helpers.py](https://github.com/minio/minio-py/blob/

[2019-03-08 22:59] poornas commented on #738
@vlcinsky , source metadata will be copied automatically to destination if you leave metadata as None in the copy_object call. You should pass metadata in the api call only if it is your intention to replace metadata in the source object.
[code]

[2019-03-09 08:22] vlcinsky commented on #738
@poornas thanks, I confirm your suggestion to leave setting metadata copied source content-type and content-encoding to target object (I did not use copy_condition too, but this is probably irrelevant).

For my use case this works well now. Thanks a lot.

In other cases, when user copying object and trying to fix content-type e.g. from `text/xml` to `application/xml` it would still be an issue.

[2019-03-09 16:16] poornas commented on #738
s3 CopyObject api allows you to entirely replace the metadata or retain the existing metadata on source side at destination, not both. If you want to keep some of the metadata at source and also add different metadata headers - then application needs to first do a stat of the object and get the metadata, then pass it in your copy_object with modifications you might need.

[2019-03-09 21:28] vlcinsky commented on #738
@poornas the concept you describe is clear and I like it (either implicitly copy all metadata or explicitly define all).

Anyway, attempting to change `content-type` failed while with `content-encoding` it succeeded. So the current implementation does not completely follow the concept.

See the PR #739. It allows modifying `content-type` via metadata, but test case https://github.com/minio/minio-p

[2019-03-09 22:45] poornas commented on #738
you are right @vlcinsky

[2019-03-11 06:36] eorsavik commented on #737
Hi Nitisht,
Even after adding "secure=False", I am facing the same error.

..../minio-py/examples$ python bucket_exists.py
Traceback (most recent call last):
  File "bucket_exists.py", line 22, in <module>
    client = Minio('http://10.141.67.190:9010', access_key='IW9LUW5SE4Z34RAVHZ4S', secret_key='CS4FfMLrH8VUEzqyfya9uixaK3yhQ+IvJf5+vBHe', **secure=False**)
  File "build/bdist.linux-x86_64/egg/m

[2019-03-11 06:54] nitisht commented on #737
please remove http from the hostname, i.e. just use 10.141.67.190:9010

[2019-03-11 07:08] eorsavik commented on #737
Thank you very much, Nitisht. It works now.

[2019-03-11 07:08] #737 closed

[2019-03-11 12:39] eorsavik opened #741 "How to add new metadata to some existing file using python SDK ?"
How is it possible to add a new metadata to an existing file using python client API ?
My objective is to add multiple new custom metadata to some existing files. I do not see any API reference for that operation.

Secondly, I want to search all the files/objects having some specific metadata set to them. Is there any API for that ?

I was referring the script "copy_object_with_metadata.py". In th

[2019-03-11 18:54] kannappanr commented on #741
@eorsavik S3 doesn't have any APIs that allows this behavior. You will have to either keep the existing metadata or replace with yours.

In your case, you can replace the existing metadata with yours. You will have download the existing metadata and add what you want to, then do a `copy` pointing to the same file.

[2019-03-11 22:07] #731 closed

[2019-03-12 08:57] eorsavik commented on #741
Thank you so much, @kannappanr .
Is it possible to search objects based on object metadata ?
Is there any API available for that ?

One way could be to call the 'stat_object' method for all the objects, parse the results and search for specific metadata.

Thanks..

[2019-03-12 16:02] kannappanr commented on #741
@eorsavik There is no API to search based on metadata, but you can have bucket notification on your Put and Delete object requests and store the metadata in a database and then query it.

You can also do `stat_object` and then parse the results.

[2019-03-12 18:45] ahmedabt opened #742 "Support max_keys parameter in list_object_v2"
Support max_keys parameter in list_object_v2 function to limits the maximum number of listed objects.

For reference: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.list_objects_v2

[2019-03-12 19:10] kannappanr commented on #742
@ahmedabt Will check internally and get back to you on this request.

[2019-03-12 23:13] kannappanr commented on #742
@ahmedabt If you look at documentation https://docs.minio.io/docs/python-client-api-reference.html#list_objects_v2 we return an iterator. You can stop iterating after the max keys are reached.

[2019-03-13 12:34] ahmedabt commented on #742
@kannappanr it is not the same, the idea is to limit the time taken and the amount of data returned from the server.

[2019-03-13 16:56] harshavardhana commented on #742
Pagination is not provided on purpose @ahmedabt Minio SDKs are richer APIs to avoids the complexities of S3 APIs.

Sending maxkeys lesser I don't think it reduces the time, it in-turn increases the chattiness where you are sending more requests to server to fetch next batch. Most time server spends is during list and sorting the first list, it is same for 100 or 1000 keys. Can you explain why was

[2019-03-13 18:20] #738 closed

[2019-03-18 09:25] eorsavik commented on #741
Thank you @kannappanr . Yes we have used stat_object to find the object containing some specific metadata. Bucket notification we have not tried yet.

[2019-03-18 09:26] #741 closed

[2019-03-18 14:03] guettli opened #743 "please provide a get_or_create() method for buckets"
This is  the example code:

[code]

Source: https://docs.minio.io/docs/python-client-quickstart-guide

This looks way to complicated for me.

Why not provide a convenient `get_or_create()` method?

[2019-03-18 20:17] kannappanr commented on #742
@ahmedabt Closing this issue based on the previous comment. Please feel free to reach out to us if you have further questions.

[2019-03-18 20:17] #742 closed

[2019-03-18 23:54] kannappanr commented on #743
@guettli We would like to keep the API here very simple.

Also, `BucketAlreadyExists` will be returned only in the case of `AWS S3`  when the bucket is owned by another user. code related to this can probably be removed from the documentation.

Only error remaining is `BucketAlreadyOwnedByYou`. Application can decide to either handle it or not.

[2019-03-19 08:07] guettli commented on #743
to simplify it would make sense.

Catching the exception, and then reraising it again does not make sense, to:
[code]

[2019-03-19 16:14] harshavardhana commented on #743
Current API abstraction is meant for create bucket our APIs are based on currently agreed upon requirement and providing easy to use equivalents.

What you are asking is a higher level abstraction where we will be consuming multiple exceptions, this is not in our intention and it's an incorrect design from our point of view.

You should write this exception handling in your application.

[2019-03-20 08:35] guettli commented on #743
my initial euphoria has sattled. Let's see what alternatives exist.

[2019-03-20 08:35] #743 closed

[2019-03-26 21:14] deekoder commented on #705
@h5rdly  we can help you. Why dont you do the code and we can show you how to send a PR?

[2019-04-10 07:37] eorsavik opened #751 "Minio example error : ImportError: No module named urllib3"
I have downloaded minio sdk from here "https://docs.min.io/docs/python-client-quickstart-guide.html" and build it from source.

However when running the example program "list_buckets.py", it gives me following error:

sammy@localhost:~/minio-py/examples$ python list_buckets.py
Traceback (most recent call last):
  File "list_buckets.py", line 19, in <module>
    from minio import Minio
  File "/usr

[2019-04-10 08:24] nitisht commented on #751
https://pypi.org/project/urllib3/ is a dependency you need to install @eorsavik . Can you install and try again?

[2019-04-10 09:18] eorsavik commented on #751
Yes I did that. But looks like there are chain of dependencies. Now I am getting different import error.
I am planning to uninstall the minio sdk which I installed from the source.  Once uninstalled, I will install it again using pip.

How can I uninstall minio sdk ?
Is it the correct command ?  ==>  $python setup.py uninstall

[2019-04-10 10:54] Praveenrajmani commented on #751
@eorsavik `python setup.py install` will install all the dependencies.

[2019-04-10 10:57] Praveenrajmani commented on #751
To uninstall, You should manually remove the installation binary in your local dist-packages (`/usr/local/lib/python2.7/dist-packages`). Or simply doing a pip install will update the binary.

Did u see any error while executing `python setup.py install` ?

[2019-04-10 11:00] eorsavik commented on #751
Somehow I managed to uninstall minio sdk.
Installed again using pip. It installed all the dependent modules as well.
Now the example programs running fine.

Hence it is recommended to install sdk using pip.

[2019-04-10 11:01] #751 closed

[2019-04-12 01:24] ebozduman opened #752 "UnitTestRefactoring: Increase test coverage for "gateway-*.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
gateway-common.go | 7.8%
gateway-env.go | 44.4%
gateway-main.go | 19.8%
gateway-unsupported.go | 0%

Please check the provided .html file to examine what lines of code in the above file(s) is/are not executed/tested during the unit test run. Executed

[2019-04-12 02:06] ebozduman opened #753 "UnitTestRefactoring: Increase test coverage for "generic-handlers.go" & "healthcheck-handler.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
generic-handlers.go | 63.5%
healthcheck-handler.go | 12.1%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown i

[2019-04-12 02:30] ebozduman commented on #752
This was supposed to be filed for `minio` repository.
Closing...

[2019-04-12 02:30] #752 closed

[2019-04-12 02:31] ebozduman commented on #753
This was supposed to be filed for `minio` repository.
Closing...

[2019-04-12 02:31] #753 closed

[2019-04-12 13:29] eorsavik opened #754 "SSLError(SSLEOFError(8, u'EOF occurred in violation of protocol (_ssl.c:590)'"
While I was trying to execute the script "python list_buckets.py", it gives me following error.

=================
.......
  File "/home/aveek/.local/lib/python2.7/site-packages/urllib3/connectionpool.py", line 672, in urlopen
    **response_kw)
  File "/home/aveek/.local/lib/python2.7/site-packages/urllib3/connectionpool.py", line 672, in urlopen
    **response_kw)
  File "/home/aveek/.local/lib/

[2019-04-12 13:30] nitisht commented on #754
Yes, looks like client is not able to connect to the server address (127.0.0.1:9000)

[2019-04-12 17:49] poornas commented on #754
from [this](https://github.com/kennethreitz/requests/issues/3337) thread, looks like unsetting proxy settings might help.

[2019-04-17 08:17] eorsavik commented on #754
No, that (Unset https_proxy and http_proxy) didn't help.
I see the following error message in the Minio server side.

ERRO[0032] Received non-HTTP message from new connection 10.81.34.160:48670 at server 10.81.34.242:9000  cause=junk message source=[listener.go:205:github.com/minio/minio/pkg/http.(*httpListener).start.func2()]

[2019-04-17 08:20] nitisht commented on #754
do you have `secure=True` set in the client constructor? If you MinIO instance is not setup with TLS, please set `secure=False`

[2019-04-17 08:45] eorsavik commented on #754
Thank you, Nitish, it solved the problem when I set secure=False.
What I need to do if I want to setup MinIO instance with TLS ?

[2019-04-17 08:46] nitisht commented on #754
you an refer https://docs.min.io/docs/how-to-secure-access-to-minio-server-with-tls

[2019-04-17 09:02] eorsavik commented on #754
Thank you so much. :)

[2019-04-17 09:05] nitisht commented on #754
Closing this as working as expected. Please join us on Slack for further questions http://slack.min.io

[2019-04-17 09:05] #754 closed

[2019-04-17 20:52] deekoder commented on #730
This is  a documentation issue. We will fix it here.

[2019-04-17 20:52] deekoder commented on #730
@sinhaashish assigning this to @eco-minio

[2019-04-18 20:53] harshavardhana opened #755 "Sporadic failures in minio-py presigned_get_object functional test"
[code]

[2019-05-07 11:13] JonasT opened #759 "Downloads created with presigned_get_object() use internal host and only work from internal host instead of using MINIO_DOMAIN as expected"
None of the URLs presigned_get_object() spits out for me work, I just wait forever and minio never answers the request. The thing is though, with the same client browser, client ip, the same minio instance & same proxy (no restarts in between) I can go into the minio UI and generate an URL directly in there, and that one **works**.

The (shortened) URL which I get from presigned_get_object which *

[2019-05-07 11:21] vadmeste commented on #759
@JonasT would you give us a minimal code which reproduces this in your case ?

[2019-05-07 11:23] JonasT commented on #759
It always works locally without the proxy in between, so I'm not too sure what is going on. But on the production server it *never* works, and as you can see the one URL does look slightly different (it has a datacenter location embedded, the working one doesn't) so I wonder if that is related?

[2019-05-07 11:32] JonasT commented on #759
(sorry, I phrased that vaguely: I was meant to say since in my dev environment it just works it will be difficult for me to trace this down to a shorter amount of code)

Is there any log file I could check that could give you a clue? In the docker container log I sadly can't see anything interesting, not even a line indicating a request happened

[2019-05-07 11:40] vadmeste commented on #759
@JonasT when you say the presigned url doesn't work ? what do you mean ? what does happen exactly ?

[2019-05-07 11:42] JonasT commented on #759
@vadmeste it hangs for a really long time (a minute or longer) then the browser gives me `Secure Connection Failed` which is probably the nginx forward proxy (to which I am connecting as the direct target) cutting off the request entirely. When I use the working URL from the UI through exactly the same proxy with the same browser with the same minio instance behind then I get an instant working do

[2019-05-07 11:44] vadmeste commented on #759
@JonasT are you sure the hangs occurs at this line ?

`url = cl.presigned_get_object(bucket_name, obj_name, expires=expires)`

[2019-05-07 11:45] JonasT commented on #759
@vadmeste no that one works fine, the hang occurs during the actual request! (the URL gets displayed to me, and I open it in the web browser)

So minio-py returns an URL just fine, it's just that the actual minio server doesn't properly hand me out the file if I ever try to use it. And any URL I get through the minio server's UI to the very same bucket & object works, and both URLs share the same

[2019-05-07 12:42] vadmeste commented on #759
@JonasT could you paste your Minio server and minio-py versions ?

[2019-05-07 12:48] JonasT commented on #759
This is the minio server version as the UI tells me right on the affected production instance: `2019-05-02T19:07:09Z` (I use the `minio` image from docker hub)

And this is the minio-py version as installed in my custom ubuntu-based website backend docker image:
[code]

[2019-05-07 14:03] vadmeste commented on #759
@JonasT I am not able to reproduce this with the same version as mentioned, do you have any short python code which reproduces this ?

[2019-05-07 14:18] JonasT commented on #759
I don't even have long code that reproduces it on my dev machine... so sadly no. But it happens 100% on my production machine, I just can't go and delete half the code there while it is up & running with visitors to find out what would be required to make it happen.

But I could add debug output of any sorts, or poke around in the minio server logs if that helps?

[2019-05-07 18:48] JonasT commented on #759
Ok I found `MINIO_HTTP_TRACE` and observed two things:

1. The file access of my web browser is logged with an instant 403 with `SignatureDoesNotMatch`. The hang is just that for some reason it takes really long to get through the proxy. Not sure why but I suppose it doesn't really matter, since there shouldn't be a 403 in the first place

2. There are many accesses to the affected bucket and othe

[2019-05-07 19:01] JonasT commented on #759
I examined the two HTTP requests (one to the broken minio-py URL, and one to the working one from the share button in the UI) as they arrive on the server, and:

1. They got exactly the same request URL, except for the `X-Amz-Credential` parameter which has an additional `us-east-1` in the string as already mentioned above for the **broken** one and that not being present for the working one, and

[2019-05-07 19:06] kannappanr commented on #759
@JonasT Is it possible that the `url` was generated using a wrong `secret key`?

[2019-05-07 19:09] kannappanr commented on #759
This is a working python script
[code]
If you modify the secret key, in this script, it will still generate a pre-signed url but will result in `signaturemismatch`

[2019-05-07 20:25] JonasT commented on #759
@kannappanr I just logged out and copied the secret from the python backend config and could log into the UI just fine, so I'm pretty sure it is correct.

However, the python backend logs in via `secure=False`/HTTP via internal direct connection unlike your example above, and while the actual download also arrives via HTTP (being HTTPS only up to the outside proxy) at the actual minio instance, it

[2019-05-07 20:44] JonasT commented on #759
Also I just checked the docs, and `MINIO_REGION` isn't present in my minio docker config/env which according to the docs that means it should be "unset". And my `Minio()` call in python also has no region parameter, which I assume corresponds to "unset" - so why does `us-east-1` appear in the `X-Amz-Credential` parameter? Is minio-py actually defaulting to `us-east-1` as region while the minio ser

[2019-05-07 20:47] kannappanr commented on #759
@JonasT If no region is set, then by default it is assumed that the region is `us-east-1`.

[2019-05-07 20:51] JonasT commented on #759
Ok I just made it work, by:

1. Taking the url which was generated with https + `MINIO_DOMAIN` in it by minio-py itself (which I haven't changed, minio-py / the minio server somehow in tandem figured out to do that)
2. Removing https + host and replacing it with http + internal docker host
3. Opening a bash prompt in the python backend container and wget'ing that modified URL

So yeah, it seems mi

[2019-05-07 20:56] JonasT commented on #759
Actually scratch that, it does generate it using the internal host :man_facepalming: I had code changing it to the `MINIO_DOMAIN` and forgot about it. So that's obviously the issue, but why would it not use the `MINIO_DOMAIN` to generate the URL and how can I make it do that? The server itself does that in the UI just fine, even though that is not how it is reached via the browser

[2019-05-07 21:13] JonasT commented on #759
After further review and stumbling across https://github.com/minio/minio-go/issues/1046 just now, I think minio-py (and all other wrappers) should either:

1. request the proper external name from the server, after all it knows the name that is reachable from the outside and uses it for its own URL generation in the host even when reached differently

OR

2. add a parameter to allow me to specify

[2019-05-07 22:10] vadmeste commented on #759
@JonasT, generating a presigned url doesn't make any active connection to the server, so actually you can put any address when initializing your client

[2019-05-07 22:14] JonasT commented on #759
ah that's a nice workaround :+1: :smile: however, in the medium turn I suggest you change this since it feels like counter-intuitive in terms of API design - it is not obvious `presigned_get_object` won't connect to the server, and the idea of making a second client that is not an actual client just to generate a proper URL is not exactly anything that came to my mind for any other similar API bef

[2019-05-07 22:26] kannappanr commented on #759
@JonasT We do connect to the server if `region` is not specified in the constructor. Because each `bucket` is associated to a ``region, we have to do that. But if the user provides the region, then it is not required to connect to the server.

In your case, the following code will work

[code]
assuming `MINIO_DOMAIN` is set to `test.com`

[2019-05-07 22:59] JonasT commented on #759
One more reason to add a proper option to `predesigned_get_object`, isn't it?

[2019-05-08 09:01] JonasT commented on #759
Actually, the current setup does worry me a lot. Because it *could* connect via the outside and I wouldn't even know, it's not like the host wouldn't be reachable that way as well.

I really think you should fix this and provide a non-hacky way to do this

[2019-05-08 11:10] vadmeste commented on #759
Are you saying we could add 'hostname' and 'region' parameter to presigned_get_object() ?

[2019-05-08 19:01] JonasT commented on #759
@vadmeste yes exactly that would be my suggestion. Add an url_hostname, url_port and url_region parameter to `presigned_get_object()`. The workaround of instantiating an actual client is IMHO too risky to recommend, at least in environments where much safer local link is available and therefore accidentally requesting/establishing a route through outside is undesirable

[2019-05-10 21:39] dwhitlow opened #760 "Minio rejects valid hostnames"
The Minio python library rejects hostnames with underscores in them. Since this is a standard separator for docker container names, this causes problems when trying to run Minio as part of a docker compose setup.

For example, with a linked container named `minio_server`, this python session should not raise an error:
[code]